<%= form_tag(emails_insurance_mail_path, :method => "post") do %>
  <table cellspacing="0" cellpadding="0" bordercolor="#4b8fae" border="1" align="center" width="460">
                        <tbody><tr>
                          <td width="506"><table cellspacing="0" cellpadding="0" border="0" bgcolor="#f0f0f0" align="center" width="458">
                            <tbody><tr>
                              <td align="center" height="47" class="FBG" colspan="3"><strong><span class="t">SOLICITUD SEGURO DE ACCIDENTE</span><br>
                                Solicito información sobre  Seguros En Línea: Seguro de Accidente<br>
                                contacte    con su representante de enter@te o llene la  solicitud.</strong></td>
                            </tr>
                            <tr>
                              <td width="234">&nbsp;</td>
                              <td width="15">&nbsp;</td>
                              <td width="210">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="right"><div align="right">
                                <p>Nombres y Apellidos: </p>
                              </div></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="nombre" name="name"></td>
                            </tr>
                            <tr>
                              <td align="right"><p>Edad:</p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="10" id="edad" name="age"></td>
                            </tr>
                            <tr>
                              <td align="right"><p align="right">Email: </p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="email" name="email"></td>
                            </tr>
                            <tr>
                              <td align="left"><p>Telefono(s):</p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="phone" name="phone"></td>
                            </tr>
                            <tr>
                              <td align="left"><div align="right">
                                <p>Dirección: </p>
                              </div></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="direccion" name="address"></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="19" colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="19" colspan="3">Comentarios</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="72" colspan="3"><textarea name="des" cols="40" rows="6" id="des"></textarea></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="72" colspan="3"><p>
                                <label>
                                  </label></p><div align="center">
                                  <%= submit_tag("Enviar Solicitud") %>
                                </div></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table>
<% end %>