<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<tbody><tr>
			<td bgcolor="#ff6600" align="center" valign="middle" height="32">
				<p align="CENTER"><font color="#ffffff"><font face="Arial" class="center"><b>Equipando hombres y
                    mujeres para el Reino de Dios </b></font></font>
				</p>
			</td>
		</tr>
	</tbody></table>
</center>
<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<col width="657">
		<col width="193">
		<tbody><tr valign="TOP">
			<td bgcolor="#663300" width="657" height="661">
				<table cellspacing="0" cellpadding="2" border="0" width="584">
					<col width="182">
					<col width="394">
					<tbody><tr>
						<td width="182" valign="TOP" height="219">
							<p align="LEFT"><img border="0" align="BOTTOM" width="180" height="180" name="graphics2" src="/images/man_bible.png"></p>
						</td>
						<td width="394">
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="5"><b>Visión</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="2"><b>Contribuír al desarrollo
                                integral de Estados Unidos y en Latinoamérica proveyendo la más alta formación
                                clínica pastoral y capacitando a capellanes, capellanas, consejeros y consejeras
                                profesionales, quienes eficientemente funcionarán como agentes de cambios en
                                instituciones nacionales, regionales, gubernamentales y privadas.</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="5"><b>Misión</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="2"><b>Promocionar la capacitación
                                y certificación profesional de hombres y mujeres en el campo del cuidado
                                pastoral y de la consejería profesional así como también el propulsar la
                                profesión de la capallanía y consejería como disciplinas comprometidas con el
                                bienestar integral de los seres humanos.</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="5"><b>Objetivos</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="2"><b>1- lograr la unidad entre
                                los capellanes a nivel nacional.</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="2"><b>2- Desarrollar institutos,
                                seminarios y conferencias dirigidas al enriquecimiento espiritual y capacitación
                                ministerial de los capellanes.</b></font></font></font></p>
							<p align="LEFT" style="margin-left: 0.39in; margin-right: 0.39in;">
							<font color="#ffffff"><font face="Arial"><font size="2"><b>3- Extender el evangelio a
                                través de todos los medios de comunicación, radio, prensa, televisión, etc.</b></font></font></font></p>
						</td>
					</tr>
				</tbody></table>
				<p><br>
				</p>
			</td>
			<td bgcolor="#ffffff" align="center" width="193">
				<p align="CENTER" class="style1"><font face="Arial, sans-serif"><font size="2" style="text-align: center;">Todos nuestros líderes trabajan árduamente para
                    mantener un buen estandar en el servicio.</font></font></p>
				<p align="CENTER" class="style1">&nbsp;</p>
				<center>
				  <table cellspacing="0" cellpadding="4" border="0" width="195" style="page-break-inside: avoid; height: 586px; font-size: 10px;">

					<col width="187">
                        <tbody><tr>
                          <td width="187" valign="TOP" height="1486" style="text-align: center; color: rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; font-size: 12px;" class="style3"><p align="CENTER">&nbsp;
                            <table cellspacing="2" cellpadding="0" border="0" width="180">
                              <tbody><tr>
                                <td align="center" width="176" valign="top"><span style="text-align: center;" class="style3"><img border="0" align="top" width="118" height="97" name="graphics6" src="/images/dr_hernandez.png"></span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top" height="21"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Obispo Reverendo</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top" height="15"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000">Dr. Enrique Hernández</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td align="center" valign="top"><span style="text-align: center;"><img width="93" height="93" alt="" src="/images/maxovice2.jpg"></span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Vice Presidente</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000" style="text-align: center;">Apostol Rev. Maxo Joseph</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td align="center" valign="top"><img width="112" height="89" src="/images/edwin_salinas.jpg"></td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Vice Presidente</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000" style="text-align: center;">Rev. Edwin Salinas</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td align="center" valign="top"><span style="text-align: center;"><img style="width: 118px; height: 91px;" alt="" src="/images/tesor_calderon.png"></span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Tesorera</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><span class="style16">Rev. Rosa Calderon</span></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Secretaria</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" face="Arial, sans-serif" color="#000000">Melissa
                                  Hernandez</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font color="#ffffff"><font face="Arial"><font size="2" class="style4"><b>Advisor</b></font></font></font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" face="Arial, sans-serif" color="#000000">Dr.Pedro Landrau</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="font-size: 10pt; color: rgb(255, 255, 255); font-family: Arial,Helvetica,sans-serif; font-weight: bold;">Superintendant New York</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top" height="14"><font size="2" style="font-size: 10pt;">Bishop Dr.Randolph
                                  Austin</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top" height="15"><font size="2" style="font-size: 10pt; color: rgb(255, 255, 255); font-weight: bold;">Superintendant Maryland</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. Balmore Ruiz&nbsp;</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="color: rgb(255, 255, 255); font-weight: bold; text-align: center;">Superintendant<span style="text-align: center;"></span><span style="text-align: right;"></span> Dominican Republic</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. Ramon Hernandez</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="font-size: 9pt; color: rgb(255, 255, 255); font-weight: bold;">Superintendant,
                                  Orlando</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev.
                                  Jose Reyes</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="font-size: 9pt; color: rgb(255, 255, 255); font-weight: bold;">Director
                                  Georgia</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev.
                                  Winston Perez</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="font-size: 9pt; color: rgb(255, 255, 255); font-weight: bold;">International
                                  Director</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. Gerson Tirado</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><font size="2" style="font-size: 9pt; color: rgb(255, 255, 255); font-weight: bold;">International Director</font></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev.
                                  Yackeline Tirado</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">International
                                  Director</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><span style="margin-left: 0.04in; font-size: 12px;" class="style18">Rev.Gesua Moreira</span></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top" class="style1"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">Superintendente</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev.
                                  Julsaint Sky Noredieu</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">Supertintendente El Salvador</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><span style="margin-left: 0.04in;" class="style18"><font size="2" style="font-size: 9pt;">Rev. Edwin Guzmán</font></span></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">Director Texas</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. José Luis Perez</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">Superintendente El Salvador</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. Edwin Guzmán</font></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td bgcolor="#000000" align="center" valign="top"><span style="margin-left: 0.04in; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold;" class="style18">Director Kissimmee</span></td>
                              </tr>
                              <tr>
                                <td bgcolor="#999999" align="center" valign="top"><font size="2" style="font-size: 9pt;">Rev. Esteban Rodríguez</font></td>
                              </tr>
                            </tbody></table></p></td>
                        </tr>
                        <tr>
                          <td width="187" valign="TOP" height="40" class="style5">&nbsp;</td>
                        </tr>
<tr></tr>
				  </tbody></table>
			  </center>
				<p align="CENTER">&nbsp;</p>
			  <p align="CENTER">&nbsp;</p>
                <p align="CENTER">&nbsp;</p>
                <p align="CENTER">&nbsp;</p>
                <p align="CENTER"><br>
				</p>
			</td>
		</tr>
	</tbody></table>
</center>