<table cellspacing="0" cellpadding="0" border="0" width="850">
    <tbody><tr>
      <td bgcolor="#ff6600" height="32"><div align="center"><span class="style7">Training men and women to the God's Reign </span></div></td>
    </tr>
  </tbody>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="848">
    <tbody><tr>
      <td bgcolor="#663333" width="656" valign="top" height="450">
        <p>&nbsp;</p>
        <table cellspacing="1" cellpadding="1" border="1" align="center" width="94%" height="372">
          <tbody><tr>
            <td width="100" height="18"><div align="center"><span class="style19">Lunes</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Martes</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Miércoles</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Jueves</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Viernes</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Sábado</span></div></td>
            <td width="100" height="18"><div align="center"><span class="style19">Domingo</span></div></td>
          </tr>
          <tr>
            <td width="14%" height="80"></td>
            <td width="14%" height="80"></td>
            <td width="14%" height="80"></td>
            <td width="14%" height="80"></td>
            <td width="14%" height="80"></td>
            <td width="15%" height="80"></td>
            <td width="15%" height="80"></td>
          </tr>
          <tr>
            <td width="14%" height="81"></td>
            <td width="14%" height="81"></td>
            <td width="14%" height="81"></td>
            <td width="14%" height="81"></td>
            <td width="14%" height="81"></td>
            <td width="15%" height="81"></td>
            <td width="15%" height="81"></td>
          </tr>
          <tr>
            <td width="14%" height="79"></td>
            <td width="14%" height="79"></td>
            <td width="14%" height="79"></td>
            <td width="14%" height="79"></td>
            <td width="14%" height="79"></td>
            <td width="15%" height="79"></td>
            <td width="15%" height="79"></td>
          </tr>
          <tr>
            <td width="14%" height="84"></td>
            <td width="14%" height="84"></td>
            <td width="14%" height="84"></td>
            <td width="14%" height="84"></td>
            <td width="14%" height="84"></td>
            <td width="15%" height="84"></td>
            <td width="15%" height="84"></td>
          </tr>
      </tbody></table>      </td>
      <td bgcolor="#ffffff" width="192" valign="top"><div align="center">
        <p align="center" class="style18"><img border="0" width="169" height="156" src="/images/handbible.jpg"> </p>
        <table cellspacing="2" cellpadding="0" border="0" width="184">
          <tbody><tr>
            <td bgcolor="#663300" align="center" valign="top" height="21"><div align="center" class="style15">Actividades Recientes </div></td>
          </tr>
        </tbody></table>
      </div></td>
    </tr>
  </tbody></table>