<center>
	<table cellspacing="0" cellpadding="0" border="0" width="851">
		<tbody><tr>
			<td bgcolor="#ffffff" width="817" valign="TOP" height="450">
				<center>
					<table cellspacing="0" cellpadding="0" border="0" bgcolor="#ff6600" width="829">
						<tbody><tr>
							<td width="828" height="26">
								<p align="CENTER"><font color="#ffffff"><font face="Arial"><b>Equipando
								hombres y mujeres para el Reino de Dios </b></font></font>
								</p>
							</td>
						</tr>
						<tr>
							<td bgcolor="#ffffff" width="828" valign="TOP" height="26">
								<p align="CENTER">&nbsp;</p>
								<p align="CENTER"><font face="Arial"><font size="4"><b>Comuníquense
								con nosotros</b></font></font></p>
								<p align="CENTER"><font face="Arial"><font size="4"><b>POBox
								450913</b></font></font></p>
								<p align="CENTER"><font face="Arial"><font size="4"><b>Kissimmee,
								FL 34745-0913</b></font></font></p>
								<p align="CENTER"><font face="Arial"><font size="4"><b>Tel:
								407-908-1418</b></font></font></p>
								<p align="CENTER"><font face="Arial"><font size="4"><b>Fax:
								407-240-7108</b></font></font></p>
								<p align="CENTER"><a href="mailto:e-mail:%20eshd2@aol.com"><font face="Arial"><font size="4">e-mail:
								eshd2@aol.com</font></font></a></p>
							</td>
						</tr>
					</tbody></table>
				</center>
			</td>
		</tr>
	</tbody></table>
</center>