<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<tbody><tr>
			<td bgcolor="#ff6600" width="850" height="22">
				<p align="CENTER"><font color="#ffffff"><font face="Arial"><b>Equipando
				hombres y mujeres para el Reino de Dios </b></font></font>
				</p>
			</td>
		</tr>
	</tbody></table>
</center>
<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<col width="0">
		<col width="200">
		<tbody><tr valign="TOP">
			<td bgcolor="#ffffff" height="450">
				<p align="CENTER" class="style17">Fotografías de actividades
				de SAICA</p>
				<p align="CENTER" class="style8">Pictures of SAICA activities</p>
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<col width="84*">
					<col width="87*">
					<col width="86*">
					<tbody><tr>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics2" src="/images/washington_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics3" src="/images/argentina_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics4" src="/images/profecia_button.png"></p>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics5" src="/images/maryland_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics6" src="/images/maygraduation_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics7" src="/images/designacionrd_button.png"></p>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<p align="CENTER"><img border="0" align="BOTTOM" width="200" height="100" name="graphics8" src="/images/tirado_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics9" src="/images/brasil_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics10" src="/images/sanford_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics12" src="/images/josereyes_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics13" src="/images/marietta_button.png"></p>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics14" src="/images/redom_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics15" src="/images/espana_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics16" src="/images/policiard_button.png"></p>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics17" src="/images/england_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics18" src="/images/viajerd_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics19" src="/images/orlando_button.png"></p>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics20" src="/images/calvario_orlando_button.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics21" src="/images/kissimmee2007_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="200" height="100" name="graphics22" src="/images/kissimmee_button.png"></p>
						</td>
					</tr>
					<tr valign="TOP">
						<td width="33%">
							<p align="LEFT"><img border="0" align="LEFT" width="203" height="96" name="graphics59" src="/images/texas5.png"><br>
							</p>
						</td>
						<td width="34%">
							<img border="0" align="LEFT" width="210" height="99" name="graphics60" src="/images/paris_button.png"></td>
						<td width="33%">
							<img border="0" align="LEFT" width="192" height="101" name="graphics61" src="/images/breakfast_button.png"></td>
					</tr>
					<tr valign="TOP">
						<td width="33%">
							<img border="0" align="LEFT" width="200" height="108" name="graphics62" src="/images/marylans2_button.png"><br clear="LEFT"></td>
						<td width="34%">
							<img border="0" align="LEFT" width="209" height="110" name="graphics63" src="/images/obama_button.png"><br clear="LEFT"></td>
						<td width="33%"><img border="0" align="LEFT" width="192" height="109" name="graphics64" src="/images/petesburg.png"></td>
					</tr>
					<tr valign="TOP">
						<td width="33%">
							<img border="0" align="LEFT" width="206" height="100" name="graphics65" src="/images/grad_brooklyn.png"></td>
						<td width="34%">
							<img border="0" align="LEFT" width="213" height="102" name="graphics66" src="/images/dist2.png"></td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="203" height="101" name="graphics67" src="/images/gano.png"></p>
						</td>
					</tr>
					<tr valign="TOP">
						<td width="33%" height="111">
							<p><img border="0" align="BOTTOM" width="203" height="103" name="graphics68" src="/images/portarthur.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="211" height="103" name="graphics69" src="/images/groves.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="203" height="103" name="graphics70" src="/images/elsalvador.jpg"></p>
						</td>
					</tr>
					<tr valign="TOP">
						<td width="33%" height="118">
							<p><img border="0" align="BOTTOM" width="203" height="103" name="graphics71" src="/images/vineland.png"></p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="210" height="108" name="graphics72" src="/images/koffi_button.png"></p>
						</td>
						<td width="33%">
							<p><img border="0" align="BOTTOM" width="206" height="108" name="graphics73" src="/images/symone_button.png"></p>
						</td>
					</tr>
					<tr valign="TOP">
						<td width="33%" height="124">
							<p><img border="0" align="LEFT" width="202" height="110" name="graphics74" src="/images/lorainohio.png"><br clear="LEFT"><br>
							</p>
						</td>
						<td width="34%">
							<p><img border="0" align="BOTTOM" width="207" height="105" name="graphics75" src="/images/salvador.png"></p>
						</td>
						<td width="33%">
							<p><br>
							</p>
						</td>
					</tr>
				</tbody></table>
				<p align="CENTER"><br><br>
				</p>
			</td>
			<td bgcolor="#ff6600">
				<p align="CENTER" class="style12">Disfrute de las imágenes
				de las actividades en las que participa el gupo de trabajo de
				SAICA. Esperamos que sean de bendición para la Gloria de
				Dios.
				</p>
				<p align="CENTER">-------------------------</p>
				<p align="CENTER" class="style7">Enjoy the pictures of the SAICA
				team. We hope the pictures bless you, to the glory of God.</p>
			</td>
		</tr>
	</tbody></table>
</center>