<table width="850" border="0" cellspacing="0" cellpadding="0" class="style25">
  <tr>
    <td width="310" bgcolor="#CCCCCC">&nbsp;</td>
    <td width="540" rowspan="2" bgcolor="#FF6600"><div class="style37">
      <blockquote>
        <p>Equipando 
          hombres y mujeres para el Reino de Dios<br />
        </p>
      </blockquote>
      
      <div class="style31">
        <blockquote>
          <table width="446" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="446"><font size="2" face="arial" class="style38">Shalom!!!!! Quiero presentarles un nuevo producto que 
            esta revolucionando la salud y es Protandim. Les envio 
            el web:<a href="http://www.mylifevantage.com/158248/default.aspx" target="_blank"> www.mylifevantage.com </a> para 
            que vean como esta ayudando <br>
            a muchas personas en la salud</font></td>
            </tr>
          </table>
        </blockquote>
      </div>
    </div></td>
  </tr>
  <tr>
    <td bgcolor="#CCCCCC"><p class="style30">Bienvenido. Accese con su correo:
      
        </p>
      <form method="post" action="/home/our_invitations">
      <p>Correo:
          <INPUT TYPE="text" NAME="palclave" SIZE=20 VALUE=""> 
          <INPUT TYPE="submit" VALUE="Acceder"><br>
      </p>
    </FORM><br></td>
  </tr>
</table>
<table width="850" border="0" cellspacing="0" cellpadding="0" class="style27">
  <tr>
    <td width="600" height="450" rowspan="2" valign="top" class="style27"><div align="center">
      <table width="574" height="137" border="0" cellpadding="0" class="style26">
        <tr>
          <td align="left" valign="top" class="style32"><div align="left">
              <p class="style28">
                  <img border="0" src="/images/foto_capellan.png" width="300" height="300"><br />
              <font face="Arial" color="#FFFFFF">
              <br />
                              <span class="style29"><span class="style31">Pero no será así entre 
                  vosotros,</span><sup><span 
                      class="style31"> </span> </sup><span class="style31">sino que el que quiera 
                  hacerse grande entre vosotros será vuestro servidor,</span></span></font> <font face="Arial" color="#FFFFFF">
              <span class="style30" id="es-RVR1960-24636">44</span><span class="style30"> y el que 
                  de vosotros quiera ser el primero, será siervo de todos.</span></font>
              <font face="Arial" color="#FFFFFF"><span class="style30" id="es-RVR1960-24637">45</span><span 
                      class="style30">
                  Porque el Hijo del Hombre no vino para ser servido, sino para servir, y para dar 
                  su vida en rescate por muchos.</span></font><span 
                      class="style30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><font face="Arial"><span 
                      class="style31"> </span></font>
              <font color="#FFFFFF">
                  <span class="style29">
              <br class="style31" />
              <br class="style31" />
                              </span><font face="Arial">
                  <span class="style30">Marcos 10:43-45</span></font></font></p>
              </div></td>
          <td width="351" rowspan="2" align="left" valign="top">
              <blockquote style="width: 226px; margin-right: 24px">
            <p align="left" class="style23">&nbsp;</p>
                  <p align="left" class="style23">Una de las características sobresalientes del 
                      ministerio de Jesús fue su compasión por los pecadores y necesitados; y por 
                      ellos dio su vida. nosotros debemos seguir su ejemplo, mandato y ser agentes de 
                      apoyo, refugio y cambio en las vidas. Algunas personas necesitan más compasión 
                      que el consejo; hay que compadecerse en lugar de juzgar. </p>
            <p align="left" class="style12">Dr. Enrique Hernandez, Presidente SAICA              </p>
            <p align="left" class="style12">&nbsp;</p>
            <table width="170" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle"><span class="style6"><img src="/images/saica_prog2.png" width="241" height="417" border="0" align="top" usemap="#Map2MapMapMap"></span>
                  <map name="Map2MapMapMap">
                    <area shape="rect" coords="27,123,219,161" href="p_peticionoracion.html">
                    <area shape="rect" coords="27,165,218,195" href="p_ayudaespiritual.html">
                    <area shape="rect" coords="26,205,219,234" href="p_ayudageneral.html">
                    <area shape="rect" coords="26,241,219,275" href="p_librovisitas.html">
                    <area shape="rect" coords="26,280,221,315" href="p_talclubsaica.html">
                    <area shape="rect" coords="25,320,220,352" href="p_estudiosbiblicos.html">
                    <area shape="rect" coords="25,358,220,393" href="p_aniversarios.html">
                  </map></td>
              </tr>
              <tr>
                <td align="center" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="middle"><span class="style12"><img src="/images/vidatv_base.png" width="168" height="80" border="0" usemap="#Map"></span>
                  <map name="Map">
                    <area shape="circle" coords="151,21,11" href="http://www.alaba.org/Spanish_Bible_80)_Old_Testament.pdf" target="_blank">
                    <area shape="circle" coords="151,62,11" href="http://www.alaba.org/Spanish_Bible_90)_New_Testament.pdf" target="_blank">
                  </map></td>
              </tr>
              <tr>
                <td width="170" align="center" valign="middle">&nbsp;</td>
              </tr>
            </table>
            </blockquote></td>
        </tr>
        <tr>
          <td width="215"><table width="233" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="74">&nbsp;</td>
                <td width="159"><a href="http://www.youtube.com/watch?v=F-uUljyKUTo" target="_blank"><img src="/images/capellan1.png" width="154" height="123" border="0"></a></td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td><span class="style22">Accede a nuestros videos de actividades especiales de SAICA a través de You 
                  Tube. Presiona los siguientes enlaces. </span></td>
                </tr>
            </table>
            <p>&nbsp;</p>
            </td>
        </tr>
        </table>
    </div></td>
    <td height="339" valign="top" bgcolor="#FFFFFF">
      <p align="center"><img border="0" src="/images/chaplain_helping.jpg" width="170" height="170"></p>
      <blockquote>
        <p align="left"><font face="Arial" size="2">Algunos de nuestras metas como 
            organización es proveer a la gente en necesidad el apoyo que necesitan en sus 
            momentos difíciles.lugar, en hospitales, en cárceles, en las calles
        nosotros le ayudaremos a encontrar a Jesús y su camino a la
        salvación.</font>        </p>
      </blockquote>
    </td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF"><p><img src="/images/saicapida_tar52.png" width="241" height="311"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</table>
