<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<tbody><tr>
			<td bgcolor="#ff6600" width="850" height="32">
				<p align="CENTER" class="style10"><font color="#ffffff"><font face="Arial">Equipando
				hombres y mujeres para el Reino de Dios</font></font></p>
			</td>
		</tr>
	</tbody></table>
</center>
<center>
	<table cellspacing="0" cellpadding="0" border="0" width="850">
		<tbody><tr valign="TOP">
			<td bgcolor="#663300" height="450" class="style1">
				<p align="CENTER" style="margin-bottom: 0in;"><img border="0" align="BOTTOM" width="600" height="320" name="graphics2" src="/images/prea600.png"></p>
				<p align="CENTER">&nbsp;</p>
				<p align="LEFT" class="style2"><font size="3" face="Arial" color="#ffffff"><u>Capellanía
				Hospitalaria</u></font></p>
				<p align="LEFT" class="style3"><font size="2" face="Arial" color="#ffffff">Es
				un servicio diseñado para ministrar a las personas
				enfermas y a los familiares de las mismas, como al personal de la
				institución. se caracteriza por ser un ministerio de
				consolación, de presencia y apoyo. La transición de
				la salud a la enfermedad provoca en la mayoría de las
				personas, experiencias indeseadas, extresantes y traumáticas.
				de igual modo se experimentan diversas emociones y alteraciones
				en la vida cotidiana, sea familiar, estudiantil o laboral que
				producen sensación de desamparo en las personas y no
				pueden ser atendidas por el equipo médico. de allí,
				la necesidad de tener entre miembros del equipo de trabajo
				personal cualificado para dar atención&nbsp; al área
				espiritual con un enfoque integral de la persona, lo cual es
				justo, la función de la capellanía de hospital.</font></p>
				<p align="LEFT" class="style2"><font size="3" face="Arial" color="#ffffff"><u>Capellanía
				Carcelaria</u></font></p>
				<p align="LEFT" class="style3"><font size="2" face="Arial" color="#ffffff">Es
				un ministerio destinado a atender de manera integral a las
				personas privadas de su libertad, sin distinción de
				credos, ideologías o grado de delito que haya cometido.
				esto no solo abarca aprisionero o prisionera, sino a los
				familiares de los mismos, oficiales y al equipo
				interdisciplinario que labora en la prisión. dada la
				condición de los actores del recinto carcelario, como las
				presiones que el tipo de trabajo origina, el confinamiento de la
				persona y el nivel de angustia de los familiares, la capellanía
				carcelaria constituye un reto para el cuidado pastoral , con
				miras a contribuir&nbsp; en la tranquilidad de los trabajadores,
				asi mismo lograr la rehabilitación de las personas con
				problemas de conducta y violación de la ley que se
				encuentran confinadas y fortaleces a los familiares durante el
				periodo que dure la privación. </font></p>
                <p align="LEFT">&nbsp;</p>
			</td>
			<td bgcolor="#ffffff">
				<p align="CENTER" class="style11">Todos nuestros líderes
				trabajan arduamente para mantener un buen estandar en nuestros
				servicios
				</p>
				<table cellspacing="2" cellpadding="0" border="0" align="center" width="184">
				  <tbody><tr>
				    <td bgcolor="#663300" valign="TOP" height="21"><p align="CENTER"><font color="#ffffff"><font size="3" class="art">President</font></font></p></td>
			      </tr>
				  <tr>
				    <td valign="TOP" height="21"><p align="CENTER"><span class="arial"><font size="3">Dr. Enrique Hernández</font></span></p></td>
			      </tr>
				  <tr>
				    <td bgcolor="#663300" valign="TOP" height="20"><p align="CENTER"><span class="arial"><font color="#ffffff"><font size="3">Vice
				      President</font></font></span></p></td>
			      </tr>
				  <tr>
				    <td valign="TOP" height="22"><p align="CENTER"><span class="arial">Rev. Maxo Joseph</span></p></td>
			      </tr>
				  <tr>
				    <td bgcolor="#663300" align="center" valign="TOP" height="22"><span class="arial"><font color="#ffffff"><font size="3">Vice
				      President</font></font></span></td>
			      </tr>
				  <tr>
				    <td valign="TOP" height="22" class="arial"><span class="arial">Rev. Edwin Salinas</span></td>
			      </tr>
				  <tr>
				    <td bgcolor="#663300" valign="TOP" height="20"><p align="CENTER"><span class="arial"><font color="#ffffff"><font size="3">Treasurer</font></font></span></p></td>
			      </tr>
				  <tr>
				    <td valign="TOP" height="18"><p align="CENTER"><span class="arial"><font size="3">Rev. Rosa Calderón</font></span></p></td>
			      </tr>
				  <tr>
				    <td bgcolor="#663300" valign="TOP" height="22"><p align="CENTER" class="style11"><font color="#ffffff"><font size="3">Secretary</font></font></p></td>
			      </tr>
				  <tr>
				    <td valign="TOP" height="20"><p align="CENTER" class="style19"><span class="arial">Melissa Hernandez</span></p></td>
			      </tr>
			  </tbody></table>
				<p align="CENTER" class="style11">&nbsp;</p>
<p align="CENTER"><a target="_blank" href="Images/manual_saica_espanol.pdf">
          <img border="0" align="BOTTOM" style="height: 100px; width: 113px;" name="graphics3" src="/images/contract_illustration.png"></a></p>
                <p align="CENTER" class="style5">Baje el Manual</p>
                <p align="CENTER"><a href="images/aplicacion_espanol.pdf">
                <img style="width: 105px; height: 132px; border-width: 0px;" src="/images/Application_image.jpg"></a></p>
                <p align="CENTER" class="style5">Aplicación</p>
			</td>
		</tr>
	</tbody></table>
</center>