  <table width="850" border="0" cellspacing="0" cellpadding="0" class="style25">
    <tr>
      <td width="310" bgcolor="#FF6600">&nbsp;</td>
      <td width="540" bgcolor="#FF6600">&nbsp;</td>
    </tr>
  </table>
  <table width="850" border="0" cellspacing="0" cellpadding="0" class="style27">
    <tr>
      <td width="600" height="319" rowspan="10" valign="top" class="style27"><div align="center">
          <table width="574" height="137" border="0" cellpadding="0" class="style26">
            <tr>
              <td width="568" colspan="2" align="left" valign="top" class="style32"><blockquote style="width: 226px; margin-right: 24px">&nbsp;</blockquote>
                <TABLE border="0" cellSpacing="0" cellPadding="0" width="569">
                  <TBODY>
                    <TR>
                      <TD width="569" align="center" valign="middle" class="style22"><STRONG class="style15">SAICA LE DA LA BIENVENIDA</STRONG></TD>
                    </TR>
                  </TBODY>
                </TABLE>
                <p class="style22">&nbsp;</p>
                <p class="style22">Estamos viviendo momentos llenos de esperanza y victoria, se nos presentan   RETOS que hace apenas unos meses atr&aacute;s no los ten&iacute;amos, Nuestros hermanos en las   Iglesias, Dios les ha permitido quedarse sin Empleo para darles mejores   alternativas para mejorar sus hogares pero principalmente sus iglesias, pero en   este proceso, nuestras Iglesias se han visto con RETOS adicionales pero con la <STRONG>PROMESA FIRME</STRONG> de <STRONG>NUESTRO SE&Ntilde;OR JESUCRISTO</STRONG> que   esta ser&aacute; la Victoria Mas Grande de todos los Tiempos de nuestras Iglesias y   Ministerios. </p>
                <TABLE border="0" cellSpacing="0" cellPadding="0" width="569">
                  <TBODY>
                    <TR>
                      <TD width="569" align="center" valign="middle" class="style22"><STRONG>Esta es la firme creencia de SAICA</STRONG></TD>
                    </TR>
                  </TBODY>
                </TABLE>
                <p class="style22">SAICA ha buscado soluciones para estos nuevos RETOS, No s&oacute;lo, pensando en   nuestras necesidades propias, sino en <STRONG>Soluciones Para   Todos.</STRONG></p>
                <p class="style22">SAICA con gran esfuerzo ha adquirido plataformas de Ingresos donde   todas nuestras Iglesias y Ministerios podr&aacute;n recibir ingresos frescos y lo   importante de esto, es que son soluciones Integradas ya que, podremos tambi&eacute;n   solucionar en gran parte el problema del desempleo, adem&aacute;s aumentaremos los   clientes a nuestros comerciantes de nuestras Iglesias de esta forma&nbsp; radicaremos   y aislamos toda situaci&oacute;n econ&oacute;mica dif&iacute;cil que nos ha tocado que enfrentar y   convertiremos toda esta situaci&oacute;n en la</p>
                <TABLE border="0" cellSpacing="0" cellPadding="0" width="564">
                  <TBODY>
                    <TR>
                      <TD width="564" align="center" valign="middle" class="style22"><strong>Victoria M&aacute;s Grande de todos los tiempos<BR>
                        de nuestas Iglesias y Ministerios<BR>
                      <BR>Unidos Somos Más<br><br>Somos SAICA<BR>Somos Soluciones Integradas</strong></TD>
                    </TR>
                  </TBODY>
                </TABLE>
                <p class="style22">Las plataformas de SAICA cuentan con Productos y Servicios, la gran parte   de estos son los de consumo natural que todos tenemos, la gran diferencia que   ahora los compraremos a trav&eacute;s de nuestras plataformas y obtendremos ingresos   importantes, adem&aacute;s con la plataforma beneficiaremos directamente a nuestra   membres&iacute;a ya que muchos de estos productos y servicios se compraran a mejores   precios, provoc&aacute;ndoles &nbsp;grandes ahorros.</p>
                <p class="style22">La Plataforma de SAICA cuenta con directorios, donde registraremos la gran parte de (comerciantes) Due&ntilde;os de negocios de hermanos cristianos de todas las Iglesias con el prop&oacute;sito que consumamos directamente en todo lo que sea posible, en solo negocios cristianos autorizados, eso nos provocara un ingreso adicional, llevando beneficio de un mejor precio por el producto o servicio a todos nuestros hermanos y a su vez le llevamos nuevos clientes a estos hermanos due&ntilde;os de negocio.</p>
                <p class="style22">La plataforma SAICA, cuenta con infinidad de recursos, desde seguros de todo tipo, pr&eacute;stamos hipotecarios y otros tipos de pr&eacute;stamos, viajes, salud, larga distancia, librer&iacute;as, productos naturales y muchas otras facilidades,&nbsp;de recursos tanto financieros como de cualquier negocio licito de acuerdo y autorizado por SAICA.</p>
                <table width="552" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="552" align="center" valign="middle" class="style22"><strong>Soluciones Inmediatas de Ingresos</strong></td>
                  </tr>
                </table>
                <p class="style22">La plataforma de SAICA cuenta con soluciones pr&aacute;cticas de ingresos inmediatos y estos son a trav&eacute;s de plataformas de tarjetas Visa, MasterCard y una plataforma propia de tarjetas Ingenicard estas aplican con los mismos servicios de Visa y MasterCard la gran diferencia es que por ser una plataforma propia se recib&iacute; ingresos mucho mayores, Realmente mucho Mayores.</p>
                <p class="style22">Por a&ntilde;os todos hemos tenido y usado una tarjeta de Visa o MasterCard, y los bancos han sido los grandes beneficiarios. Pero con nuestras plataformas ahora nuestras Iglesias y Ministerios ser&aacute;n los beneficiados, si cada miembro de nuestra iglesia o ministerio simplemente utiliza nuestra tarjeta en lugar de la tarjeta bancaria, solo con esta alternativa esta Iglesia o Ministerio  resolver&aacute;n el cash flow en menos de 60 d&iacute;as.</p>
                <p class="style22">Para dar una idea m&aacute;s clara sobre este tema, un ejemplo simple, Si una iglesia tiene 300 miembros, en esta iglesia, tienen un promedio de 1,200 Tarjetas, ya que cada persona representa como m&iacute;nimo a (3) tres personas, adem&aacute;s estas 300 miembros tienen un promedio de m&aacute;s 50 compras importantes o especiales, cambian el  autom&oacute;vil seg&uacute;n promedio cada (3) a&ntilde;os tienen un promedio de 50 hipotecas, m&aacute;s un promedio de 800 pr&eacute;stamos personales, m&aacute;s un promedio 25 pr&eacute;stamos comerciales, m&aacute;s un promedio de 1,500 remesas anuales y realizan con sus tarjetas m&aacute;s de 50,000  transacciones en el a&ntilde;o, <strong>solamente con estas 50,000 transacciones en el a&ntilde;o, una iglesia o ministerio podr&iacute;a tener m&aacute;s de US$60,000.</strong></p>
                <p class="style22">Sin contar con muchas otras compras efectivas que se realizan en el transcurso de un a&ntilde;o.</p>
                <p class="style22"><strong>En otras palabras,  &eacute;stos 300 miembros gastaron millones de d&oacute;lares y la Iglesia o Ministerio No obtuvo Ning&uacute;n beneficio, s&oacute;lo el banco.</strong></p>
                <p class="style22"><strong>Ahora podemos Cambiar, Nuestras Iglesias y Ministerios SI recibir&aacute;n beneficios de Todo con la Plataforma SAICA</strong></p>
              <p class="style22">&nbsp;</p></td>
            </tr>
          </table>
      </div></td>
        <td height="326" align="center" valign="top" bgcolor="#FF6600"><p>&nbsp;</p>
          <h3 class="style15">ACCESO A<br>ELITE ENTER@TE</h3>
          <table width="221" height="23" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="221">
                <form name="form1" method="post" action="/members/index">
                <label><span class="style29">ID de Usuario:
                  <input type="text" name="textfield" id="textfield">
                  <br>
                  Contraseña:
                  <input type="text" name="textfield2" id="textfield2">
                  <br>
<br>
                <!--img src="/images/entrar.jpg" width="66" height="34" border="0" usemap="#Map"-->
                <input type="submit" value="Entrar"></input>
		  </span><br>
                  <br>
                  <span class="style29">&iquest;Olvid&oacute; su clave? </span><br>
                  <br>
                  <span class="style15"><strong class="style15">&iquest;No esta registrado a&uacute;n?</strong></span><strong class="style30"><br>
                  <!--img src="/images/registro-boton.png" width="171" height="40" border="0" usemap="#Map2"-->                  
                  <a href="<%= new_user_registration_path %>"><img src="/images/registro-boton.png" width="171" height="40" border="0"></a>
                  </strong><br>
                </label>
              </form></td>
            </tr>
          </table>
          <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF"><img src="/images/vidatv_aviso2.jpg" width="168" height="80"></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF"><img src="/images/vidatv_ofrenda.jpg" width="168" height="80"></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF"><span class="style6"><img src="/images/saicapida_tar52.png" width="241" height="311"></span></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF"><span class="style6"><img src="/images/saicapida_tar51.png" width="241" height="260"></span></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF"><table width="252" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="252" valign="top" class="style6">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="style6"><table width="225" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="52">&nbsp;</td>
              <td width="173"><img src="/images/fondo7.png" width="168" height="259"></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td valign="top" class="style6">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
