<%= form_tag(emails_cards_mail_path, :method => "post") do %>
          <table width="412" height="159" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="53">&nbsp;</td>
            </tr>
            <tr>
              <td width="412" height="53"><fieldset>
                <legend>Datos personales </legend>
                <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Nombre (First Name)</td>
                      <td class="for_field"><input class="for_large" maxlength="50" name="name" id="name" value="" tabindex="1" title="Último Apellido" type="text" /></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span>Apellido (Last Name)</td>
                      <td class="for_field"><input class="for_large" maxlength="100" name="last_name" id="last_name"tabindex="2" title="Digite o seu sobrenome" value="" type="text" /></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Sexo</td>
                      <td><table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td><input name="gender" tabindex="3" title="Feminino" value="femenino" type="radio" /></td>
                            <td class="for_label_checkbox"> Femenino </td>
                            <td><input name="gender" tabindex="4" title="Masculino" value="masculino" type="radio" /></td>
                            <td class="for_label_checkbox"> Masculino </td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                    <tr>
                      <td class="for_label_help" width="180"><span class="red">*</span> Fecha de nacimiento</td>
                      <td class="for_field"><input class="for_medium" value=""  maxlength="10" name="birthdate" id="birthdate" onfocus="if (this.value == 'dd/mm/aaaa'){this.value = '';}" tabindex="5" title="Informe a data de nascimento no formato dd/mm/aaaa" value="dd/mm/aaaa" type="text" size="10" maxlength="10" onKeyUp="javascript:MaskData(this,event)" ></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span>Nombre de la madre</td>
                      <td class="for_field"><input class="for_large" maxlength="100" value=""  name="parent" id="parent" tabindex="6" title="Digite o nome completo de solteiro da sua mãe" type="text" /></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Documento</td>
                      <td><table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td><input name="c_doc_type"  tabindex="7" title="RG" value="RG" type="radio" /></td>
                            <td class="for_label_checkbox"> Identidad /ID Card </td>
                            <td><input name="document_type" tabindex="8" title="Habilitação" value="Habilitação" type="radio" /></td>
                            <td class="for_label_checkbox"> Licencia </td>
                          </tr>
                          <tr>
                            <td><input name="c_doc_type" tabindex="9" title="Passaporte" value="Passaporte" type="radio" /></td>
                            <td class="for_label_checkbox"> Pasaporte </td>
                            <td><input name="document_type" tabindex="10" title="SSN" value="SSN" type="radio" /></td>
                            <td class="for_label_checkbox"> SSN </td>
                          </tr>
                          <tr>
                            <td><input name="document_type" tabindex="11" title="Outros" value="Outros" type="radio" /></td>
                            <td class="for_label_checkbox"> Otro </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> Nº del documento</td>
                      <td class="for_field"><input class="for_medium" maxlength="30" name="document_number" value="" tabindex="12" title="Informe o número do seu documento" type="text" size="1" /></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span> País de emisión</td>
                      <td class="for_field"><input class="for_medium" maxlength="50" name="country" value="" tabindex="13"  type="text" size="50" /></td>
                    </tr>
                    <tr>
                      <td class="for_label" width="180"><span class="red">*</span>Estado/Provincia de emisión </td>
                      <td class="for_field"><input class="for_medium" maxlength="50" name="state" value="" tabindex="15"  type="text" size="50" /></td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
                <fieldset>
                  <legend>Dirección y contacto </legend>
                  <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Dirección</td>
                        <td class="for_field"><input class="for_large" maxlength="100" name="address" tabindex="16" title="Digite o endereço, nº e complemento" type="text" value="" /></td>
                      </tr>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Código Postal</td>
                        <td class="for_field"><input class="for_medium" maxlength="10" name="zip_code" tabindex="17" title="Digite o ZIP Code" type="text" value="" /></td>
                      </tr>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Ciudad</td>
                        <td class="for_field"><input class="city" maxlength="30"

		value=""  name="c_city" tabindex="18" title="Digite a sua cidade" type="text" />
                          &nbsp; </td>
                      </tr>
                      <tr>
                        <td class="for_label"><span class="red">*</span> Provincia/Estado</td>
                        <td class="for_field" ><select class="box_input" name="state" tabindex="19">
                          <option value="">Selecione</option>
                          <option value="AL" selected="selected">Alabama (AL)</option>
                          <option value="AK" >Alaska (AK)</option>
                          <option value="AZ" >Arizona (AZ)</option>
                          <option value="AR" >Arkansas (AR)</option>
                          <option value="CA" >California (CA)</option>
                          <option value="CO" >Colorado (CO)</option>
                          <option value="CT" >Connecticut (CT)</option>
                          <option value="DE" >Delaware (DE)</option>
                          <option value="FL" >Florida (FL)</option>
                          <option value="GA" >Georgia (GA)</option>
                          <option value="HI" >Hawaii (HI)</option>
                          <option value="ID" >Idaho (ID)</option>
                          <option value="IL" >Illinois (IL)</option>
                          <option value="IN" >Indiana (IN)</option>
                          <option value="IA" >Iowa (IA)</option>
                          <option value="KS" >Kansas (KS)</option>
                          <option value="KY" >Kentucky (KY)</option>
                          <option value="LA" >Louisiana (LA)</option>
                          <option value="ME" >Maine (ME)</option>
                          <option value="MD" >Maryland (MD)</option>
                          <option value="MA" >Massachusetts (MA)</option>
                          <option value="MI" >Michigan (MI)</option>
                          <option value="MN" >Minnesota (MN)</option>
                          <option value="MS" >Mississippi (MS)</option>
                          <option value="MO" >Missouri (MO)</option>
                          <option value="MT" >Montana (MT)</option>
                          <option value="NE" >Nebraska (NE)</option>
                          <option value="NV" >Nevada (NV)</option>
                          <option value="NH" >New Hampshire (NH)</option>
                          <option value="NJ" >New Jersey (NJ)</option>
                          <option value="NM" >New Mexico (NM)</option>
                          <option value="NY" >New York (NY)</option>
                          <option value="NC" >North Carolina (NC)</option>
                          <option value="ND" >North Dakota (ND)</option>
                          <option value="OH" >Ohio (OH)</option>
                          <option value="OK" >Oklahoma (OK)</option>
                          <option value="OR" >Oregon (OR)</option>
                          <option value="PA" >Pennsylvania (PA)</option>
                          <option value="RI" >Rhode Island (RI)</option>
                          <option value="SC" >South Carolina (SC)</option>
                          <option value="SD" >South Dakota (SD)</option>
                          <option value="TN" >Tennessee (TN)</option>
                          <option value="TX" >Texas (TX)</option>
                          <option value="UT" >Utah (UT)</option>
                          <option value="VT" >Vermont (VT)</option>
                          <option value="VA" >Virginia (VA)</option>
                          <option value="WA" >Washington (WA)</option>
                          <option value="WV" >West Virginia (WV)</option>
                          <option value="WI" >Wisconsin (WI)</option>
                          <option value="WY" >Wyoming (WY)</option>
                        </select></td>
                      </tr>
                      <!-- <tr>

	<td class="for_label">PO Box</td>

	<td class="for_field">

		<input class="for_medium" maxlength="20" name="c_po_box" tabindex="19" title="Informe o número da sua caixa postal (PO Box)" type="text" value="" />&nbsp;

	</td>

</tr> -->
                      <tr>
                        <td class="for_label"><span class="red">*</span> Teléfono</td>
                        <td class="for_field"><input class="for_medium" maxlength="14" name="cell_phone" onfocus="if (this.value == '(999) 999-9999'){this.value = '';}" tabindex="17" title="Digite o telefone residencial" value="" value="(999) 999-9999" type="text"></td>
                      </tr>
                      <tr>
                        <td class="for_label">Email</td>
                        <td class="for_field"><input class="for_large" maxlength="100" name="email" tabindex="18" title="Digite o seu email" type="text" value="" /></td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
                <fieldset>
                  <legend>Otras informaciones</legend>
                  <table class="app_form" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="for_label">Entre el código o <br />
                          nombre de quien <br />
                          lo indicó:</td>
                        <td class="for_field"><input type="text" size="30" tabindex="19" maxlength="30" name="txtquemindicou" id="txtquemindicou"  value="" />
                          <input type="button" name="Consultar" value="Consultar" onclick="consultarIndicacao()" /></td>
                      </tr>
                      <tr>
                      </tr>
                      <tr>
                        <td class="for_label">Observación</td>
                        <td class="for_field"><textarea class="for_large" cols="24" name="comment" rows="5" tabindex="20" title="Digite a sua mensagem"> </textarea></td>
                      </tr>
                      <tr>
                        <td class="for_label"> Newsletters </td>
                        <td class="for_field"><input name="newsletters" tabindex="21" value="1" type="checkbox" />
                          Si, deseo recibir emails con novedades. </td>
                      </tr>
                    </tbody>
                  </table>
                </fieldset>
                <%= submit_tag("Enviar Solicitud") %>
                
            </tr>
          </table>
<% end %>