<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">


  <div id="left_column">
                	<h1>Productos</h1>
                    <ul>
                    	<li><a href="inicio.html">Tarjetas</a></li>
                        <li><a href="p_medioriente.html">Especiales a Medio Oriente</a></li>
                        <li><a href="p_seguros.html">Seguros</a></li>
                        <li><a href="p_largadistancia.html">Larga Distancia</a></li>
                        <li><a href="p_liconducir.html">Licencia de Conducir</a></li>
                        <li><a href="p_iddpersonal.html">Credencial de Identificación</a></li>
                        <li><a href="p_clavefajas.html">Fajas</a></li>
                        <li><a href="p_portal.html">Haga su Portal</a></li>
                        <li><a href="p_vacaway.html">Promociones Especiales para Negocios</a></li>
                        <li><a href="p_lealtad.html">Programa de lealtad para Comerciantes</a></li>
                        <li><a href="p_iglestimu.html">Sistema de Generación de Fondos para Organizaciones sin Fines de Lucro</a></li>
                        <li>
                          <h2><img width="20" height="20" src="/images/spacer.gif"></h2>
                        </li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc.html">Asociados</a></li>
                        <li><img width="20" height="20" src="/images/spacer.gif"></li>
                        <li><a href="p_canal.html">REGRESAR</a></li>
                        <li><img width="180" height="368" src="/images/satisfaccion2.jpg"><br>
              </li></ul>
  </div>
              <div id="right_column">
                <h1 class="column_bottom">Promociones Especiales para Negocios</h1>
                <h2>&nbsp;</h2>
                <h2>VACACIONES A SU MANERA <br>
                </h2>
                <p> <br>
                </p>
                <p>Vacation Your Way (Vaya de vacaciones a su propio modo) <br>
                2 o 4 tiquetes ida y vuelta pare escoger de hasta 33 destinos. Cada juego de 2 tiquetes ida y vuelta requiere la compra de 1 cuarto de hotel, desde $69 por noche, para 3 a 14 noches dependiendo del destino y el aeropuerto de salida. De otra manera las personas que prefieran conducir hasta su destino pueden tomar la opción “descuento de hotel” para hoteles con descuento desde $19 por noche en Orlando, sin pago por procesamiento! Pueden hacerse las reservaciones en línea o por e-mail, también disponible el servicio de llamada sin costo.</p>
                <p><br>
                  <a target="_blank" href="http://www.impactmovie.com/fptravel1"><img border="0" width="100" height="76" src="/images/tv.jpg"></a></p>
                <p>&nbsp;</p>
                <p>Observe nuestra película de impacto &ndash; 3 minutos (disponible para versiones 2 o 4 ofertas en tarifa aérea). Esta película profesional sustenta el “Vacacione a su modo Premium” aportando credibilidad a la oferta de tarifa aérea.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" border="1" width="561">
                  <tbody><tr>
                    <td><table cellspacing="0" cellpadding="0" border="0" width="536">
                      <tbody><tr>
                        <td><h3>PRECIOS</h3></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="268"><h3>Por 4 tickets aereos ida y vuelta:</h3>
                          <p>De 25 a 99 certificados $29.95 cada uno</p>
                          <p>De 100 a mas certificados $28.95 cada uno</p></td>
                        <td width="268"><h3>Por 2 Tickets ida y vuelta:</h3>
                          <p>DE 25 a 99 certificados $21.95 cada uno</p>
                          <p>De 100 a más certificados $20.95 cada uno</p></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3><strong><img width="97" height="125" src="/images/hotel.jpg"></strong></h3>
                <h3>&nbsp;</h3>
                <h3>&nbsp;</h3>
<h3>Estadía en Hotel</h3>
                <p>3 días/2 noches o 4 días/3 noches de estadía en el hotel en cualquiera de las 90 propiedades de Ramada a lo largo de los Estados Unidos y Canada por un año. Con o sin costo de procesamiento. Con o sin un crédito de $50 para comidas. Disponible el servicio de llamada sin costo.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" border="1" width="561">
                  <tbody><tr>
                    <td><table cellspacing="0" cellpadding="0" border="0" width="547">
                      <tbody><tr>
                        <td><h3>PRECIO</h3></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="271"><h4>3 Días/ 2 Noches:</h4>
                          <p>25 certificados $39.95 cada uno</p>
                          <p>De 50 o mas certificados $29.95 cada uno</p></td>
                        <td width="276"><h4> 4 días / 3 Noches:</h4>
                          <p>Por 25 certificados $59.95 cada uno</p>
                          <p>Por 50 certificados o mas $39.95 cada uno</p></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Para mayor información consulte su representante o llene la siguiente solicitud:</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" border="0" width="500">
                  <tbody><tr>
                    <td bgcolor="#009966" height="31"><h2>Solicitud de Información</h2></td>
                  </tr>
                  <tr>
                    <td bgcolor="#cccccc" height="355"><table cellspacing="0" cellpadding="0" border="0" width="480">
                      <tbody><tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><form action="" method="post" name="form1" id="form1">
                          <p>
                            <label>Nombres y Apellidos:<br>
                              <input type="text" size="50" id="textfield" name="textfield">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Correo Electrónico:
                              <input type="text" id="textfield2" name="textfield2">
                            </label>
                            <label>Celular:
                              <input type="text" size="10" id="textfield3" name="textfield3">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Dirección:
                              <input type="text" id="textfield4" name="textfield4">
                            </label>
                            <label>Ciudad:
                              <input type="text" size="10" id="textfield5" name="textfield5">
                            </label>
                            <label>Estado:
                              <input type="text" size="4" id="textfield6" name="textfield6">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Producto que elige:
                              <input type="text" id="textfield7" name="textfield7">
                            </label>
                            <label><br>
                              <br>
                              Describa su Organización:<br>
                              <textarea rows="5" cols="45" id="textarea" name="textarea"></textarea>
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>
                              <input type="submit" value="Enviar" id="button" name="button">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                        </form></td>
                      </tr>
                    </tbody></table>                      <p>&nbsp;</p></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
<p></p>
              </div>
              <div id="right_column2">
                <table cellspacing="0" cellpadding="0" border="0" width="248">
                  <tbody><tr>
                    <td width="211"><table cellspacing="0" cellpadding="0" border="0" width="120">
                      <tbody><tr>
                        <td><strong><strong><img width="270" height="86" src="/images/mtravel.jpg"></strong></strong></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><h3>Club de programa etiquetado en privado</h3>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Beneficios xclusivos</strong></p>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Descuentos en el hotel hasta por un 50%.</strong> comparado con otras tarifas de red. Los socios obtienen un descuento extra de hasta $100 de la tarifa al por mayor. Los hoteles de agencia en el directorio califican hasta por la devolución de $100 en efectivo.</p>
                          <div>
                            <div class="bg"></div>
                          </div>
                          <div>
                            <div class="bg"></div>
                          </div>
                          <div>
                            <div class="bg"></div>
                          </div>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Descuentos en cruceros.</strong> Los cruceros reservados a través de la sección “Crucero con retorno de dinero” califican para la devolución de $100 en efectivo.</p>
                          <p>&nbsp;</p>
                          <p><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Los Paquetes Vacacionales reservados a través de la sección “paquetes” <strong>califican para la devolución de $100 en efectivo.</strong></p>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">”Descuentos en Viajes”</strong>. La sección “socios especiales” bajo el tabulador “ofertas” contienen especiales exclusivas solo para socios: 25% de descuento en todos los hoteles incluidos en el caribe, 20% de descuento en tarifas aéreas de transportador, 10% de descuento en tiquetes y pases para atracciones en las ciudades, y mucho más.</p>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">”Descuentos en restaurantes”.</strong> Los socios pueden comprar certificados de regalo de $25 para restaurantes por $6 cada uno. Puede escoger entre miles de restaurantes finos y comedores casuales en todo el país.</p>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Descuentos en tiquetes para atracciones.</strong> Los socios tienen acceso a descuentos hasta del 45% en atracciones a lo largo de todo el país, tiquetes comprados anticipadamente, para atracciones tales como Seis Banderas, Mundo Marino, Disneylandia, Estudios Universal y muchos más.</p>
                          <p>&nbsp;</p>
                          <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">Los miembros de los descuentos en entretenimiento tienen acceso a descuentos hasta del 40% de tiquetes para cines</strong>, si estos son comprados anticipadamente, para más de 10 cadenas de teatros a lo largo del país.</p>
                          <p>&nbsp;</p>
                        <p><strong><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif">”Descuentos diarios”.</strong> Los socios tienen acceso a descuentos solo para socios, servicio para automóviles, servicio para teléfonos celulares, electrónica, libros, alquiler de películas, moda, joyería, cupones en supermercados, comida para mascotas, tarjetas de regalo y mucho mas…</p>
                        <p>&nbsp;</p></td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                </tbody></table>
                <p><a target="_blank" href="http://www.viewletcentral.com/vc/viewlet/820917982/"><img border="0" width="100" height="76" src="/images/tv.jpg"></a></p>
<p>&nbsp;</p>
                <p>Conozca mas de Member Travel en este videoexplicativo:</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h4>PRECIO POR MEMBRECIAS DE MEMBERTRAVEL</h4>
                <p>$149 dolares de por vida cada una</p>
                <p>&nbsp;</p>
                <h4>PRECIO DE MEMBERTRAVEL POR 50 MEMBRECIAS</h4>
                <p>$110 por cada una</p>
                <p>&nbsp;</p>
                <h4>PRECIO POR 100 MEMBRECIAS MEMBERTRAVEL </h4>
                <p>$80 Dolares cada una</p>
                <p>&nbsp;</p>
                <h4>PRECIO POR 200 MEMBRECIAS O MAS</h4>
                <p>$69 Dolares cada una</p>
                <p></p>
                <p>&nbsp;</p>
                <h4>&nbsp;</h4>
                <h4></h4>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>