
<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Nuestras Tarjetas</h1>
                    <ul>
                    	<li><a href="/members/index">Inicio</a></li>
                    	<li><a href="/products/americas_cards_visa">The America Cards - Visa</a></li>
                    	<li><a href="/products/tal_elite_visa">Tal Elite enter@te - Visa</a></li>
                        <li><a href="/products/elite_ingenicard">Elite enter@te - Ingenicard</a></li>
                        <li><a href="/products/tal_cash_ingenicard">Tal Cash Ingenicard</a></li>
                        <li><img width="20" height="20" src="/images/spacer.gif"></li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg-tar.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc-tar.html">Asociados</a></li></ul>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <table cellspacing="0" cellpadding="0" border="0" width="100">
                  <tbody><tr>
                    <td><object width="506" height="219" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                      <param value="anima.swf" name="movie">
                      <param value="high" name="quality">
                      <embed width="506" height="219" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="anima.swf">
                    </object></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" border="0" width="507">
                  <tbody><tr>
                    <td colspan="4"><img width="500" height="350" src="/images/info_visa.jpg"></td>
                  </tr>
                  <tr>
                    <td colspan="4"><table cellspacing="0" cellpadding="0" border="0" width="100">
                      <tbody><tr>
                        <td colspan="2"><p>La tarjeta Las AmericasCard es una una tarjeta exclusiva para la industria y el comercio y para las organizaciones que deseen pagar por el sistema payroll.</p>
                        <p>&nbsp;</p>
                        <p>Si usted desea adquirir el sistema de payroll por favor llene la solicitud adjunto y un representante de Elite Enter@te le visitará.</p>
                        <p>&nbsp;</p></td>
                      </tr>
                      <tr>
                        <td><img width="250" height="150" src="/images/7-americas.jpg"></td>
                        <td><img width="237" height="156" src="/images/9-lasamericas.jpg"></td>
                      </tr>
                      <tr>
                        <td>Precio anual*: $19.95</td>
                        <td>Precio anual*: $19.95</td>
                      </tr>
                      <tr>
                        <td>Precio mensual*: $4.95</td>
                        <td>Precio mensual*: $4.95</td>
                      </tr>
                      <tr>
                        <td><strong><img border="0" width="113" height="22" usemap="#Map6MapMap2" src="/images/vinculo.png"></strong><strong>
                          <map id="Map6MapMap2" name="Map6MapMap2">
                            <area target="_blank" href="http://elite.theamericascard.com/" coords="4,1,111,22" shape="rect">
                          </map>
                        </strong></td>
                        <td><strong><img border="0" width="113" height="22" usemap="#Map6MapMap" src="/images/vinculo.png"></strong><strong>
                          <map id="Map6MapMap" name="Map6MapMap">
                            <area target="_blank" href="http://elite.theamericascard.com/" coords="4,1,111,22" shape="rect">
                          </map>
                        </strong></td>
                      </tr>
                      <tr>
                        <td><a href="p_precios_americascard.html">Otros costos  aplican</a><a href="p_precios_talcash.html"></a></td>
                        <td><a href="p_precios_americascard.html">Otros costos aplican</a></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody></table></td>
                  </tr>
                  <tr>
                    <td colspan="2"><p>&nbsp;</p>
                      <p></p>
                    <p></p></td>
                    <td width="42" valign="top">&nbsp;</td>
                    <td width="225">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4"><img width="500" height="213" src="/images/pida_tar3.png"></td>
                  </tr>
                  <tr>
                    <td colspan="4"><img width="500" height="213" src="/images/pida_tar4.png"></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2"><h2>Elite Enter@te Tal Card</h2></td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><p align="left">Elite Enter@te Tal Card es una Joint Venture <span title="Clique para mostrar traduções alternativas">entre las compañíias Elite</span>&nbsp;<span title="Clique para mostrar traduções alternativas"><a onclick="onClickUnsafeLink(event);" href="mailto:Enter@te">Enter@te</a></span>&nbsp;y Network Card Systems Corp (Nesysco Card)<span title="Clique para mostrar traduções alternativas">,</span><span title="Clique para mostrar traduções alternativas">establecida</span>&nbsp;<span title="Clique para mostrar traduções alternativas">para</span>&nbsp;<span title="Clique para mostrar traduções alternativas">ofrecer</span>&nbsp;<span title="Clique para mostrar traduções alternativas">los</span>&nbsp;</p>
                      <p align="left"> <span title="Clique para mostrar traduções alternativas">mejores medios</span>&nbsp;<span title="Clique para mostrar traduções alternativas">alternativos</span>&nbsp;<span title="Clique para mostrar traduções alternativas">de pagos</span><span title="Clique para mostrar traduções alternativas">,</span>&nbsp;<span title="Clique para mostrar traduções alternativas">transferencia electrónica de</span>&nbsp;<span title="Clique para mostrar traduções alternativas">dinero</span>&nbsp;a través de&nbsp;<span title="Clique para mostrar traduções alternativas">tarjetas pre-pagadas</span>&nbsp;<span title="Clique para mostrar traduções alternativas">de débito r</span><span title="Clique para mostrar traduções alternativas">ecargable</span>&nbsp;&nbsp;<span title="Clique para mostrar traduções alternativas">/</span>&nbsp;<span title="Clique para mostrar traduções alternativas">ATM</span>&nbsp;<span title="Clique para mostrar traduções alternativas">a nivel internacional, con servicios, beneficios y descuentos agregados para nuestros clientes en todo el mundo</span>.</p>
                    <p align="left"></p></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2"><h2>Conozca los precios</h2></td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><p><img width="269" height="172" src="/images/1-elitenterate.jpg">
                    </p>
                      <p>Membrecía  anual*: $19.95</p>
                      <p>Precio mensual*: $9.95</p>
                      <p>&nbsp;</p>
<p><strong><a href="p_el_en_ing_solcliente.html"><img border="0" width="171" height="22" src="/images/vinculo-cliente.jpg"></a></strong></p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p><a href="p_precios_elitenterate-ing.html">Otros costos aplican</a></p>
                      <p>&nbsp;</p>
                      <p><strong> Tarjeta de promociones especiales personalizada, esta es una tarjeta que mensualmente el tarjeta-habiente recibe promociones y descuentos de productos y servicios es una tarjeta donde se obtiene grandes ahorros.</strong></p>
                      <p>&nbsp;</p>
                      <p>Es una tarjeta que se emite a traves de  una solicitud y la persona solcitante debe tener SSN,&nbsp; INT (TxID),&nbsp;  licencia vigente de conducir (De cualquier&nbsp; país), cédula de identidad, pasaporte. Esta  tarjeta se enviará al  tarjeta-habiente via correo en el término de 15 dias hábiles.
                        Se  puede enviar tarjetas extras para su familia en cualquier parte del mundo y  hacer transferencia de tarjeta a tarjeta.</p>
                      <p>&nbsp;</p>
                    <p>Ademas, toda organización o asociado <strong>elite  enter@ate</strong> podrá en su país de origen, iniciar su propio negocio de plataforma  de tarjetas sin ningun costo adicional, Mayor información en nuestro correo <a href="mailto:enterate@yhaoo.com">informacion@solotarjetas.net</a></p></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><hr></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><p><img width="269" height="170" src="/images/6-premium.jpg"></p>
                      <p>Membrecía anual*: $19.95</p>
                      <p>Precio mensual*: $5.95</p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p><strong><img border="0" width="113" height="22" usemap="#Map2Map" src="/images/vinculo.png">
                        <map id="Map2Map" name="Map2Map">
                          <area href="mail2.html" coords="1,1,110,20" shape="rect">
                      </map>
                      </strong></p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p><a href="p_precios_elitenterate-visa.html">Otros costos aplican</a></p>
                      <p>&nbsp;</p>
                      <ol>
                        <li><strong> Tarjeta Personalizada.</strong> Esta es una tarjeta que se emite a traves de  una solicitud y la persona solcitante tiene que tener SSN,&nbsp; INT (TxID),&nbsp;  Licencia Vigente de Conducir (De cualquier&nbsp; pais), cedula de identidad, pasaporte. Esta  tarjeta le llegara la tarjeta habiente via correo en  15 dias hábiles.</li>
                      </ol>
                      <p></p>
                      <p>&nbsp;</p>
                      <p>Se puede enviar tarjetas extras para su familia en cualquier parte del mundo y hacer transferencia de tarjeta a tarjeta.
                    Mayor información a nuestro correo informacion@solotarjetas.net </p></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><hr></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><p><img width="269" height="165" src="/images/3-talcash.jpg"></p>
                      <p>Precio de emisión instantánea*: $19.95</p>
                      <p>* Otros costos se aplican</p>
                      <p><strong><img border="0" width="171" height="22" usemap="#MapMap2" src="/images/vinculodatos-cliente.jpg">
                        <map id="MapMap2" name="MapMap2">
                          <area href="p_tal_cash_solcliente.html" coords="2,1,168,19" shape="rect">
                        </map>
                      </strong></p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p><a href="p_precios_talcash.html">Otros costos aplican</a></p>
<p></p>
                      <p>&nbsp;</p>
                      <p><strong>Tarjeta de Emisión Instantánea no personalizada.  (Preferred Customer)&nbsp;</strong> Esto significa que  no tiene el nombre del tarjeta habiente, solamente la posibilidad de usar el nombre de la instituición que  esta distribuyendólas individualmente. </p>
                      <p>&nbsp;</p>
                      <p>La persona para hacer nuevas  transacciones, tiene que registrarse en el sistema Elite Enterate (Ingenicard), haciendo actualización de su tarjeta.</p>
                      <p>&nbsp;</p>
                    <p>La persona también puede solicitar una tarjeta personalizada Elite Enter@te Ingenicard o la tarjeta de membrecía Tal Club Elite Enter@te Ingenicard.</p></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4"><hr></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2"><h2>¡Qué Tal, ....</h2></td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="42" valign="top" rowspan="3"><h2><img width="32" height="48" src="/images/ico_cash.gif"></h2></td>
                    <td width="198" valign="top" rowspan="3">Hacer <strong>compras</strong> y utilizar<strong> servicios</strong> en los diferentes establecimientos afiliados a la bandera Ingenicard&reg; y hacer transaciones en todos los establecimientos que aceptan Debit Card en todo el mundo y también hacer retiros en cajeros automáticos en las redes asociadas en todo el mundo. </td>
                    <td valign="top"><img width="32" height="48" src="/images/ico_cash.gif"></td>
                    <td valign="top"><p>Hacer compras y utilizar servicios en todos los establecimientos afiliados a la  bandera Visa&reg; y también hacer retiros en cajeros automáticos con el logo  VISA&reg;, Plus&reg;, InterLink&reg; y Star&reg; </p></td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top"><img width="32" height="48" src="/images/ico_brazil.gif"></td>
                    <td valign="top" rowspan="4"><strong>Recibir depósitos en dinero, hacer recargas en&nbsp;</strong>tu tarjeta, y&nbsp;<strong>transferir o enviar dinero&nbsp;</strong>para otros usuarios del nuestras tarjetas Ingenicard&reg; o Visa&reg;  como por ejemplo, la cuenta o tarjeta de tus familiares en Latinoamérica y el mundo </td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top"><img width="32" height="48" src="/images/ico_phone.gif"></td>
                    <td valign="top" rowspan="2">Tener facilidades adicionales como&nbsp;<strong>el pago de cuentas, llamadas internacionales súper económicas, y estar cubierto por un seguro de accidentes personales*&nbsp;</strong>? </td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="2">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4"><h2>¿Que es el Elite Enter@te Tal Card?</h2></td>
                  </tr>
                  <tr>
                    <td colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4"><p><a onclick="onClickUnsafeLink(event);" href="mailto:Enter@ate">Enter@ate</a>&nbsp;Tal Card es una tarjeta de débito prepago que usted puede  usarla en sus compras, pagos de cuentas, sacar dinero, hacer transferencias etc., y puede ser adquirido en los Estados Unidos con bandera VISA y en todo el mundo con badera Ingenicard, en estas versiones: </p>
                      <ul>
                        <li>Tarjeta de emisión instantánea con&nbsp; con transacciones autorizadas por seña en la bandera Ingenicard&reg;.</li>
                        <li>Tarjeta de emisión instantánea con&nbsp; con transacciones autorizadas por firma o seña en la bandera Visa&reg;.</li>
                        <li>Tarjeta personalizada, con bandera Ingenicard&reg; y transacciones autorizadas por seña.</li>
                        <li>Tarjeta personalizada, con bandera Visa&reg; y transacciones autorizadas por firma o por seña.</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
<p></p>
<p>

</p>
<p></p>
              </div>
              <div id="right_column2">
                <table cellspacing="0" border="0" width="280">
              <tbody><tr>
                <td align="center" width="358" valign="top"><p><img width="270" height="381" src="/images/tarjetas1b.png"></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p></td>
              </tr>
              <tr>
                <td><strong>¿Cómo funciona Ingenicard&reg;?</strong></td>
              </tr>
              <tr>
                <td><table cellspacing="0" border="0" width="278">
                  <tbody><tr>
                    <td width="20"><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001.gif"></td>
                    <td width="271">La    Tarjeta Ingenicard es una tarjeta prepagada y  débito, no es una tarjeta de    crédito.</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001_0003.gif"></td>
                    <td>Los    tarjeta-habientes pueden utilizar su tarjeta (hasta el valor de la tarjeta)    en los autorizados<br>
establecimientos.</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001_0003.gif"></td>
                    <td>Tarjeta    opera en una red segura, privada lo que le permite realizar compras en las    tiendas participantes<br>
en la red. </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001_0003.gif"></td>
                    <td>Los miembros    puedem autorizar una compra con tarjeta introduciendo su PIN en un    dispositivo del punto de venta. </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><img width="10" height="10" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" src="index_clip_image001_0003.gif"></td>
                    <td>Con varias    tarjetas permite que un miembro de la tarjeta para transferir dinero de    inmediato a otra tarjeta.</td>
                  </tr>
                </tbody></table>
                  <p>&nbsp;</p>
                  <table cellspacing="0" cellpadding="0" border="0" width="278">
                    <tbody><tr>
                      <td bgcolor="#eaeaea" align="center" width="52" valign="middle" height="71"><img width="26" height="26" src="/images/ico_features1.jpg"></td>
                      <td bgcolor="#eaeaea" width="239">No    se requiere cuenta bancaria - la flexibilidad y el acceso que tiene que hacer    más </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle" height="69"><img width="26" height="26" src="/images/ico_features2.jpg"></td>
                      <td>Acceda    a más de 300.000 cajeros automáticos en los EE.UU. y más de 1.000.000    millones en todo el mundo </td>
                    </tr>
                    <tr bgcolor="#eaeaea">
                      <td align="center" valign="middle" height="64"><img width="26" height="26" src="/images/ico_features3.jpg"></td>
                      <td>Tarjeta    recargable desde cualquier cajero automático o aprobado Mercante Ingenicard </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle" height="47"><img width="26" height="26" src="/images/ico_features4.jpg"></td>
                      <td>tarjeta    de inmediato a la tarjeta de transferencia - hasta 5 tarjetas por hogar </td>
                    </tr>
                    <tr bgcolor="#eaeaea">
                      <td align="center" valign="middle" height="44"><img width="26" height="26" src="/images/ico_features5.jpg"></td>
                      <td>Fácil,    compra segura en línea y pago de facturas </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle"><img width="26" height="26" src="/images/ico_features6.jpg"></td>
                      <td>Administrar    su cuenta en línea o desde su teléfono seguro - en cualquier momento,    aniwhere </td>
                    </tr>
                    <tr bgcolor="#eaeaea">
                      <td align="center" valign="middle" height="67"><img width="26" height="26" src="/images/ico_features7.jpg"></td>
                      <td>Hacer    llamadas nacionales e internacionales utilizando su tarjeta de cajero    automático, se disponible en su region. </td>
                    </tr>
                  </tbody></table>
                <p>&nbsp;</p></td>
              </tr>
              <tr>
                <td><img border="0" width="267" height="339" usemap="#MapMap" src="/images/fondo4.jpg">
                  <map id="MapMap" name="MapMap">
                    <area target="_blank" href="http://www.allpointnetwork.com/" coords="93,138,165,178" shape="rect">
                    <area target="_blank" href="http://www.accelexchange.com/atmLocator.aspx" coords="38,343,221,382" shape="rect">
                    <area target="_blank" href="http://www.star.com/locator/" coords="76,38,129,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="9,43,73,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="133,37,256,81" shape="rect">
                </map></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              </tbody></table>
            <p>&nbsp;</p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>




        </div>