<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">


  <div id="left_column">
                	<h1>Productos</h1>
                    <ul>
                    	<li><a href="inicio.html">Tarjetas</a></li>
                        <li><a href="p_medioriente.html">Especiales a Medio Oriente</a></li>
                        <li><a href="p_seguros.html">Seguros</a></li>
                        <li><a href="p_largadistancia.html">Larga Distancia</a></li>
                        <li><a href="p_liconducir.html">Licencia de Conducir</a></li>
                        <li><a href="p_iddpersonal.html">Credencial de Identificación</a></li>
                        <li><a href="p_clavefajas.html">Fajas</a></li>
                        <li><a href="p_portal.html">Haga su Portal</a></li>
                        <li><a href="p_vacaway.html">Promociones Especiales para Negocios</a></li>
                        <li><a href="p_lealtad.html">Programa de lealtad para Comerciantes</a></li>
                        <li><a href="p_iglestimu.html">Sistema de Generación de Fondos para Organizaciones sin Fines de Lucro</a></li>
                        <li>
                          <h2><img width="20" height="20" src="/images/spacer.gif"></h2>
                        </li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg-portal.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc-portal.html">Asociados</a></li>
                        <li><img width="20" height="20" src="/images/spacer.gif"></li>
                        <li><a href="p_canal.html">REGRESAR</a></li>
                        <li><img width="180" height="368" src="/images/satisfaccion2.jpg"><br>
            </li></ul>
</div>
              <div id="right_column">
                <h1 class="column_bottom">Haga su Portal</h1>
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" border="0" width="399">
                  <tbody><tr>
                    <td width="399"><object width="400" height="300">
                      <param value="offsite=true&amp;lang=es-us&amp;page_show_url=%2Fphotos%2Fluismorello%2Fsets%2F72157624810871510%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fluismorello%2Fsets%2F72157624810871510%2F&amp;set_id=72157624810871510&amp;jump_to=" name="flashvars">
                      <param value="http://www.flickr.com/apps/slideshow/show.swf?v=71649" name="movie">
                      <param value="true" name="allowFullScreen">
                      <embed width="400" height="300" flashvars="offsite=true&amp;lang=es-us&amp;page_show_url=%2Fphotos%2Fluismorello%2Fsets%2F72157624810871510%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fluismorello%2Fsets%2F72157624810871510%2F&amp;set_id=72157624810871510&amp;jump_to=" allowfullscreen="true" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" type="application/x-shockwave-flash">
                    </object></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
                <p>El diseño de su Web Site, por solo $180,00 donde el registro del   dominio de sunombre.com y hospedaje del primer año le sale Gratis.</p>
                <p>&nbsp;</p>
                <p><strong>Sitio Web según su estilo, por ejemplo, cooporativa, educación   infantil, evento, servicios, en fín va tomar el aspecto que Ud. decida, emarcado   según de los ejemplos suministrados, no incluye ninguna rutina en flash, pero si   incluye la posibilidad de conectarce a twitter y facebook, para el cual deberá,   abrir sin cargo adicional cuentas en twitter y facebook, lo que enmarca su   web en una web site Web 2.0. </strong></p>
                <p>&nbsp;</p>
                <p><strong>Desarrollo e Implementación del portal en 1 idioma   (hasta 5 páginas) &nbsp;(Ej: Home-Nosotros-Servicios-Productos-Contacto) </strong></p>
                <p>&nbsp;</p>
                <p>Dispondrá   del hosting (hospedaje) por 12 meses, lo que implica una renocavión anual de   $120 en el mes 12. El costo de este servicio es de $180 lo que implica   que el hospidaje del primer año le sale Gratis                </p>
                <p>
                &nbsp;
                </p><table cellspacing="0" cellpadding="0" border="0" width="500">
                  <tbody><tr>
                    <td bgcolor="#009966" height="31"><h2>Solicitud de Información</h2></td>
                  </tr>
                  <tr>
                    <td bgcolor="#cccccc" height="355"><table cellspacing="0" cellpadding="0" border="0" width="480">
                      <tbody><tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><form action="" method="post" name="form1" id="form1">
                          <p>
                            <label>Nombres y Apellidos:<br>
                              <input type="text" size="50" id="textfield" name="textfield">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Correo Electrónico:
                              <input type="text" id="textfield2" name="textfield2">
                            </label>
                            <label>Celular:
                              <input type="text" size="10" id="textfield3" name="textfield3">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Dirección:
                              <input type="text" id="textfield4" name="textfield4">
                            </label>
                            <label>Ciudad:
                              <input type="text" size="10" id="textfield5" name="textfield5">
                            </label>
                            <label>Estado:
                              <input type="text" size="4" id="textfield6" name="textfield6">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>Producto que elige:
                              <input type="text" id="textfield7" name="textfield7">
                            </label>
                            <label><br>
                              <br>
                              Describa su Organización:<br>
                              <textarea rows="5" cols="45" id="textarea" name="textarea"></textarea>
                            </label>
                          </p>
                          <p>&nbsp;</p>
                          <p>
                            <label>
                              <input type="submit" value="Enviar" id="button" name="button">
                            </label>
                          </p>
                          <p>&nbsp;</p>
                        </form></td>
                      </tr>
                    </tbody></table>
                      <p>&nbsp;</p></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
<p></p>
              </div>
              <div id="right_column2">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Para un éxito en la puesta en marcha de esto, siga con atención estas   concideraciones antes de llenar el custionario de la orden:</p>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li><span class="resalte">Identifique los colores de cliente</span>, si no los tiene trate de ver que le   gusta.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li><span class="tit">Obtenga de cliente toda información</span> posible, de ser posible de manera   digital, ejemplo logos, flayerÝ's, documento en word que hable de sus productos   y servicios, de no tenerlos los deberá generar.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li>Una caja (box) en la forma que deberá llenar al final, le servirá para el   <span class="tit">envio de todo el material</span> digital.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li><span class="tit">Hacerle firmar documento de pago</span>, donde facilita datos de su tarjeta de   crédito y/o débito.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li>Obtenga de cliente toda información posible, de ser posible de manera   digital, ejemplo <span class="tit">logos, flayers, documento en word o texto que hable de sus   productos y servicios</span>, de no tenerlos los deberá generar.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li><span class="tit">Obtenga hasta cinco opciones de nombre</span> .com o .net o .eu para selecionar</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li><span class="tit">Todo lo descrito en esta lista será utilizado en formulario</span>, llene cuando se   asegure de tener todo.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li>Incluyendo <span class="tit">dirección y teléfonos,</span> entre otras cosas.</li>
                </ul>
                <p>&nbsp;</p>
                <ul type="disc">
                  <li>Llene el formulario que sigue: pulsando el boton adquirir</li>
                </ul>
<p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>