<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">


  <div id="left_column">
                	<h1>Fajas</h1>
                    <ul>
                    	<li>
                    	  <div id="left_column2">
                    	    <ul>
           	          <li><a href="p_canal.html">Regresar</a></li></ul></div></li></ul>
                  <p>&nbsp;</p>
<br>
              </div>
              <div id="right_column">
                <h1 class="column_bottom">Fajas para mujer</h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <p>Este producto es exclusivo para mujeres. Es estrictamente prohibido que menores de edad lo visiten</p>
                <p>Para poder verlo ingrese su correo autorizado.</p>
                <p>&nbsp;</p>
                <form>
<p>Introduce correo autorizado</p>
<input type="text" value="" size="25" name="palclave">
<input type="button" onclick="Saltar(this.form.palclave.value)" value="Acceder">
</form>


            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p></p>
              </div>
              <div id="right_column2">
                <table cellspacing="0" border="0">
              <tbody><tr>
                <td align="center" valign="middle"><table cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
            <p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>