<p>Hola <%= @resource.email %>!</p>

<p>Este correo se envi&oacute; debido a una petici&oacute;n de cambio de contraseña, esto se puede realizar a trav&eacute;s del siguiente enlace.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si ud. no realiz&oacute; dicha petici&oacute;n, pro favor ignore este correo.</p>
<p>Su contraseña no ser&aacute; modificada hasta que se accese el enlace de arriba y se cree una nueva clave.</p>
