        <div id="main_container">
        <div id="menu"> </div>
        
        <div id="columns">
          <div class="column_container">
            	
                
          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a href="http://www.eliteunderwriters.com/" target="_blank">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>
                    
                    
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br />
            </div>
            <div id="right_column">
              <h1>Seguro de Accidente las 24 horas - Hasta $10.000</h1>
              <table width="547" align="center">
                <tr>
                  <td width="539" align="left" valign="middle"><h4><img src="/images/sgr1.jpg" width="144" height="180" /></h4>
                    <h4> Cobertura para Accidentes las 24 horas  : Paga  100% de Gastos  Medicos cubiertos  despues  de pagar  un deducible de $250</h4>
                    <h4>Hasta un máximo de cobertura.:$10,000</h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li>Hasta un maximo de cobertura.:$10,000</li>
                    <li> Libertad de utilizar cualquier doctor o hospital</li>
                    <li> Cobertura Mundial</li>
                    <li> Beneficios son pagados basado en Usual y Customario. </li>
                    <li> Cubre Gastos Dentales por accidente</li>
                    <li> Cubre Medicamentos por accidentes cubiertos</li>
                    <li> Cubre  por gastos por Emergencia Medica incurridos dentro las 72 horas por <br />
                      accidente cubierto. </li>
                    <li> Seguro por muerte Accidental o Desmembracion: $10,000, esposa $5000, <br />
                      hijos $2000</li>
                    <li> Cobertura  de Helicoptero /air ambulance en caso de una Emergencia $4000<br />
                      Acceptacion automatica hasta la edad de 64.</li>
                    <li> Producto esta disponible en linear.</li>
                    <li> Call MD, ofrece acceso a consultas por telefono para gastos medicos de no emergencia  24/7</li>
                    <li> Costo mensual  individual  o familia $64.95</li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><form action="mail_segur_acc4.php"  method="post" >
                    <table width="472" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#4B8FAE">
                      <tr>
                        <td width="468"><table width="470" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0">
                          <tr>
                            <td height="47" colspan="3" align="center" class="FBG"><strong><span class="t">SOLICITUD SEGURO DE ACCIDENTE</span><br />
                              Solicito información sobre  Seguros En Línea: Seguro de Accidente<br />
                              contacte    con su representante de enter@te o llene la  solicitud.</strong></td>
                          </tr>
                          <tr>
                            <td width="234">&nbsp;</td>
                            <td width="15">&nbsp;</td>
                            <td width="221">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="right"><div align="right">
                              <p>Nombres y Apellidos: </p>
                            </div></td>
                            <td>&nbsp;</td>
                            <td><input name="nombre" id="nombre" type="text" size="35" /></td>
                          </tr>
                          <tr>
                            <td align="right"><p>Edad:</p></td>
                            <td>&nbsp;</td>
                            <td><input name="edad" id="edad" type="text" size="10" /></td>
                          </tr>
                          <tr>
                            <td align="right"><p align="right">Email: </p></td>
                            <td>&nbsp;</td>
                            <td><input name="email" id="email" type="text" size="35" /></td>
                          </tr>
                          <tr>
                            <td align="left"><p>Telefono(s):</p></td>
                            <td>&nbsp;</td>
                            <td><input name="phone" id="phone" type="text" size="35" /></td>
                          </tr>
                          <tr>
                            <td align="left"><div align="right">
                              <p>Dirección: </p>
                            </div></td>
                            <td>&nbsp;</td>
                            <td><input name="direccion" id="direccion" type="text" size="35" /></td>
                          </tr>
                          <tr>
                            <td height="19" colspan="3" align="center" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="19" colspan="3" align="center" valign="middle">Comentarios</td>
                          </tr>
                          <tr>
                            <td height="72" colspan="3" align="center" valign="middle"><textarea id="des" rows="6" cols="40" name="des"></textarea></td>
                          </tr>
                          <tr>
                            <td height="72" colspan="3" align="center" valign="middle"><p>
                              <label>
                                <div align="center">
                                <input type="submit" name="submit" id="submit" value="Enviar Solicitud" />
                              </label></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                  </form></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img src="/images/logo_wordamerica.jpg" width="246" height="115" /><img src="/images/logo_southpacific.jpg" width="246" height="67" /><img src="/images/segurostodos.jpg" width="246" height="600" /></p>
<p></p>
            </div>
                
                
                
          </div>
          <div class="column_bottom">
            <h2><a  >solotarjetas.net &copy;2011</a><a          ></a></h2></div>
        </div>
        
        
        
        
        </div>
