        <div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="/products/insurance">Regresar</a></li>
                        <li><a href="http://www.eliteunderwriters.com/" target="_blank">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br />
            </div>
              <div id="right_column">
                <h1>Seguro de Accidente las 24 horas - Hasta $2.500</h1>
                <table width="537" align="center">
                  <tr>
                    <td width="529" height="202" align="left" valign="middle"><h4><img src="/images/sgr1.jpg" width="144" height="180" />Cobertura para Accidentes las 24 horas :<br />
                      Paga 100% de Gastos Medicos cubiertos despues de pagar un deducible            de $100 </h4>
                      <h4>Hasta un máximo de cobertura.:$2,500</h4></td>
                  </tr>
                  <tr>
                    <td><ul>
                      <li>Hasta un máximo de cobertura.:$2,500</li>
                      <li>Libertad de utilizar cualquier doctor o hospital</li>
                      <li>Cobertura MundialBeneficios son pagados basado en Usual y Customario. <br />
                        Cubre Gastos Dentales por accidente</li>
                      <li> Cubre Medicamentos por accidentes cubiertos</li>
                      <li> Cubre  por gastos por Emergencia Medica incurridos dentro las 72 horas por accidente cubierto. </li>
                      <li> Seguro por muerte Accidental o Desmembracion: $5000 ,esposa $2,500,<br />
                        Hijos $1000</li>
                      <li> Cobertura  de Helicoptero /air ambulance en caso de una Emergencia $4000<br />
                        Acceptacion automatica hasta la edad de 64.</li>
                      <li> Producto esta disponible en linear.</li>
                      <li> Call MD, ofrece acceso a consultas por telefono para gastos medicos de no emergencia  24/7</li>
                      <li> Costo mensual  individual  o familia $34.95</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      <%=  render :partial => "products/insurance/insurance_form" %>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
            </div>
              <div id="right_column2">
                <p><img src="/images/logo_wordamerica.jpg" width="246" height="115" /><img src="/images/logo_southpacific.jpg" width="246" height="67" /><img src="/images/segurostodos.jpg" width="246" height="600" /></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a  >solotarjetas.net &copy;2011</a><a          ></a></h2></div>
        </div>
</div>
