<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="/prodcuts/insurance">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <h1>Seguro de Accidente 24 horas - Hasta $5,000</h1>
                <table align="center" width="536">
                  <tbody><tr>
                    <td align="left" width="528" valign="middle"><h4><img width="144" height="180" src="/images/sgr1.jpg">Cobertura para Accidentes las 24 horas :<br>
                      Paga 100% de Gastos Medicos cubiertos despues de pagar un deducible de $100 </h4>
                      <h4>&nbsp;</h4>
                      <h4>Hasta un máximo de cobertura.:$5,000</h4></td>
                  </tr>
                  <tr>
                    <td><ul>
                      <li></li>
                      <li> Libertad de utilizar cualquier doctor o hospital<br>
                        Cobertura Mundial</li>
                      <li> Beneficios son pagados basado en Usual y Customario. </li>
                      <li> Cubre Gastos Dentales por accidente</li>
                      <li> Cubre Medicamentos por accidentes cubiertos</li>
                      <li> Cubre  por gastos por Emergencia Medica incurridos dentro las 72 horas por <br>
                        accidente cubierto. </li>
                      <li> Seguro por muerte Accidental o Desmembracion: $5000, esposa $2500, <br>
                        hijos $1000</li>
                      <li> Cobertura  de Helicoptero /air ambulance en caso de una Emergencia $4000</li>
                      <li> Acceptacion automatica hasta la edad de 64.</li>
                      <li> Producto esta disponible en linear.</li>
                      <li> Call MD, ofrece acceso a consultas por telefono para gastos medicos de no emergencia  24/7</li>
                      <li> Costo mensual  individual  o familia $44.95</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      <%=  render :partial => "products/insurance/insurance_form" %>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="/images/logo_wordamerica.jpg"><img width="246" height="67" src="/images/logo_southpacific.jpg"><img width="246" height="600" src="/images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>