<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="/prodcuts/insurance">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <h1>Seguro de Accidente 24 horas - Hasta $5,000</h1>
                <table align="center" width="536">
                  <tbody><tr>
                    <td align="left" width="528" valign="middle"><h4><img width="144" height="180" src="images/sgr1.jpg">Cobertura para Accidentes las 24 horas :<br>
                      Paga 100% de Gastos Medicos cubiertos despues de pagar un deducible de $100 </h4>
                      <h4>&nbsp;</h4>
                      <h4>Hasta un máximo de cobertura.:$5,000</h4></td>
                  </tr>
                  <tr>
                    <td><ul>
                      <li></li>
                      <li> Libertad de utilizar cualquier doctor o hospital<br>
                        Cobertura Mundial</li>
                      <li> Beneficios son pagados basado en Usual y Customario. </li>
                      <li> Cubre Gastos Dentales por accidente</li>
                      <li> Cubre Medicamentos por accidentes cubiertos</li>
                      <li> Cubre  por gastos por Emergencia Medica incurridos dentro las 72 horas por <br>
                        accidente cubierto. </li>
                      <li> Seguro por muerte Accidental o Desmembracion: $5000, esposa $2500, <br>
                        hijos $1000</li>
                      <li> Cobertura  de Helicoptero /air ambulance en caso de una Emergencia $4000</li>
                      <li> Acceptacion automatica hasta la edad de 64.</li>
                      <li> Producto esta disponible en linear.</li>
                      <li> Call MD, ofrece acceso a consultas por telefono para gastos medicos de no emergencia  24/7</li>
                      <li> Costo mensual  individual  o familia $44.95</li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><form method="post" action="mail_segur_acc2.php">
                      <table cellspacing="0" cellpadding="0" bordercolor="#4b8fae" border="1" align="center" width="499">
                        <tbody><tr>
                          <td width="495"><table cellspacing="0" cellpadding="0" border="0" bgcolor="#f0f0f0" align="center" width="474">
                            <tbody><tr>
                              <td align="center" height="47" class="FBG" colspan="3"><strong><span class="t">SOLICITUD SEGURO DE ACCIDENTE</span><br>
                                Solicito información sobre  Seguros En Línea: Seguro de Accidente<br>
                                contacte    con su representante de enter@te o llene la  solicitud.</strong></td>
                            </tr>
                            <tr>
                              <td width="234">&nbsp;</td>
                              <td width="15">&nbsp;</td>
                              <td width="225">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="right"><div align="right">
                                <p>Nombres y Apellidos: </p>
                              </div></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="nombre" name="nombre"></td>
                            </tr>
                            <tr>
                              <td align="right"><p>Edad:</p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="10" id="edad" name="edad"></td>
                            </tr>
                            <tr>
                              <td align="right"><p align="right">Email: </p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="email" name="email"></td>
                            </tr>
                            <tr>
                              <td align="left"><p>Telefono(s):</p></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="phone" name="phone"></td>
                            </tr>
                            <tr>
                              <td align="left"><div align="right">
                                <p>Dirección: </p>
                              </div></td>
                              <td>&nbsp;</td>
                              <td><input type="text" size="35" id="direccion" name="direccion"></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="19" colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="19" colspan="3">Comentarios</td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="72" colspan="3"><textarea name="des" cols="40" rows="6" id="des"></textarea></td>
                            </tr>
                            <tr>
                              <td align="center" valign="middle" height="72" colspan="3"><p>
                                <label>
                                  </label></p><div align="center">
                                  <input type="submit" value="Enviar Solicitud" id="submit" name="submit">
                                </div></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table>
                    </form></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>