<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">


  <div id="left_column">
                	<h1>Nuestras Tarjetas</h1>
                    <ul>
                      <li>
                        <div id="left_column2">
                          <ul>
                            <li><a href="/members/index">Inicio</a></li>
                            <li><a href="/products/americas_cards_visa">The America Cards - Visa</a></li>
                            <li><a href="/products/tal_elite_visa">Tal Elite enter@te - Visa</a></li>
                            <li><a href="/products/elite_ingenicard">Elite enter@te - Ingenicard</a></li>
                            <li><a href="/products/tal_cash_ingenicard">Tal Cash Ingenicard</a></li>
                            <li><img src="/images/spacer.gif" width="20" height="20" /></li>
                            <li>
                              <h2>Cómo se gana</h2>
                            </li>
                            <li><a href="p_claveorg.html">Organizaciones</a></li>
                            <li> <a href="p_claveasoc.html">Asociados</a></li>
                      <li></li></ul></div></li></ul>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br />
              </div>
              <div id="right_column">
                <h1 class="column_bottom">Tarjeta de las Américas Visa-Tarjeta Personalizada Payroll</h1>
<p><img src="/images/5-lasamericas.jpg" width="269" height="348" /></p>
            <p><strong><img src="/images/vinculo.png" width="113" height="22" border="0" usemap="#Map6" /></strong></p>
            <p>&nbsp;</p>
            <p><strong>
              <map name="Map6" id="Map6">
                <area shape="rect" coords="4,1,111,22" href="http://elite.theamericascard.com/" target="_blank" />
                </map>
            </strong></p>
            <p>&nbsp;</p>
            <p><a href="p_precios_americascard.html">Conozca los precios &lt;AQUI&gt;</a></p>
            <p>&nbsp;</p>
            <p><strong>Hace Posible que sus Cheques de Salarios sean Directamente
              Depositados a su Tarjeta de Nómina Visa®</strong></p>
            <p>&nbsp;</p>
            <p>La Tarjeta de las Américas esta a servicio de  la industria y el comercio en general. Es una tarjeta de pagos de salarios  (payroll).</p>
            <p>&nbsp;</p>
            <p>Esta tarjeta es emitida por la industria o comercio que cuente con  el servicio de payroll de la Tarjeta de las Américas,  una tarjeta que permite que  el salario de una persona le llegue automáticamente por medio de un sistema que se le  da al empleador con la ventaja que le   ahorra  miles de dolares en costos de emisión de cheques y control de horas, ya  que el programa otorgado sin custo alguno, hace todo el procedimiento de pago  automaticamente.</p>
            <p>&nbsp;</p>
            <p>Esta es una tarjeta que se emite a través de  una solicitud y la persona solicitante debe tener SSN. Esta tarjeta se envía al  tarjeta-habiente via correo al término de 7 días hábiles.            </p>
            <p></p>
              </div>
              <div id="right_column2">
                <table border="0" cellspacing="0">
              <tr>
                <td align="center" valign="middle"><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="/images/ventajas.jpg" width="277" height="450" align="middle" /></td>
                  </tr>
                </table></td>
              </tr>
            </table>
            <p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a >solotarjetas.net &copy;2011</a><a         ></a></h2></div>
        </div>




        </div>
