<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Seguro de Gastos Finales - Cobertura hasta $35,000</h1>
              <table align="center" width="511">
                <tbody><tr>
                  <td align="left" width="503" valign="middle"><h4><img width="144" height="180" src="images/segfinal30.jpg"> Producto seguro de vida tipo  Whole Life</h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li>Producto seguro de vida tipo  Whole Life</li>
                    <li>Disponible para persona 50-85 anos</li>
                    <li>No Examen de Sangre u Orina</li>
                    <li>Cobertura desde $2000 hasta $35,000</li>
                    <li>Prima esta garantizada </li>
                    <li>Cliente completa una entrevista medica por telefono. <br>
                      $30 al mes compra el siguiente beneficio<br>
                      <br>
                      <table width="418">
                        <tbody><tr>
                          <td align="center" width="39" valign="middle" height="24">&nbsp;</td>
                          <td align="center" width="39" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle" colspan="2">No Fumador</td>
                          <td align="center" width="38" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle" colspan="2">Fumador<br></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">Edad</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" width="63" valign="middle">Hombre</td>
                          <td align="center" width="63" valign="middle">Mujer</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" width="74" valign="middle">Hombre</td>
                          <td align="center" width="70" valign="middle">Mujer</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">50</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$11,365</td>
                          <td align="center" valign="middle">$15,342 </td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$8,293 </td>
                          <td align="center" valign="middle">$9,898 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">51</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $10,959</td>
                          <td align="center" valign="middle">$14,612</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$7,868</td>
                          <td align="center" valign="middle">$9,589 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">52</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $10,228</td>
                          <td align="center" valign="middle">$13,948</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $7,484</td>
                          <td align="center" valign="middle">$9,025</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">53</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$9,898</td>
                          <td align="center" valign="middle"> $12,785</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $7,136 </td>
                          <td align="center" valign="middle">$8,767</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">54</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$9,298</td>
                          <td align="center" valign="middle">$12,274</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,819</td>
                          <td align="center" valign="middle">$8,293 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">55</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$9,025</td>
                          <td align="center" valign="middle"> $11,802</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $6,528 </td>
                          <td align="center" valign="middle">$8,075</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">56</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$8,523</td>
                          <td align="center" valign="middle">$11,365</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,137</td>
                          <td align="center" valign="middle">$7,671</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">57</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $8,075</td>
                          <td align="center" valign="middle">$10,581</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,901</td>
                          <td align="center" valign="middle">$7,306</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">58</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$7,868 </td>
                          <td align="center" valign="middle">$10,228</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $5,579</td>
                          <td align="center" valign="middle"> $6,974</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">59</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$7,484</td>
                          <td align="center" valign="middle">$9,589</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,383</td>
                          <td align="center" valign="middle"> $6,670</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">60</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$7,136</td>
                          <td align="center" valign="middle"> $9,298</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,114</td>
                          <td align="center" valign="middle">$6,392</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">61</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $6,819</td>
                          <td align="center" valign="middle">$8,767</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,794</td>
                          <td align="center" valign="middle">$6,137</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">62</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,392</td>
                          <td align="center" valign="middle"> $8,293</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,512</td>
                          <td align="center" valign="middle">$5,789</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">63</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,137</td>
                          <td align="center" valign="middle"> $7,868</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,261</td>
                          <td align="center" valign="middle">$5,579</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">64</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,789</td>
                          <td align="center" valign="middle">$7,484</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,037</td>
                          <td align="center" valign="middle">$5,290</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">65</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,579</td>
                          <td align="center" valign="middle">$7,136</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,835</td>
                          <td align="center" valign="middle">$5,114</td>
                        </tr>
                      </tbody></table>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>