<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Seguro de Gastos Finales - Cobertura hasta $35,000</h1>
              <table align="center" width="550">
                <tbody><tr>
                  <td align="left" width="620" valign="middle"><h4><img width="144" height="180" src="images/segfinal30.jpg"> Producto seguro de vida tipo  Whole Life</h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li> Producto seguro de vida tipo  Whole Life</li>
                    <li>Disponible para persona 50-85 años</li>
                    <li> No Examen de Sangre u Orina</li>
                    <li>Cobertura desde $2000 hasta $35,000</li>
                    <li>Prima esta garantizada </li>
                    <li>Cliente completa una entrevista medica por telefono. <br>
                      $20 al mes compra el siguiente beneficio<br>
                      <br>
                      <br>
                      <br>
                      <table width="418">
                        <tbody><tr>
                          <td align="center" width="39" valign="middle" height="24">&nbsp;</td>
                          <td align="center" width="39" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle" colspan="2">No Fumador</td>
                          <td align="center" width="38" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle" colspan="2">Fumador<br></td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">Edad</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" width="63" valign="middle">Hombre</td>
                          <td align="center" width="63" valign="middle">Mujer</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" width="74" valign="middle">Hombre</td>
                          <td align="center" width="70" valign="middle">Mujer</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">50</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$7,132 </td>
                          <td align="center" valign="middle">$9,628</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,204</td>
                          <td align="center" valign="middle"> $6,211 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">51</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,877</td>
                          <td align="center" valign="middle"> $9,170</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,937 </td>
                          <td align="center" valign="middle">$6,017 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">52</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,419</td>
                          <td align="center" valign="middle">$8,753</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,696</td>
                          <td align="center" valign="middle"> $5,663 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">53</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$6,211</td>
                          <td align="center" valign="middle"> $8,023</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,478</td>
                          <td align="center" valign="middle">$5,502</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">54</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,835</td>
                          <td align="center" valign="middle">$7,702</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,279</td>
                          <td align="center" valign="middle"> $5,204 </td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">55</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $5,663</td>
                          <td align="center" valign="middle">$7,406 </td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $4,097</td>
                          <td align="center" valign="middle">$5,067</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">56</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,349</td>
                          <td align="center" valign="middle">$7,132</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $3,851</td>
                          <td align="center" valign="middle"> $4,814</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">57</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$5,067</td>
                          <td align="center" valign="middle">$6,640</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,703</td>
                          <td align="center" valign="middle">$4,585</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">58</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,937 </td>
                          <td align="center" valign="middle">$6,419</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,501</td>
                          <td align="center" valign="middle"> $4,376</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">59</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,696 </td>
                          <td align="center" valign="middle"> $6,017</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,378</td>
                          <td align="center" valign="middle">$4,186</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">60</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,478</td>
                          <td align="center" valign="middle"> $5,835</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,209</td>
                          <td align="center" valign="middle">$4,011</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">61</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,279</td>
                          <td align="center" valign="middle"> $5,502</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,008</td>
                          <td align="center" valign="middle">$3,851</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">62</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$4,011</td>
                          <td align="center" valign="middle">$5,204</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$2,831</td>
                          <td align="center" valign="middle"> $3,633</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">63</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$3,851</td>
                          <td align="center" valign="middle">$4,937</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle">$2,674</td>
                          <td align="center" valign="middle">$3,501</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">64</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $3,633</td>
                          <td align="center" valign="middle">$4,696</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $2,533</td>
                          <td align="center" valign="middle"> $3,320</td>
                        </tr>
                        <tr>
                          <td align="center" valign="middle">65</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $3,501</td>
                          <td align="center" valign="middle">$4,478</td>
                          <td align="center" valign="middle">&nbsp;</td>
                          <td align="center" valign="middle"> $2,407</td>
                          <td align="center" valign="middle"> $3,209</td>
                        </tr>
                      </tbody></table>
                      <br>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>