		<div id="main_container">

        <div id="columns">
   	    <div class="column_top"></div>
            <div class="column_container">


                <div id="left_column">
                	<h1>Nuestras Tarjetas</h1>
                    <ul>
                    	<li><a href="/members/index">Inicio</a></li>
                        <li><a href="/products/americas_cards_visa">The America Cards - Visa</a></li>
                        <li><a href="/products/tal_elite_visa">Tal Elite enter@te - Visa</a></li>
                        <li><a href="/products/elite_ingenicard">Elite enter@te - Ingenicard</a></li>
                        <li><a href="/products/tal_cash_ingenicard">Tal Cash Enter@te - Ingenicard</a></li>
                        <li><img src="/images/spacer.gif" width="20" height="20" /></li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc.html">Asociados</a></li>
                    </ul>
<p>&nbsp;</p>
<br />
              </div>
              <div id="right_column">
                <h1 class="column_bottom">tarjeta Tal Cash  Ingenicard - Tarjeta Instantánea</h1>
<p><img src="/images/3-talcash.jpg" width="269" height="165" /></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>
              <%= render :partial => "products/cards/cards_form" %>
            
            </p>
            <p></p>
<p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
<p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
<p></p>
              </div>
              <div id="right_column2">
                <table width="290" border="0" cellspacing="0">
              <tr>
                <td width="358" valign="top"><p><img src="/images/tarjetas1b.png" width="270" height="381" /></p></td>
              </tr>
              </table>
            <p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a  >solotarjetas.net &copy;2011</a><a ></a></h2></div>
        </div>
</div>
