		<div id="main_container">

        <div id="columns">
   	    <div class="column_top"></div>
            <div class="column_container">


                <div id="left_column">
                	<h1>Nuestras Tarjetas</h1>
                    <ul>
                    	<li><a href="/members/index">Inicio</a></li>
                        <li><a href="/products/americas_cards_visa">The America Cards - Visa</a></li>
                        <li><a href="/products/tal_elite_visa">Tal Elite enter@te - Visa</a></li>
                        <li><a href="/products/elite_ingenicard">Elite enter@te - Ingenicard</a></li>
                        <li><a href="/products/tal_cash_ingenicard">Tal Cash Ingenicard</a></li>
                        <li><img src="/images/spacer.gif" width="20" height="20" /></li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc.html">Asociados</a></li></ul></div><div id="right_column">
                <h1 class="column_bottom">Tarjeta Tal Elite Enter@te Visa-Tarjeta Costos Variables</h1>
              <p><img src="/images/6-premium.jpg" width="269" height="170" /><strong><img src="/images/vinculo.png" width="113" height="22" border="0" usemap="#Map2" />
                  <map name="Map2" id="Map2">
                    <area shape="rect" coords="1,1,110,20" href="/products/tal_elite_visa_form" />
                  </map>
              </strong></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p><a href="p_precios_elitenterate-visa.html">Conozca los precios &lt;AQUI&gt;</a></p>
<p>&nbsp;</p>
              <ol>
                <li><strong> Tarjeta Personalizada.</strong> Esta es una tarjeta que se emite a traves de  una solicitud y la persona solcitante tiene que tener SSN,  INT (TxID),   Licencia Vigente de Conduzir (De cualquier  pais), cedula de identidad, pasaporte. Esta  tarjeta le llegara la tarjeta habiente via correo ao termino de 15 dias hábiles.</li>
              </ol>
<p></p>
<p>&nbsp;</p>
            <p>Se puede enviar tarjetas extras para su familia en cualquier parte del mundo y hacer transferencia de tarjeta a tarjeta.
              Mayor información a nuestro correo informacion@solotarjetas.net </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <table width="550" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="253" valign="top"><table width="253" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="253"><h2>Acerca de la tarjeta Tal Premium</h2></td>
                  </tr>
                  <tr>
                    <td><img src="/images/tarjeta-talenterate-visa.jpg" width="193" height="155" /></td>
                  </tr>
                  <tr>
                    <td><p>&nbsp;</p>
                    <p>La tarjeta Tal Premium es una Visa Prepagada Recargable que te ofrece entre   otros una opción segura, inteligente y económica de administrar tu dinero,   aceptada para compras en millones de establecimientos comerciales, compras por   internet, pago de facturas de servicio y retiros de efectivo en cajeros   automáticos (ATMs) donde encuentres el logo VISA. Adicional, tu Tal Premium es   una tarjeta telefónica integrada que te permite llamadas domésticas y llamadas   de larga distancia internacional (LDI) a tarifas competitivas y promociones de   minutos gratis cada vez que recargues tu tarjeta</p></td>
                  </tr>
                </table></td>
                <td width="46" valign="top"><p>&nbsp;</p></td>
                <td width="251" valign="top"><h2>Como Trabaja</h2>
                  <h3>Ordene Su Tarjeta Tal Premium</h3>
                  <p>Ordene su Tarjeta Tal Premium con solo presionar el boton que dice SOLICITAR</p>
                  <p>&nbsp;</p>
                  <h3>Cargue dinero en su tarjeta</h3>
                  <p>Una vez sea titular de la tarjeta Tal Premium Prepaid Visa, la carga es fácil. </p>
                  <p>Usted puede añadir dinero a su tarjeta a través de   Green Dot MoneyPak® o automaticamente deposite su cheque de pago en su   Tarjeta de Tal Premium Gratis!</p>
                  <p>&nbsp;</p>
                  <h3>Use su Tarjeta Tal Premium</h3>
                  <p>Use su Tarjeta Tal Premium en cualquier parte de el Mundo donde acepten   tarjetas Visas. Pague cobros, compre mercancia a travez de la computadora o por   telefono. Es facilisimo comprar con su Tarjeta Tal Premium!</p>
                  <p>&nbsp;</p>
                  <h3>Administra tu tarjeta Tal Premium</h3>
                <p>Administra tu dinero a tu manera! Regístrate a &quot;<a href="https://demo.ecommlink.com/demoui/www.talpremium.com/consumer_sp/login.aspx">Mi   Cuenta</a>&quot; a cualquier hora, Servicio 7x24</p></td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3"><h2>Tarjetas de Compañía (Companion Cards)<br />
                </h2></td>
              </tr>
              <tr>
                <td colspan="3"><p>                  <img src="/images/untitled.jpg" width="207" height="277" />Con la tarjeta Tal Premium  prepagada Visa ®  usted puede solicitar tarjetas de compañía para sus amigos o miembros de la familia que le permite transferir fácilmente fondos desde su tarjeta de Tal Premium a la tarjeta Tal Companion Card. Usted puede pedir hasta tres tarjetas de compañía (3).</p>
                  <p>&nbsp;</p>
                  <p>Enviar dinero como un regalo o enseñar a sus hijos adolescentes (mayores de 13 años o más) para gastar con responsabilidad. Con una tarjeta de compañía, su amigo o miembro de la familia puede hacer compras y disfrutar de los beneficios de los titulares  con su propia Tal Premium prepagada Visa ® Card.</p>
                  <p>&nbsp;</p>
                  <p>Para solicitar una tarjeta de compañía, basta con acceder a su cuenta.                </p></td>
              </tr>
              <tr>
                <td colspan="3"><p>&nbsp;</p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="2">&nbsp;</td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
<p></p>
              </div>
              <div id="right_column2">
                <table width="200" border="0" cellspacing="0">
              <tr>
                <td valign="top"><h2>Cargue dinero en su tarjeta mediante MoneyPak Green Dot®</h2></td>
              </tr>
              <tr>
                <td valign="top"><p>Para cargar su tarjeta Tal Premium Prepaid Visa ® Card con MoneyPak Green Dot ® simplemente visite su distribuidor local para recoger su MoneyPak y deposite cualquier cantidad de $ 20 a $ 950.
                </p>
                  <table width="219" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="89"><img src="/images/logo-green-dot.gif" width="79" height="79" /></td>
                    <td width="130"><a href="https://www.moneypak.com/StoreLocator.aspx" target="_blank">Haga clic AQUI para localizar la tienda más MoneyPak cerca de usted</a>.</td>
                  </tr>
                </table>
                <p>&nbsp;</p></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top"><h2>Cargue dinero en su tarjeta mediante Depósito Directo</h2></td>
              </tr>
              <tr>
                <td valign="top"><p>La forma más conveniente de cargar dinero a su Tal Premium Prepaid Visa ® Card es a través del depósito directo. Usted puede elegir que su sueldo entero o  una parte  sea cargada a su tarjeta en cada período de pago. Una vez inscrito en el depósito directo nunca tendrá que preocuparse de cargar dinero a su tarjeta. Tal Premium se hará cargo  para usted GRATIS!</p>
                  <p>&nbsp;</p>
                  <p>Para inscribirse al Depósito Directo, basta con descargar el formulario AQUI y presentarlo a  Recursos Humanos o al Departamento de Nómina de la empresa donde labora.<br />
                </p></td>
              </tr>
              <tr>
                <td valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top"><table width="100" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table>
                  <p>&nbsp;</p>
                <p>&nbsp;</p></td>
              </tr>
            </table>
            <p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a >solotarjetas.net &copy;2011</a><a ></a></h2></div>
        </div>
</div>
