		<div id="main_container">

        <div id="columns">
   	    <div class="column_top"></div>
            <div class="column_container">


                <div id="left_column">
                	<h1>Nuestras Tarjetas</h1>
                    <ul>
                      <li><a href="/members/index">Inicio</a></li>
                      <li><a href="/products/americas_cards_visa">The America Cards - Visa</a></li>
                      <li><a href="/products/tal_elite_visa">Tal Elite enter@te - Visa</a></li>
                      <li><a href="/products/elite_ingenicard">Elite enter@te - Ingenicard</a></li>
                      <li><a href="/products/tal_cash_ingenicard">Tal Cash Ingenicard</a></li>
                      <li><img src="/images/spacer.gif" width="20" height="20" /></li>
                      <li>
                        <h2>Cómo se gana</h2>
                      </li>
                      <li><a href="p_claveorg.html">Organizaciones</a></li>
                      <li> <a href="p_claveasoc.html">Asociados</a><br />
            </li></ul>
</div>
              <div id="right_column">
                <h1 class="column_bottom">tarjeta Tal Cash  Ingenicard - Tarjeta Instantánea</h1>
<p><img src="images/3-talcash.jpg" width="269" height="165" /></p>
            <p><strong><img src="/images/vinculodatos-cliente.jpg" width="171" height="22" border="0" usemap="#Map" />
                <map name="Map" id="Map">
                  <area shape="rect" coords="2,1,168,19" href="tal_cash_ingenicard_form" />
                </map>
            </strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><a href="p_precios_talcash.html">Conozca los precios &lt;AQUI&gt;</a></p>
            <p></p>
<p>&nbsp;</p>
            <p><strong>Tarjeta de Emisión Instantánea no personalizada.  (Preferred Customer) </strong> Esto significa que  no tiene el nombre del tarjeta habiente, solamente la posibilidad de usar el nombre de la instituición que  esta distribuyendólas individualmente. </p>
            <p>&nbsp;</p>
            <p>La persona para hacer nuevas  transacciones, tiene que registrarse en el sistema Elite Enterate (Ingenicard), haciendo actualización de su tarjeta.</p>
            <p>&nbsp;</p>
            <p>La persona también puede solicitar una tarjeta personalizada Elite Enter@te Ingenicard o la tarjeta de membrecía Tal Club Elite Enter@te Ingenicard.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
<p>&nbsp;</p>
            <p>&nbsp;</p>
            <table width="438" border="0" cellspacing="0">
              <tr>
                <td colspan="2"><strong>¿Cómo funciona?</strong></td>
              </tr>
              <tr>
                <td width="20"><img width="10" height="10" src="/images/index_clip_image001.gif" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" /></td>
                <td width="414">La    Tarjeta Ingenicard es una tarjeta prepagada y  débito, no es una tarjeta de    crédito.</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><img width="10" height="10" src="/images/index_clip_image001_0003.gif" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" /></td>
                <td>Los    tarjeta-habientes pueden utilizar su tarjeta (hasta el valor de la tarjeta)    en los autorizados<br />
                  establecimientos.</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><img width="10" height="10" src="/images/index_clip_image001_0003.gif" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" /></td>
                <td>Tarjeta    opera en una red segura, privada lo que le permite realizar compras en las    tiendas participantes<br />
                  en la red. </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><img width="10" height="10" src="/images/index_clip_image001_0003.gif" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" /></td>
                <td>Los miembros    puedem autorizar una compra con tarjeta introduciendo su PIN en un    dispositivo del punto de venta. </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><img width="10" height="10" src="/images/index_clip_image001_0003.gif" alt="Descripción: http://www.mycardsystems.com/img/arrow-right2.gif" /></td>
                <td>Con varias    tarjetas permite que un miembro de la tarjeta para transferir dinero de    inmediato a otra tarjeta.</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
<p></p>
              </div>
              <div id="right_column2">
                <table width="290" border="0" cellspacing="0">
              <tr>
                <td width="358" valign="top"><p><img src="/images/tarjetas1b.png" width="270" height="381" /></p></td>
              </tr>
              <tr>
                <td><table border="0" cellspacing="0" cellpadding="0" width="280">
                  <tr>
                    <td width="52" height="42" align="center" valign="middle" bgcolor="#EAEAEA"><img src="/images/ico_features1.jpg" width="26" height="26" /></td>
                    <td width="239" bgcolor="#EAEAEA">No    se requiere cuenta bancaria - la flexibilidad y el acceso que tiene que hacer    más </td>
                  </tr>
                  <tr>
                    <td height="42" align="center" valign="middle"><img src="/images/ico_features2.jpg" width="26" height="26" /></td>
                    <td>Acceda    a más de 300.000 cajeros automáticos en los EE.UU. y más de 1.000.000    millones en todo el mundo </td>
                  </tr>
                  <tr bgcolor="#EAEAEA">
                    <td height="36" align="center" valign="middle"><img src="/images/ico_features3.jpg" width="26" height="26" /></td>
                    <td>Tarjeta    recargable desde cualquier cajero automático o aprobado Mercante Ingenicard </td>
                  </tr>
                  <tr>
                    <td height="36" align="center" valign="middle"><img src="/images/ico_features4.jpg" width="26" height="26" /></td>
                    <td>tarjeta    de inmediato a la tarjeta de transferencia - hasta 5 tarjetas por hogar </td>
                  </tr>
                  <tr bgcolor="#EAEAEA">
                    <td height="37" align="center" valign="middle"><img src="/images/ico_features5.jpg" width="26" height="26" /></td>
                    <td>Fácil,    compra segura en línea y pago de facturas </td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle"><img src="/images/ico_features6.jpg" width="26" height="26" /></td>
                    <td>Administrar    su cuenta en línea o desde su teléfono seguro - en cualquier momento,    aniwhere </td>
                  </tr>
                  <tr bgcolor="#EAEAEA">
                    <td height="47" align="center" valign="middle"><img src="/images/ico_features7.jpg" width="26" height="26" /></td>
                    <td>Hacer    llamadas nacionales e internacionales utilizando su tarjeta de cajero    automático, se disponible en su region. </td>
                  </tr>
                </table></td>
              </tr>
              </table>
            <p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><>solotarjetas.net &copy;2011</a><a ></a></h2></div>
        </div>
</div>
