<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Nuestros Viajes</h1>
                    <ul>
                    	<li></li>
                      <li><a href="/categories/travels">Regresar</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <h1>Israel Dorado</h1>
                <table cellspacing="0" cellpadding="0" border="0" width="590" height="196">
                  <tbody><tr>
                    <td width="694" valign="top" height="196"><table cellspacing="0" cellpadding="0" border="0" width="580" height="163">
                      <tbody><tr></tr>
                      <tr>
                        <td></td>
                      </tr>
                      </tbody><tbody>
                        <tr>
                          <td valign="top" rowspan="2"><p><img width="215" height="244" src="/images/1292003930.jpg"></p></td>
                          <td valign="top" height="106"><p><strong>Oriente Medio Tierra Santa: </strong><strong>Tel Aviv · Cesarea · San Juan de Acre · Galilea · Tiberiades ·   Nazaret · Jerusalén</strong></p>
                            <p></p>
                            <p><strong>6 días desde&nbsp;2.300</strong><br>
                              <strong>No incluye tiquetes áereos</strong></p>
                            <p>Fechas de inicio (TA-936)<br>
(Noviem./10-Marzo/11. Llegada a Tel   Aviv)<br>
DOMINGOS y LUNES <br>
(Noviem./10-Marzo/11. Llegada a Jerusalén):   MIÉRCOLES y JUEVES</p></td>
                          <td valign="top" rowspan="2"><br></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr></tr>
                        <tr>
                          <td></td>
                          <td valign="bottom"></td>
                        </tr>
                      </tbody>
                    </table></td>
                  </tr>
                </tbody></table>
                <table cellspacing="0" cellpadding="0" border="0" align="left" width="590">
                  <tbody>
                    <tr>
                      <td align="center"><table cellspacing="0" cellpadding="0" border="0" width="579">
                        <tbody>
                          <tr>
                            <td valign="center">&nbsp;</td>
                          </tr>
                          <tr>
                            <td valign="center"><h2 cufid="1">Tel   Aviv   ·   Cesarea   ·   San   Juan   de   Acre   ·   Galilea   ·   Tiberiades   ·   Nazaret   ·   Jerusalén</h2></td>
                          </tr>
                          <tr>
                            <td valign="top" height="16">&nbsp;</td>
                          </tr>
                          <tr>
                            <td valign="top" height="135"><table cellspacing="0" cellpadding="0" border="1" align="center" width="461">
                              <tbody><tr>
                                <td bgcolor="#cccccc" colspan="3"><p align="center"><strong>Hoteles Previstos </strong></p></td>
                              </tr>
                              <tr>
                                <td bgcolor="#cccccc"><p>Noches </p></td>
                                <td bgcolor="#cccccc"><p>Ciudad </p></td>
                                <td bgcolor="#cccccc"><p>Hotel</p></td>
                              </tr>
                              <tr>
                                <td width="56" valign="middle" rowspan="2"><p align="center">1 </p></td>
                                <td width="57" rowspan="2"><p>Tel Aviv </p></td>
                                <td>Marina (Turista Superior)</td>
                              </tr>
                              <tr>
                                <td width="340">Grand Beach / Metropolitan / Leonardo Basel (Primera)</td>
                              </tr>
                              <tr>
                                <td class="Estilo15" rowspan="2"><div align="center">4</div>
                                  <div align="center"></div>
                                  <div align="center"></div>
                                  <div align="center"></div></td>
                                <td class="Estilo15" rowspan="2"><div align="center">Jerusalén</div></td>
                                <td class="Estilo15">Shalom / Caesar /                                  Jerusalem                                  Gold /                                  Jerusalem Gate<br>
                                  (Turista superior)</td>
                              </tr>
                              <tr>
                                <td class="Estilo15">Royal Wing / Leonardo Jerusalem / Gran Court (Primera)</td>
                              </tr>
                            </tbody></table></td>
                          </tr>
                          <tr>
                            <td bgcolor="#cccccc" valign="top" height="77"><div><strong>Fechas de inicio   (TA-936)</strong><br>
                              (Noviem./10-Marzo/11. Llegada a Tel Aviv)<br>
                              DOMINGOS y   LUNES <br>
                              (Noviem./10-Marzo/11. Llegada a Jerusalén): MIÉRCOLES y JUEVES </div></td>
                          </tr>
                          <tr>
                            <td valign="top" height="637"><p>&nbsp;</p>
                              <p><span class="Estilo14">Día 1.°: TEL AVIV</span><br>
Llegada al aeropuerto. Recepción y Traslado
              al hotel. Alojamiento.</p>
                              <p>&nbsp;</p>
                              <p><span class="Estilo14">Día 2.°: TEL AVIV-NAZARETCANA
                                DE GALILEA-MONTE DE LA
                                BIENAVENTURANZAS-RIO ORDÁNJERUSALÉN</span><br>
                                Desayuno. Salida hacia Nazaret para visitar
                                la Basílica de la Anunciación, la Carpintería
                                de San José y la Fuente de la Virgen. Proseguimos
                                viaje hacia Cana de Galilea donde
                                tuvo lugar el primer Milagro de Jesús, Continuación
                                hacia el Monte de las Bienaventuranzas,
                                lugar del Sermón de la Montaña,
                                seguimos hacia Tabgha lugar de la Multiplicación
                                de los Panes y los Peces. Visita de
                                Capernaum. Se sigue bordeando el Mar de la
                                Galilea hacia la ciudad de Tiberiades. Por la
                                tarde se visitaremos el Río Jordán, recordando
                                el bautismo de Jesús y contactándolos
                                con las aguas. Subiremos hacia la ciudad de
                                Jerusalén. Alojamiento.</p>
                              <p>&nbsp;</p>
                              <p><span class="Estilo14">Día 3.°: JERUSALÉN- MASADAMAR
                                MUERTO-JERUSALÉN</span><br>
                                Desayuno. Salida hacia Masada último bastión
                                Judío en la revuelta contra Romanos.
                                Pasando por la posada del Buen Samaritano
                                y aldeas beduinas, bordeando la costa del
                                Mar Muerto. Subiremos en teleférico a la<br>
                                imponente fortaleza donde encontraremos
                                ruinas Herodianas y de los Zelotes. Continuamos
                                al lugar mas bajo del mundo, el Mar
                                Muerto a 400 metros bajo el nivel del mar,
                                pasando por las grutas donde fueron hallados
                                los manuscritos del Mar Muerto. Tiempo
                                libre para bañarse en las famosas aguas
                                minerales del Mar Muerto. Luego regresamos
                                a Jerusalén. Alojamiento.</p>
                              <p>&nbsp;</p>
                              <p><span class="Estilo14">Día 4.°: JERUSALÉN &ndash; MUSEO DE
                                ISRAEL - EIN KAREN &ndash; MUSEO DEL
                                HOLOCAUSTO &ndash; BELÉN - JERUSALÉN</span><br>
                                Desayuno. Salida hacia el Santuario del
                                Libro en el Museo de Israel donde están
                                expuestos los Manuscritos del Mar Muerto
                                y la Maqueta de Jerusalén del tiempo de
                                Jesús. A continuación visita de Ein Karen
                                donde conoceremos la Iglesia de la Natividad
                                de San Juan Bautista. Continuaremos
                                hacia Yad Vashem, Museo y Memorial del
                                Holocausto. Por la tarde visita a Belén,
                                entrando por la puerta de Humildad a la
                                Iglesia de la Natividad, Gruta del Pesebre, la
                                estrella de 14 puntas (Lugar del nacimiento
                                de Jesús) Basílica de Santa Catarina y la
                                Gruta de San Jerónimo. Alojamiento.</p>
                              <p>&nbsp;</p>
                              <p><span class="Estilo14">Día 5.°: JERUSALÉN &ndash; CIUDAD ANTIGUAMURO
                                DE LOS LAMENTOS-SANTO
                                SEPULCRO- MONTE SION - MONTE LOS
                                OLIVOS &ndash; JERUSALÉN</span><br>
                                Desayuno. Salida hacia la ciudad antigua de
                                Jerusalén, visita del Muro de los Lamentos
                                y continuación a través de la Vía Dolorosa
                                para llegar al Gólgota, lugar de la crucifixión
                                de Jesús y el Santo Sepulcro. Continuación al
                                Monte Sion donde se encuentran la Tumba del
                                Rey David, el Cenáculo lugar de la ultima cena<br>
                                “La Eucaristía” y “Pentecostés”. Visita de la
                                Abadía de la Dormición &ndash; Asunción de María.
                                Seguimos vía el Monte Scopus hacia el Monte
                                de los Olivos, para apreciar una magnifica vista
                                de la ciudad. Se sigue a Getsemaní. Visita de la
                                Basílica de la Agonía. Alojamiento.</p>
                              <p>&nbsp;</p>
                              <p> <span class="Estilo14">Día 6.°: JERUSALÉN</span><br>
                                Desayuno. Traslado al aeropuerto y FIN
                              DEL VIAJE.</p>
                              <p>&nbsp;</p></td>
                          </tr>
                        </tbody>
                      </table>
                        <table cellspacing="0" cellpadding="0" border="1" width="420">
                          <tbody><tr>
                            <td bgcolor="#cccccc" width="177"><p>Hoteles</p></td>
                            <td bgcolor="#cccccc" width="114"><div align="center">
                              <p>Turista Superior </p>
                            </div></td>
                            <td bgcolor="#cccccc" width="121"><div align="center">
                              <p>Primera</p>
                            </div></td>
                          </tr>
                          <tr>
                            <td bgcolor="#cccccc" class="Estilo15" colspan="3">Salidas 01/11-28/02</td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Habitación Doble/Triple</td>
                            <td class="Estilo15"><div align="center">800</div></td>
                            <td class="Estilo15"><div align="center">900</div></td>
                          </tr>
                          <tr>
                            <td height="18" class="Estilo15">Suplemento Individual</td>
                            <td class="Estilo15"><div align="center">300</div></td>
                            <td class="Estilo15"><div align="center">371</div></td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Supl. Media pensión</td>
                            <td class="Estilo15"><div align="center">57</div></td>
                            <td class="Estilo15"><div align="center">71</div></td>
                          </tr>
                          <tr>
                            <td bgcolor="#cccccc" class="Estilo15" colspan="3">Salidas 01/03-31/03</td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Hab. Doble/Triple</td>
                            <td class="Estilo15"><div align="center">850</div></td>
                            <td class="Estilo15"><div align="center">957</div></td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Hab. Individual</td>
                            <td class="Estilo15"><div align="center">321</div></td>
                            <td class="Estilo15"><div align="center">393</div></td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Supl. Media pensión</td>
                            <td class="Estilo15"><div align="center">64</div></td>
                            <td class="Estilo15"><div align="center">71</div></td>
                          </tr>
                          <tr>
                            <td bgcolor="#cccccc" class="Estilo15" colspan="3">Noches adicionales en Tel Aviv o Jerusalén</td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Habitación Doble/Triple</td>
                            <td class="Estilo15"><div align="center">86</div></td>
                            <td class="Estilo15"><div align="center">114</div></td>
                          </tr>
                          <tr>
                            <td class="Estilo15">Hab. Individual</td>
                            <td class="Estilo15"><div align="center">157</div></td>
                            <td class="Estilo15"><div align="center">221</div></td>
                          </tr>
                        </tbody></table>
                        <p>&nbsp;</p></td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
              </div>
              <div id="right_column2">
                <p>&nbsp;</p>
                <h2>FORMULARIO  DE SOLICITUD </h2>
                <p>&nbsp;</p>
                <fieldset>
                <p>Para solicitar el viaje por favor llene el siguiente formulario con sus datos:</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <form action="" method="post" name="form1" id="form1">
                  <p>
                    <label><strong>ORGANIZACIÓN: </strong>
                      <input type="text" size="40" id="textfield" name="textfield">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>RESPONSABLE</strong>:</p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Nombres:
                      <input type="text" id="textfield2" name="textfield2">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Apellidos:
                      <input type="text" id="textfield3" name="textfield3">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Dirección:
                      <input type="text" id="textfield4" name="textfield4">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Ciudad:
                      <input type="text" size="15" id="textfield5" name="textfield5">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Estado:
                      <input type="text" size="15" id="textfield6" name="textfield6">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Teléfono:
                      <input type="text" size="10" id="textfield7" name="textfield7">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>correo:
                      <input type="text" id="textfield8" name="textfield8">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>Indique la cantidad de personas que <br>
                    participarán del viaje:</p>
                  <p>&nbsp;</p>
                  <p><strong>CANTIDAD DE PERSONAS:</strong></p>
                  <p>&nbsp;</p>
                  <table width="200">
                    <tbody><tr>
                      <td><label>
                        <input type="radio" id="Escoja_0" value="opción" name="Escoja">
                        10 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_1" value="opción" name="Escoja">
                        20 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_2" value="opción" name="Escoja">
                        30 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_3" value="opción" name="Escoja">
                        50 personas</label></td>
                    </tr>
                  </tbody></table>
                  <p>&nbsp;</p>
                  <p>OBSERVACIONES:</p>
                  <p>
                    <label>
                      <textarea rows="5" cols="30" id="textarea" name="textarea"></textarea>
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>
                      <input type="submit" value="Enviar" id="button" name="button">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  </form></fieldset>
                  <p>&nbsp;</p>


                <p>&nbsp;</p>
                <p></p>
              </div>
          </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>
</div>