<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Seguro de Viaje</h1>
              <table align="center" width="550">
                <tbody><tr>
                  <td align="left" width="620" valign="middle"><h4><img width="144" height="180" src="images/segviaje.jpg">Cobertura  Mundial , cubre todo tipo de viaje:  Placer, Negocios, Estudios.</h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li>No restriciones en deportes peligrosos o ocupaciones (excepto deportes de  motor)</li>
                    <li>Información  sobre enfermedades infecciosas, seguridad, vacunas. </li>
                    <li>4/7 hora servicio de emergencia </li>
                    <li>Pagos directos al  hospital </li>
                    <li>Libertad  de utilizar cualquier  medico y hospital </li>
                    <li>Cobertura para gastos de emergencia  dental.Cobertura en zona de riesgo o guerra </li>
                    <li>Varias opciones de cobertura (desde  $50,000 hasta ilimitada) </li>
                    <li>No coaseguro </li>
                    <li>Varias opciones de  deducible (desde $0 hasta  $5,000) </li>
                    <li>Evacuacion Medica  &amp; Repatriacion </li>
                    <li> Cobertura fuera de su pais de residencia</li>
                    <li>Todas las nacionalidades hasta la edad de  79 años </li>
                    <li>Duración de viaje hasta 12 meses <br>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>