<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Nuestros Viajes</h1>
                    <ul>
                    	<li></li>
                      <li><a href="/categories/travels">Regresar</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <h1>Oriente Medio Jerusalén · Israel Soñado</h1>
                <table cellspacing="0" cellpadding="0" border="0" width="580">
                  <tbody><tr>
                    <td width="228"><img width="215" height="244" src="/images/1292005527.jpg"></td>
                    <td width="294" valign="top"><p><strong></strong><strong>Oriente Medio Jerusalén · Israel</strong></p>
                      <p><strong>Jerusalén Soñado: Jerusalén · Belén</strong></p>
                      <p>&nbsp;</p>
                      <p>5 días desde US$857 <br>
                        No incluye tiquetes áereos</p>
                      <p>&nbsp;</p>
                      <p>&nbsp;Fechas de inicio (PA-934)<br>
                        Noviembre 2010-Marzo 2011 <br>
                        Miércoles</p>
                      <p>&nbsp;</p>
                      <p><a href="p_medioriente-israel-sonado.html">DETALLES</a></p></td>
                    <td width="58" valign="top"><strong>US$857</strong></td>
                  </tr>
                </tbody></table>
                <p>&nbsp;</p>


                <table cellspacing="0" cellpadding="0" border="0" align="left" width="590">
                  <tbody>
                    <tr>
                      <td><table cellspacing="0" cellpadding="0" border="0" width="580">
                        <tbody>
                          <tr>
                            <td valign="center" colspan="2"><h2 cufid="1">Jerusalén   Soñado:   Jerusalén   ·   Belén</h2></td>
                          </tr>
                          <tr>
                            <td width="219" valign="top"><div><img width="215" height="244" src="images/1292005527.jpg"></div></td>
                            <td width="476" valign="center"><table cellspacing="0" cellpadding="0" border="1" align="center">
                              <tbody>
                                <tr>
                                  <td bgcolor="#cccccc" colspan="3"><p align="center"><strong>Hoteles Previstos </strong></p></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#cccccc" width="56"><p>Noches</p></td>
                                  <td bgcolor="#cccccc" width="65"><p>Ciudad</p></td>
                                  <td bgcolor="#cccccc" width="330"><p>Hotel</p></td>
                                </tr>
                                <tr>
                                  <td align="center" rowspan="2"><div>4</div></td>
                                  <td rowspan="2"><div>Jerusalén</div></td>
                                  <td>Shalom / Caesar /
                                    Jerusalem Gold / Jerusalem Gate<br>
                                    (Turista   superior)</td>
                                </tr>
                                <tr>
                                  <td>Royal Wing /
                                    Leonardo Jerusalem /
                                    Gran Court   (Primera)</td>
                                </tr>
                              </tbody>
                            </table></td>
                          </tr>
                          <tr>
                            <td bgcolor="#cccccc" valign="top" height="61" colspan="2"><div><strong>Fechas de inicio (PA-934)</strong><br>
                              Noviembre 2010-Marzo   2011 <br>
                              Miércoles</div></td>
                          </tr>
                          <tr>
                            <td valign="top" height="511" colspan="2"><p>&nbsp;</p>
                              <p><strong>Día 1.°: JERUSALÉN</strong><br>
                                Llegada al aeropuerto. Recepción y   Traslado al hotel. Alojamiento.</p>
                              <p><strong>Día 2.°: JERUSALÉN- MASADA MAR MUERTO-JERUSALÉN</strong><br>
                                Desayuno.   Salida hacia Masada último bastión Judío en la revuelta contra Romanos. Pasando   por la posada del Buen Samaritano y aldeas beduinas, bordeando la costa del Mar   Muerto. Subiremos en teleférico a la imponente fortaleza donde encontraremos   ruinas Herodianas y de los Zelotes. Continuamos al lugar mas bajo del mundo, el   Mar Muerto a 400 metros bajo el nivel del mar, pasando por las grutas donde   fueron hallados los manuscritos del Mar Muerto. Tiempo libre para bañarse en las   famosas aguas minerales del Mar Muerto. Luego regresamos a Jerusalén.   Alojamiento.</p>
                              <p><strong>Día 3.°: JERUSALÉN &ndash; MUSEO DE ISRAEL - EIN KAREN &ndash; MUSEO DEL   HOLOCAUSTO &ndash; BELÉN - JERUSALÉN</strong><br>
                                Desayuno. Salida hacia el   Santuario del Libro en el Museo de Israel donde están expuestos los Manuscritos   del Mar Muerto y la Maqueta de Jerusalén del tiempo de Jesús. A continuación   visita de Ein Karen donde conoceremos la Iglesia de la Natividad de San Juan   Bautista. Continuaremos hacia Yad Vashem, Museo y Memorial del Holocausto. Por   la tarde visita a Belén, entrando por la puerta de Humildad a la<br>
                                Iglesia de   la Natividad, Gruta del Pesebre, la estrella de 14 puntas (Lugar del nacimiento   de Jesús) Basílica de Santa Catarina y la Gruta de San Jerónimo.   Alojamiento.</p>
                              <p><strong>Día 4.°: JERUSALÉN &ndash; CIUDAD ANTIGUAMURO DE LOS LAMENTOS-SANTO SEPULCRO-   MONTE SION - MONTE LOS OLIVOS &ndash; JERUSALÉN</strong><br>
                                Desayuno. Salida hacia la   ciudad antigua de Jerusalén, visita del Muro de los Lamentos y continuación a   través de la Vía Dolorosa para llegar al Gólgota, lugar de la crucifixión de   Jesús y el Santo Sepulcro. Continuación al Monte Sion donde se encuentran la   Tumba del Rey David, el Cenáculo lugar de la ultima cena                “La Eucaristía” y   “Pentecostés”. Visita de la Abadía de la Dormición &ndash; Asunción de María. Seguimos   vía el Monte Scopus hacia el Monte de los Olivos, para apreciar una magnifica   vista de la ciudad. Se sigue a Getsemaní. Visita de la Basílica de la Agonía.   Alojamiento.</p>
                              <p><strong>Día 5.°: JERUSALÉN</strong><br>
                                Desayuno. Traslado al aeropuerto. FIN DEL   VIAJE</p></td>
                          </tr>
                        </tbody>
                      </table>
                        <table cellspacing="0" cellpadding="0" border="1">
                          <tbody>
                            <tr>
                              <td bgcolor="#cccccc" colspan="3"><p align="center"><strong>Puntos por Persona</strong></p></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" width="148"><p>Hoteles</p></td>
                              <td bgcolor="#cccccc" align="center" width="105"><div>
                                <p>Turista Superior</p>
                              </div></td>
                              <td bgcolor="#cccccc" align="center" width="67"><div>
                                <p>Primera</p>
                              </div></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" colspan="3">Salidas 01/11-28/02</td>
                            </tr>
                            <tr>
                              <td>Habitación Doble/Triple</td>
                              <td align="center"><div>557</div></td>
                              <td align="center"><div>643</div></td>
                            </tr>
                            <tr>
                              <td>Suplemento Individual</td>
                              <td align="center"><div>229</div></td>
                              <td align="center"><div>300</div></td>
                            </tr>
                            <tr>
                              <td>Supl. Media pensión</td>
                              <td align="center"><div>43</div></td>
                              <td align="center"><div>71</div></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" colspan="3">Salidas 01/03-31/03</td>
                            </tr>
                            <tr>
                              <td>Hab. Doble/Triple</td>
                              <td align="center"><div>593</div></td>
                              <td align="center"><div>679</div></td>
                            </tr>
                            <tr>
                              <td>Hab. Individual</td>
                              <td align="center"><div>243</div></td>
                              <td align="center"><div>321</div></td>
                            </tr>
                            <tr>
                              <td>Supl. Media pensión</td>
                              <td align="center"><div>43</div></td>
                              <td align="center"><div>79</div></td>
                            </tr>
                            <tr>
                              <td bgcolor="#cccccc" colspan="3">Noches adicionales en   Jerusalén</td>
                            </tr>
                            <tr>
                              <td>Habitación Doble/Triple</td>
                              <td align="center"><div>86</div></td>
                              <td align="center"><div>114</div></td>
                            </tr>
                            <tr>
                              <td>Hab. Individual</td>
                              <td align="center"><div>157</div></td>
                              <td align="center"><div>221</div></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                  </tbody>
                </table>
<p>&nbsp;</p>
              </div>
              <div id="right_column2">
                <p>&nbsp;</p>
                <h2>FORMULARIO  DE SOLICITUD </h2>
                <p>&nbsp;</p>
                <fieldset>
                <p>Para solicitar el viaje por favor llene el siguiente formulario con sus datos:</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <form action="" method="post" name="form1" id="form1">
                  <p>
                    <label><strong>ORGANIZACIÓN: </strong>
                      <input type="text" size="40" id="textfield" name="textfield">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>RESPONSABLE</strong>:</p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Nombres:
                      <input type="text" id="textfield2" name="textfield2">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Apellidos:
                      <input type="text" id="textfield3" name="textfield3">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Dirección:
                      <input type="text" id="textfield4" name="textfield4">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Ciudad:
                      <input type="text" size="15" id="textfield5" name="textfield5">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Estado:
                      <input type="text" size="15" id="textfield6" name="textfield6">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Teléfono:
                      <input type="text" size="10" id="textfield7" name="textfield7">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>correo:
                      <input type="text" id="textfield8" name="textfield8">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>Indique la cantidad de personas que <br>
                    participarán del viaje:</p>
                  <p>&nbsp;</p>
                  <p><strong>CANTIDAD DE PERSONAS:</strong></p>
                  <p>&nbsp;</p>
                  <table width="200">
                    <tbody><tr>
                      <td><label>
                        <input type="radio" id="Escoja_0" value="opción" name="Escoja">
                        10 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_1" value="opción" name="Escoja">
                        20 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_2" value="opción" name="Escoja">
                        30 personas</label></td>
                    </tr>
                    <tr>
                      <td><label>
                        <input type="radio" id="Escoja_3" value="opción" name="Escoja">
                        50 personas</label></td>
                    </tr>
                  </tbody></table>
                  <p>&nbsp;</p>
                  <p>OBSERVACIONES:</p>
                  <p>
                    <label>
                      <textarea rows="5" cols="30" id="textarea" name="textarea"></textarea>
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>
                      <input type="submit" value="Enviar" id="button" name="button">
                    </label></p>
                  <p>&nbsp;</p>
                  </form></fieldset>

                  <p>&nbsp;</p>


                <p>&nbsp;</p>
                <p></p>
              </div>
          </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>
</div>