<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Value Access Guarantee Seguro </h1>
              <table align="center" width="508">
                <tbody><tr>
                  <td align="left" width="500" valign="middle"><h4><img width="144" height="180" src="images/seg6.jpg">Beneficio para gastos médicos por enfermedad/Accidente </h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li>Beneficio para gastos médicos por enfermedad/Accidente </li>
                    <li> Libertad de utilizar cualquier Hospital o Doctor</li>
                    <li> Utiliza la lista de Proveedores Beech Street PPO </li>
                    <li>No deducible o copagos</li>
                    <li> Paga Beneficios en adición a cualquier otro seguro</li>
                    <li> Condiciones Preexistentes  incurridas dentro de los primeros12 meses antes del <br>
                      Inicio de la cobertura estará cubierta después de 12 meses</li>
                    <li> Garantía de Renovación hasta las edad de 70</li>
                    <li> Cobertura Hospitalaria:  $500 por día max. 30 dias /Cuidados Intensivo $900 x 30days</li>
                    <li> Cobertura de por cirugia hasta $2400 maximo 2 por anos.</li>
                    <li> Paga $50 por  visita al  Doctor  hasta un máximo de 5 visitas por ano, 10 visitas<br>
                      por familia.</li>
                    <li> Cobertura anual por consulta  preventiva $50 </li>
                    <li> Periodo de espera de 30 dias por enfermedad/ por accidente inmediato.</li>
                    <li> Servicio Ambulatorio hasta $50 por visita hasta un máximo de $1000 por año.<br>
                      Servicio de Ambulancia:  Máximo $50 por accidente o enfermedad.</li>
                    <li> Precio Unisex<br>
                      Costo mensual: <br>
                      Individual	$130.32    Familia $318.62<br>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp; </p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>