<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Value Med Seguro</h1>
              <table align="center" width="550">
                <tbody><tr>
                  <td align="left" width="620" valign="middle"><h4><img width="144" height="180" src="images/seg5.jpg">Beneficio para gastos médicos por enfermedad/Accidente </h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li>Beneficio para gastos médicos por enfermedad/Accidente </li>
                    <li> Libertad de utilizar cualquier Hospital o Doctor</li>
                    <li>No deducible o copagos</li>
                    <li> Paga Beneficios en adición a cualquier otro seguro.</li>
                    <li> Condiciones Preexistentes  incurridas dentro de los primeros12 meses antes del <br>
                      Inicio de la cobertura estará cubierta después de 12 meses.</li>
                    <li> Garantía de Renovación hasta las edad de 65.</li>
                    <li> Puede escoger cobertura Hospitalaria: $1000 por día max. 365 dias</li>
                    <li> Paga $75 por  visita al  Doctor  hasta un máximo de 10 visitas por ano, 5 visitas<br>
                      por niño.</li>
                    <li> Servicio Ambulatorio hasta $250 por visita hasta un máximo de $1000 por año.
                      Servicio de Ambulancia:  Máximo $200 por accidente o enfermedad.</li>
                    <li> Precio Unisex<br>
                      Costo Mensual:<br>
                      Edad	Individual	   2 Personas         Familia con 2 ninos<br>
                      <table width="422">
                        <tbody><tr>
                          <td align="center">Edad</td>
                          <td align="center"> Individual </td>
                          <td align="center">2 Personas</td>
                          <td align="center"> Familia con 2 ninos</td>
                        </tr>
                        <tr>
                          <td align="center">18-39</td>
                          <td align="center"> $70.48 </td>
                          <td align="center">$135.96</td>
                          <td align="center"> $210.26 </td>
                        </tr>
                        <tr>
                          <td align="center">40-44</td>
                          <td align="center">$76.58</td>
                          <td align="center">$148.16</td>
                          <td align="center">$222.46</td>
                        </tr>
                        <tr>
                          <td align="center">45-49</td>
                          <td align="center">$91.56</td>
                          <td align="center"> $178.12</td>
                          <td align="center">$252.42</td>
                        </tr>
                        <tr>
                          <td align="center">50-54</td>
                          <td align="center"> $108.60</td>
                          <td align="center">$212.20</td>
                          <td align="center">$286.50</td>
                        </tr>
                        <tr>
                          <td align="center">55-59</td>
                          <td align="center">$132.39</td>
                          <td align="center">$259.78</td>
                          <td align="center">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center">60-64 </td>
                          <td align="center">$178.71</td>
                          <td align="center">$352.42 </td>
                          <td align="center">&nbsp;</td>
                        </tr>
                      </tbody></table>
                      <br>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>




        </div>