<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Planes de Seguros</h1>
                    <ul>
                    	<li></li>
                        <li><a href="p_seguros.html">Regresar</a></li>
                        <li><a target="_blank" href="http://www.eliteunderwriters.com/">Todo Tipo de Seguros</a></li>
                    </ul>
<p>&nbsp;</p>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
            <div id="right_column">
              <h1>Value Garantee Plan</h1>
              <table align="center" width="524">
                <tbody><tr>
                  <td align="left" width="516" valign="middle"><h4><img width="144" height="180" src="images/seg88.jpg"> No Preguntas Medicas-  Cobertura Garantizada</h4>
                    <h4> </h4></td>
                </tr>
                <tr>
                  <td><ul>
                    <li> No Preguntas Medicas-  Cobertura Garantizada</li>
                    <li>Libertad  de utilizar a cualquier Doctor o Hospital</li>
                    <li>Visitas medicas $75 por visita, limitado a 5 visitas por ano.<br>
                      Paga Operación Programada por enfermedades/accidentes cubiertos hasta $8000</li>
                    <li> Paga por anestesia hasta $1,60</li>
                    <li>Servicio de Ambulancia por enfermedad/accidente cubierto hasta $100 máximo 2 por año. </li>
                    <li> Tratamiento de emergencia por accidente $75 máximo 2 por año.</li>
                    <li> Hospitalización $250 por día desde el 1er día hasta 30 días por estadía</li>
                    <li> Cuidados Intensivos o Cuidados Coronario  $750 por día maximo  10 días por estadía en el hospital.</li>
                    <li> Beneficios se reducen a 50% al cumplir 65. Cobertura  termina a la edad 75.</li>
                    <li> Precio son unisex<br>
                      Costo Mensual:
                      <table width="188">
                        <tbody><tr>
                          <td width="97">Edad </td>
                          <td width="100">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>Niño</td>
                          <td>$32.00</td>
                        </tr>
                        <tr>
                          <td>18-39</td>
                          <td> $75.00</td>
                        </tr>
                        <tr>
                          <td>40-49</td>
                          <td>$85.00</td>
                        </tr>
                        <tr>
                          <td>50-59</td>
                          <td> $112.00</td>
                        </tr>
                        <tr>
                          <td>60-64</td>
                          <td>$122.00</td>
                        </tr>
                      </tbody></table>
                      Anadir $20 mensual por gasto administrativo por certificado. <br>
                      <br>
                    </li>
                  </ul></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <%=  render :partial => "products/insurance/insurance_form" %>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
              <div id="right_column2">
                <p><img width="246" height="115" src="images/logo_wordamerica.jpg"><img width="246" height="67" src="images/logo_southpacific.jpg"><img width="246" height="600" src="images/segurostodos.jpg"></p>
<p></p>
            </div>



          </div>
          <div class="column_bottom">
            <h2><a>solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>




        </div>