<table width="850" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="220" bgcolor="#FFFFFF"><div align="left"><img border="0" src="/images/heading.png" width="850" height="220"></div></td>
  </tr>
</table>

<table width="850" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#FFFFFF"><div align="center">
      <table width="849" height="23" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="55" height="21"><div align="center" class="style16"><span class="style15"><a href="/" target="_parent" class="style16">
              Inicio</a> |</span>
          </div></td>
          <td width="110" height="21"><div align="center" class="style16"><span class="style15"><a href="/home/about_us" target="_parent" class="style16">
              Sobre SAICA</a>  |</span>
          </div></td>
          <td width="90" height="21"><div align="center" class="style16"><span class="style15"><a href="/home/more_info" target="_parent" class="style16">
              Capellanía</a> |</span>
          </div></td>
          <td width="90" height="21"><div align="center" class="style16"><span class="style15"><a href="/home/calendar" target="_parent" class="style16">
              Calendario</a> |</span>
          </div></td>
          <td width="105" height="21"><div align="center" class="style16"><span class="style15"><a href="/home/contact" target="_parent" class="style16">
              Contáctenos</a> |</span>
          </div></td>
          <td width="65" height="21"><div align="center" class="style33"><span class="style15"><a href="/home/gallery" target="_parent" class="style16">
              Galería</a> |</span>
          </div></td>
          
          <td height="21"><div style="float:right" class="style16"><span class="style15">
            Bienvenido, <a style="font-size:11px" href="/home/gallery" target="_parent" class="style16"><%= current_user.email %></a> |
          </span>
            <a href="<%= destroy_user_session_path %>" class="style16" style="font-size:11px">salir</a>
          </div></td>
          
        </tr>
      </table>
      </div></td>
  </tr>
</table>