<table width="850" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="220" bgcolor="#FFFFFF"><div align="left"><img border="0" src="/images/heading.png" width="850" height="220"></div></td>
  </tr>
</table>
<table width="850" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#FFFFFF"><div align="center">
      <table width="849" height="23" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="120" height="21"><div align="center" class="style16"><span class="style15"><a href="index.html" target="_parent" class="style16">
              Inicio</a> |</span>
          </div></td>
          <td width="120" height="21"><div align="center" class="style16"><span class="style15"><a href="about_us" target="_parent" class="style16">
              Sobre SAICA</a>  |</span>
          </div></td>
          <td width="120" height="21"><div align="center" class="style16"><span class="style15"><a href="more_info" target="_parent" class="style16">
              Capellanía</a> |</span>
          </div></td>
          <td width="120" height="21"><div align="center" class="style16"><span class="style15"><a href="calendar" target="_parent" class="style16">
              Calendario</a> |</span>
          </div></td>
          <td height="21" class="style34"><div align="center" class="style16"><span class="style15"><a href="contact" target="_parent" class="style16">
              Contáctenos</a> |</span>
          </div></td>
          <td width="120" height="21"><div align="center" class="style33"><span class="style15"><a href="gallery" target="_parent" class="style16">
              Galería</a> |</span>
          </div></td>
        </tr>
      </table>
      </div></td>
  </tr>
</table>