<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">
            <div id="left_column">
           	    <h1>&nbsp;</h1>
           	    <ul>

                    <li>
                      <h2>Conózcanos</h2>
                    </li>
                    <li><a href="p_quienes.html">Quienes Somos</a></li>
                    <li> <a href="p_setrata.html">De qué se trata</a></li>
                    <li><a href="p_estrategias.html">Estratégias para el Éxito</a></li>
                    <li><a href="p_lealtad_puntos.html">Programa de Lealtad Enter@te</a></li>
                    <li><a href="p_contactos.php">Contáctenos</a></li>
                    <li><a href="p_canal.html">Regresar</a></li>
                  </ul>
                    <p></p>
              <p></p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p><br>
              </p>
</div>
              <div id="right_column">
                <h1 class="column_bottom">Quienes Somos</h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><img width="218" height="210" src="/images/q_som1.jpg"></p>
                <h2><strong>En  el Grupo Entér@te<br>
                </strong><strong>Empresas  Asociadas</strong></h2>
                <p>&nbsp;</p>
                <p>Somos gente muy diversa  y de todos los antecedentes culturales y profesionales. Imagínate: actualmente  trabajamos en este negocio, <strong>DESDE AMAS DE CASA HASTA PROFESIONALES</strong>,&nbsp; Entre nosotros hay pastores, médicos,  empresarios, técnicos, enfermeras, amas de casa, camareros, mecánicos, Bueno  Amigos la lista sigue y es muy larga ... </p>
                <p>&nbsp;</p>
                <p> Algunos siguen  combinando su profesión con este negocio y otros han dejado sus empleos para  dedicarse a tiempo completo.
                  Tenemos muchas amas de  casa que están consiguiendo un apoyo para su economía doméstica dedicando solo  unas horas a la semana.</p>
                <p>&nbsp;</p>
                <p>Otros hemos convertido  esta oportunidad que ahora se te brinda a ti en una carrera profesional y le  estamos dando plena dedicación, <strong>obteniendo unos ingresos que nos permiten vivir  desahogadamente</strong>, desde luego por encima del sueldo que cobrábamos antes con un  puesto de trabajo típico.</p>
                <p>&nbsp;</p>
                <p>Y tenemos otros que se  propusieron alcanzar la independencia económica y la han logrado, algunos de  ellos consiguiendo jubilarse en plena juventud, con negocios que en la  actualidad valen muchísimo dinero.</p>
                <p>&nbsp;</p>
                <a href="#"></a>
                <div class="bg"></div>
                <img width="218" height="210" class="floated" alt="img" src="/images/q_som2.jpg">
                <h2 align="left">Cada uno <span>marca sus <a id="objetivo" name="objetivo"></a>objetivos </span></h2>
                <p>Los objetivos se los marca cada uno y depende de él conseguirlos  o no. Una persona a tiempo parcial, <strong>dedicando unas tres o cuatro horas al día,  (5) días a la semana puede obtener unos ingresos de $2,600 a $5,000 al mes sin  mucho esfuerzo</strong>, &nbsp;el que se dedica a  tiempo completo (sin equipo) puede obtener unos $6, 000 a $10,000 al mes  fácilmente, siempre trabajando (5) días a la semana. Si cuentas con un equipo  de trabajo 10 diez personas, no te ponemos la cantidad porque creemos que no lo  creerás, pero sabemos que lo vivirás y tú serás testimonio directo de tus  fabulosos ingresos.&nbsp;</p>
                <p>&nbsp;</p>
                <p>¿Te das cuenta de lo especial de esta oferta de negocios? <strong>Se  trata de un negocio que se adapta a ti, tanto en el tiempo que dedicas como en  los horarios que empleas</strong> y, a pesar de eso, obtienes unos ingresos siempre  superiores a los habituales en el mercado.
                  Muchas personas hemos elegido este negocio como una carrera  profesional y realmente no, nos arrepentimos. </p>
                <p>&nbsp;</p>
                <p>Cada uno de nosotros, con sus circunstancias y antecedentes  profesionales diferentes, en su día 'vimos' la oportunidad y, en más o menos  tiempo, hemos conseguido una excelente posición personal y profesional. Como es  lógico, algunos tuvimos que superar escollos iniciales pero con tesón e  imaginación los vencimos.</p>
                <p>&nbsp;</p>
                <div class="bg"></div>
                <h2><span class="Estilo4"><img width="218" height="300" class="floated" alt="img" src="/images/q_som3.jpg"></span>Los requisitos <span class="Estilo4">que tienes<a id="requisito" name="requisito"></a><br>
                  que aportar</span></h2>
                <p><strong>NOSOTROS TE APORTAMOS  LA FORMACIÓN</strong><br>
                  Con nuestro Plan de  Formación Paso a Paso capacitamos a todo el que es enseñable, &nbsp;Si tienes motivación y quiere progresar, Esta  es tu oportunidad.</p>
                <p>&nbsp;</p>
                <p>Es preciso <strong>tener la  predisposición de aprender</strong>. Cada paso en tu formación será una un nuevo paso  que te conducirá a tu desarrollo profesional, un avance en la creación de tu  propio negocio. Pero, si encajas en el perfil, tendrás que aplicarte a aprender  al "a-b-c" &nbsp;será como el niño  que aprende a andar.</p>
                <p>Te decimos esto por la  tendencia general de todos a dudar, modificar, añadir ideas propias y métodos  "fabulosos". Eso es lógico y está bien. Pero, el niño ha de aprender  a andar primero, ya tendrá tiempo de correr y saltar. Por eso, insistimos tanto  en que buscamos personas enseñables. Ya que otros están teniendo éxito, todo lo  que hay que hacer es imitar sus métodos y no tratar de inventar lo que ya está  inventado.</p>
                <p>&nbsp;</p>
                <p>Algunos de nosotros,  que somos amas de casa y trabajadores manuales, jamás hubiéramos imaginado que  nos ganaríamos la vida con un negocio propio, y mucho menos que desempeñaríamos  funciones cualificadas que en el mundo empresarial podrían ser equiparables a  jefes de ventas, directores comerciales o de recursos humanos o líderes en  conducción de equipos.</p>
                <p>&nbsp;</p>
                <p>Gracias al plan de  formación de nuestra empresa eso es lo que estamos haciendo ahora. Y te podemos  asegurar que no es que seamos personas con un nivel de habilidad o de  inteligencia especial, lo que tenemos es ganas de trabajar, ganas de aprender y  persistencia.</p>
                <p>&nbsp;</p>
<p>Ya habrás visto una  nueva razón que hace extraordinaria nuestra oferta de Negocios: Aunque no sepas  de economía empresarial o no tengas entrenamiento en ventas puedes crear un  negocio propio con garantías de éxito, porque para gestionar este tipo de  negocio priman más tus actitudes que tus conocimientos académicos. ¿Quién no  tiene -si quiere- las tres cualidades que hemos dicho antes: ganas de trabajar,  capacidad de aprendizaje y persistencia?.</p>
<p>&nbsp;</p>
                <p>No obstante, antes de  emprender un negocio hay que tener la seguridad de que hay mercado potencial  para él y que tienes ciertas garantías de hacerte con un lugar dentro de ese  mercado. ¿Es así? ¿Cuál es el mercado o el sector en el que te invitamos a  formar parte?<strong> </strong></p>
                <p></p>
            </div>
              <div id="right_column2">
                <h2><img border="0" width="267" height="445" usemap="#Map" src="/images/fondo4.jpg">
                  <map id="Map" name="Map">
                    <area target="_blank" href="http://www.mastercard.us/cardholder-services/atm-locator.html" coords="44,138,219,176" shape="rect">
                    <area target="_blank" href="http://www.allpointnetwork.com/" coords="92,242,164,282" shape="rect">
                    <area target="_blank" href="http://www.accelexchange.com/atmLocator.aspx" coords="38,343,221,382" shape="rect">
                    <area target="_blank" href="http://www.star.com/locator/" coords="76,38,129,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="9,43,73,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="133,37,256,81" shape="rect">
                  </map>
                </h2>
<h2>&nbsp;</h2>
<p>&nbsp;</p>

                <br>
<p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a href="http://www.bryantsmith.com/template">solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
        </div>