<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">


            <div id="left_column">
                	<h1> Registro                    </h1>
                	<ul>
                    	<li><a href="p_canal.html">Inicio</a></li>
              </ul>
                	<p>&nbsp;</p>
                	<p>&nbsp;</p>
                	<p>&nbsp;</p>
                	<ul>
                	  <li>
                	    <h2>Cómo se gana</h2>
                	    </li>
                	  <li><a href="p_claveorg-org.html">Organizaciones</a></li>
                	  <li> <a href="p_claveasoc-org.html">Asociados</a><br>
               	      </li>
           	  </ul>
            </div>
            <div id="right_column">
              <table cellspacing="0" cellpadding="0" border="0" width="892">
              <tbody><tr>
                    <td width="892"><table cellspacing="0" cellpadding="0" border="0" width="876">
                      <tbody><tr>
                        <td valign="top" colspan="3"><p><img border="0" width="871" height="403" src="/images/cabezote2.jpg"></p></td>
                      </tr>
                      <tr>
                        <td width="117">&nbsp;</td>
                        <td height="51"><img width="569" height="41" src="/images/viajes-texto2.gif"></td>
                        <td width="176" valign="top" rowspan="3"><table cellspacing="0" cellpadding="0" border="0" width="100">
                          <tbody><tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td><img border="0" width="170" height="131" usemap="#Map2" src="/images/menuviaje.jpg"></td>
                          </tr>
                        </tbody></table>
                          <map id="Map22" name="Map">
                            <area href="p_viajes-cupones.html" coords="1,0,165,24" shape="rect">
                          </map>
                          <map id="Map2Map" name="Map2Map">
                            <area href="p_viajes-costos.html" coords="2,1,162,21" shape="rect">
                          </map>
                          <map id="Map7" name="Map">
                            <area href="p_viajes-cupones.html" coords="1,0,165,24" shape="rect">
                          </map>
                          <map id="Map4Map" name="Map4Map">
                            <area href="p_viajes-afiliacion.html" coords="2,2,166,23" shape="rect">
                          </map>
                          <map id="Map5Map" name="Map5Map">
                            <area href="p_viajes-afiches.html" coords="5,1,160,24" shape="rect">
                          </map>
                          <map id="Map62" name="Map">
                            <area href="p_viajes-cupones.html" coords="1,0,165,24" shape="rect">
                          </map>
                          <map id="Map5" name="Map">
                            <area href="p_viajes-cupones.html" coords="1,0,165,24" shape="rect">
                          </map>
                          <map id="Map" name="Map">
                            <area href="p_viajes-cupones.html" coords="1,0,165,24" shape="rect">
                        </map></td>
                      </tr>
                      <tr>
                        <td width="117">&nbsp;</td>
                        <td width="583" height="48"><ul>
                        <li>Motivación </li>
                            <li>Recompensas </li>
                            <li>Agradecimiento</li>
                          </ul>
                        <p>&nbsp;</p></td>
                      </tr>
                      <tr>
                        <td width="117">&nbsp;</td>
                        <td height="80"><p><img width="300" height="21" src="/images/viajes-texto3.gif"></p>
                          <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        Los certificados que se emiten son producto de negociaciones con las líneas aéreas, hoteles, resorts, y líneas de cruceros para promover la ocupación de asientos o cuartos vacios con el objeto de generar consumos colaterales.</td>
                      </tr>
                      <tr>
                        <td colspan="3">&nbsp;</td>
                      </tr>
                      <tr>
                        <td colspan="3">&nbsp;</td>
                      </tr>
                    </tbody></table>
      <p>&nbsp;</p></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody></table>
              <p>&nbsp;</p>
            <p></p>
              </div>
          </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>