<body bgcolor="#ffffff" onload="MM_preloadImages('Images/photosover.jpg','Images/buttonsobreover.jpg')">
<div align="center" style="">
  <table cellspacing="0" cellpadding="0" border="0" width="850" class="style25">
    <tbody><tr>
      <td bgcolor="#ff6600" width="310">&nbsp;</td>
      <td bgcolor="#ff6600" width="540">&nbsp;</td>
    </tr>
  </tbody></table>
  <table cellspacing="0" cellpadding="0" border="0" width="850" class="style27">
    <tbody><tr>
      <td width="600" valign="top" height="319" class="style27" rowspan="7"><div align="center">
          <table cellpadding="0" border="0" width="574" height="137" class="style26">
            <tbody><tr>
              <td align="left" width="568" valign="top" class="style32" colspan="2"><blockquote style="width: 226px; margin-right: 24px;">&nbsp;</blockquote>
                <table cellspacing="0" cellpadding="0" border="0" width="569">
                  <tbody>
                    <tr>
                      <td align="center" width="569" valign="middle" class="style22"><strong class="style15">SAICA LE DA LA BIENVENIDA</strong></td>
                    </tr>
                  </tbody>
                </table>
                <p class="style22">&nbsp;</p>
                <p class="style22">Estamos viviendo momentos llenos de esperanza y victoria, se nos presentan   RETOS que hace apenas unos meses atrás no los teníamos, Nuestros hermanos en las   Iglesias, Dios les ha permitido quedarse sin Empleo para darles mejores   alternativas para mejorar sus hogares pero principalmente sus iglesias, pero en   este proceso, nuestras Iglesias se han visto con RETOS adicionales pero con la <strong>PROMESA FIRME</strong> de <strong>NUESTRO SEÑOR JESUCRISTO</strong> que   esta será la Victoria Mas Grande de todos los Tiempos de nuestras Iglesias y   Ministerios. </p>
                <table cellspacing="0" cellpadding="0" border="0" width="569">
                  <tbody>
                    <tr>
                      <td align="center" width="569" valign="middle" class="style22"><strong>Esta es la firme creencia de SAICA</strong></td>
                    </tr>
                  </tbody>
                </table>
                <p class="style22">SAICA ha buscado soluciones para estos nuevos RETOS, No sólo, pensando en   nuestras necesidades propias, sino en <strong>Soluciones Para   Todos.</strong></p>
                <p class="style22">SAICA con gran esfuerzo ha adquirido plataformas de Ingresos donde   todas nuestras Iglesias y Ministerios podrán recibir ingresos frescos y lo   importante de esto, es que son soluciones Integradas ya que, podremos también   solucionar en gran parte el problema del desempleo, además aumentaremos los   clientes a nuestros comerciantes de nuestras Iglesias de esta forma&nbsp; radicaremos   y aislamos toda situación económica difícil que nos ha tocado que enfrentar y   convertiremos toda esta situación en la</p>
                <table cellspacing="0" cellpadding="0" border="0" width="564">
                  <tbody>
                    <tr>
                      <td align="center" width="564" valign="middle" class="style22"><strong>Victoria Más Grande de todos los tiempos<br>
                        de nuestas Iglesias y Ministerios<br>
                      <br>Unidos Somos Más<br><br>Somos SAICA<br>Somos Soluciones Integradas</strong></td>
                    </tr>
                  </tbody>
                </table>
                <p class="style22">Las plataformas de SAICA cuentan con Productos y Servicios, la gran parte   de estos son los de consumo natural que todos tenemos, la gran diferencia que   ahora los compraremos a través de nuestras plataformas y obtendremos ingresos   importantes, además con la plataforma beneficiaremos directamente a nuestra   membresía ya que muchos de estos productos y servicios se compraran a mejores   precios, provocándoles &nbsp;grandes ahorros.</p>
                <p class="style22">La Plataforma de SAICA cuenta con directorios, donde registraremos la gran parte de (comerciantes) Dueños de negocios de hermanos cristianos de todas las Iglesias con el propósito que consumamos directamente en todo lo que sea posible, en solo negocios cristianos autorizados, eso nos provocara un ingreso adicional, llevando beneficio de un mejor precio por el producto o servicio a todos nuestros hermanos y a su vez le llevamos nuevos clientes a estos hermanos dueños de negocio.</p>
                <p class="style22">La plataforma SAICA, cuenta con infinidad de recursos, desde seguros de todo tipo, préstamos hipotecarios y otros tipos de préstamos, viajes, salud, larga distancia, librerías, productos naturales y muchas otras facilidades,&nbsp;de recursos tanto financieros como de cualquier negocio licito de acuerdo y autorizado por SAICA.</p>
                <table cellspacing="0" cellpadding="0" border="0" width="552">
                  <tbody><tr>
                    <td align="center" width="552" valign="middle" class="style22"><strong>Soluciones Inmediatas de Ingresos</strong></td>
                  </tr>
                </tbody></table>
                <p class="style22">La plataforma de SAICA cuenta con soluciones prácticas de ingresos inmediatos y estos son a través de plataformas de tarjetas Visa, MasterCard y una plataforma propia de tarjetas Ingenicard estas aplican con los mismos servicios de Visa y MasterCard la gran diferencia es que por ser una plataforma propia se recibí ingresos mucho mayores, Realmente mucho Mayores.</p>
                <p class="style22">Por años todos hemos tenido y usado una tarjeta de Visa o MasterCard, y los bancos han sido los grandes beneficiarios. Pero con nuestras plataformas ahora nuestras Iglesias y Ministerios serán los beneficiados, si cada miembro de nuestra iglesia o ministerio simplemente utiliza nuestra tarjeta en lugar de la tarjeta bancaria, solo con esta alternativa esta Iglesia o Ministerio  resolverán el cash flow en menos de 60 días.</p>
                <p class="style22">Para dar una idea más clara sobre este tema, un ejemplo simple, Si una iglesia tiene 300 miembros, en esta iglesia, tienen un promedio de 1,200 Tarjetas, ya que cada persona representa como mínimo a (3) tres personas, además estas 300 miembros tienen un promedio de más 50 compras importantes o especiales, cambian el  automóvil según promedio cada (3) años tienen un promedio de 50 hipotecas, más un promedio de 800 préstamos personales, más un promedio 25 préstamos comerciales, más un promedio de 1,500 remesas anuales y realizan con sus tarjetas más de 50,000  transacciones en el año, <strong>solamente con estas 50,000 transacciones en el año, una iglesia o ministerio podría tener más de US$60,000.</strong></p>
                <p class="style22">Sin contar con muchas otras compras efectivas que se realizan en el transcurso de un año.</p>
                <p class="style22"><strong>En otras palabras,  éstos 300 miembros gastaron millones de dólares y la Iglesia o Ministerio No obtuvo Ningún beneficio, sólo el banco.</strong></p>
                <p class="style22"><strong>Ahora podemos Cambiar, Nuestras Iglesias y Ministerios SI recibirán beneficios de Todo con la Plataforma SAICA</strong></p>
              <p class="style22">&nbsp;</p></td>
            </tr>
          </tbody></table>
      </div></td>
        <td bgcolor="#ff6600" valign="top"><img border="0" width="229" height="921" usemap="#Map2" src="/images/menu.jpg">
          <map name="Map2">
            <area href="nonprofit_orgs_register" coords="21,703,214,738" shape="rect">
            <area href="partners_business_register" coords="21,747,215,779" shape="rect">
            <area href="cards" coords="21,220,213,253" shape="rect">
            <area href="travels" coords="21,258,220,294" shape="rect">
            <area href="insurance" coords="21,298,214,333" shape="rect">
            <area href="logn_distance" coords="22,341,214,372" shape="rect">
            <area href="strategies_for_success" coords="20,145,217,182" shape="rect">
            <area href="what_is_it_about" coords="21,108,215,140" shape="rect">
            <area href="about_us" coords="23,62,210,98" shape="rect">
            <area href="lealtad/page2.html" coords="22,816,213,851" shape="rect">
            <area href="loyalty_program_merchants" coords="19,581,219,617" shape="rect">
            <area href="int_driving_license" coords="20,379,218,415" shape="rect">
            <area href="id_credentials" coords="22,421,220,459" shape="rect">
            <area href="strips" coords="20,463,217,501" shape="rect">
            <area href="business_promotions" coords="19,541,216,578" shape="rect">
            <area href="make_your_website" coords="17,503,215,538" shape="rect">
            <area href="admin_system_nonprofit_orgs" coords="21,619,217,673" shape="rect">
            <area href="incentive_progrma" coords="23,857,214,904" shape="rect">
      </map></td>
    </tr>
    <tr>
      <td bgcolor="#ff6600" valign="top" height="19">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top"><span class="style6"><img width="241" height="311" src="/images/saicapida_tar52.png"></span></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top"><span class="style6"><img width="241" height="260" src="/images/saicapida_tar51.png"></span></td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" valign="top">&nbsp;</td>
    </tr>
  </tbody></table>

</div>
</body>