<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">


          <div id="left_column">
                	<h1>Productos</h1>
                    <ul>
                    	<li><a href="inicio.html">Tarjetas</a></li>
                        <li><a href="p_medioriente.html">Especiales a Medio Oriente</a></li>
                        <li><a href="p_seguros.html">Seguros</a></li>
                        <li><a href="p_largadistancia.html">Larga Distancia</a></li>
                        <li><a href="p_liconducir.html">Licencia de Conducir</a></li>
                        <li><a href="p_iddpersonal.html">Credencial de Identificación</a></li>
                        <li><a href="p_clavefajas.html">Fajas</a></li>
                        <li><a href="p_portal.html">Haga su Portal</a></li>
                        <li><a href="p_vacaway.html">Promociones Especiales para Negocios</a></li>
                        <li><a href="p_lealtad.html">Programa de lealtad para Comerciantes</a></li>
                        <li><a href="p_iglestimu.html">Sistema de Generación de Fondos para Organizaciones sin Fines de Lucro</a></li>
                        <li>
                          <h2><img width="20" height="20" src="/images/spacer.gif"></h2>
                        </li>
                        <li>
                          <h2>Cómo se gana</h2>
                        </li>
                        <li><a href="p_claveorg-largad.html">Organizaciones</a></li>
                        <li> <a href="p_claveasoc-largad.html">Asociados</a></li>
                        <li><img width="20" height="20" src="/images/spacer.gif"></li>
                        <li><a href="p_canal.html">REGRESAR</a></li>
                        <li></li></ul>
                  <p>&nbsp;</p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p>


                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                  <p>&nbsp;</p>
<br>
            </div>
              <div id="right_column">
                <h1>Llamadas de Larga Distancia</h1>
                <table cellspacing="0" cellpadding="0" border="0" width="573" height="26">
                  <tbody>
                    <tr>
                      <td colspan="3"><img width="246" height="116" src="/images/1288037275.jpg"></td>
                      <td width="307" colspan="3"><p><strong>RAGZ INTERNET ofrece la manera más sencilla de llamar sin PIN y cubre toda América Latina y demás  países en todo el mundo.</strong></p></td>
                    </tr>
                    <tr></tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <img width="400" height="282" src="/images/ld.jpg">
                  <table cellspacing="0" cellpadding="0" border="0" align="left" width="590">
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                  <tbody><tr>
                    <td><p>La manera más económica de realizar llamadas nacionales e internacionales sin   necesidad de tarjetas ni planes fijos,ofrece una forma muy sencilla de llamar sin necesidad   de PIN. Cubre todos los países de América Latina y demás países en todo el mundo. RAGZ Internet es una compañía con más de 25 años de experiencia combinada en   el desarrollo y entrega de servicios de telecomunicaciones e   Internet.<br>
                      <br>
                      RAGZ Internet provee servicios a nivel Nacional e   Internacional, sirviendo en todo los Estados Unidos con miles de agentes y usuarios.<br>
                      <strong><br>
                      RAGZ   Internet</strong> hoy en día, líder de la distribución de llamadas de larga distancia internacionales, esta al servicio de todas las organizaciones contribuyendo con las mejores tarifas del mercado. </p>
                      <p>&nbsp;</p>
                      <p>A través de estos   programas y con trabajo, dedicación y vocación de negocios es posible generar   altos ingresos.<br>
                        <br>
                        En estos momentos <strong>RAGZ Internet </strong>junto al grupo Enter@te   les ofrece su servicio de Larga distancia y recarga   Internacional.<br>
                      </p>
                      <table cellspacing="0" cellpadding="0" border="0" width="550">
                        <tbody><tr>
                          <td height="272"><ul>
                            <li><strong>Servicio de muy alta calidad, llamas y te comunicas! Si   a CUBA también!</strong></li>
                            <li><strong> No requiere PIN para hacer llamadas.</strong></li>
                            <li><strong> No   requiere inventario físico de tarjetas.<br>
                            </strong></li>
                            <li><strong> El servicio sirve para llamar a   todo el mundo tanto a casa como a teléfonos móviles.<br>
                            </strong></li>
                            <li><strong> Es muy fácil de   controlar y de utilizar.<br>
                            </strong></li>
                            <li><strong> Los minutos comprados no expiran.<br>
                            </strong></li>
                            <li><strong> No se   cobran cargos de conexión ni cargos de media noche.<br>
                            </strong></li>
                            <li><strong> Cobertura en todo   USA<br>
                            </strong></li>
                            <li><strong> Tarifas súper competitivas<br>
                            </strong></li>
                            <li><strong> Comisiones muy atractivas, pagadas   por adelantado! Si, antes de vender ya tienes tu comisión !<br>
                            </strong></li>
                            <li><strong> Opción de   recargar y comprar el servicio con la tarjeta del Grupo Enter@te<br>
                            </strong></li>
                            <li><strong> Opción   de recargar tel ófonos móviles en otros países con compañías como Cubacel,   Digicel, Telcel, Movistar, Orange, Claro y muchas otras más.</strong></li>
                          </ul></td>
                        </tr>
                      </tbody></table>
                      <p><br>
                        Si tú estas   interesado en el servicio llena tu cupón de Ingreso y en 48hrs <strong>RAGZ Internet</strong> te   generara una cuenta en la página web con tu clave y contraseña para que   inmediatamente puedas empezar a vender.<br>
                      </p>
                      <table cellspacing="0" cellpadding="0" border="0" width="300">
                        <tbody><tr>
                          <td><h2>Cómo funciona </h2></td>
                        </tr>
                      </tbody></table>
                      <table cellspacing="0" cellpadding="0" border="0" width="550">
                        <tbody><tr>
                          <td height="240"><ol>
                            <li><strong>Llena y envía tu cupón de   Ingreso</strong></li>
                            <li><strong> Una vez recibida tu clave y contraseña tienes que ir a para   ingresar a tu cuenta. <br>
                            </strong></li>
                            <li><strong> Ingresa tu clave y tu contraseña y haz un click   con el mouse en el botón de LOGIN<br>
                            </strong></li>
                            <li><strong> El sistema te lleva a la pagina HOME   donde tienes tu información, tu balance y tus ventas.<br>
                            </strong></li>
                            <li><strong> En el Menú de la   izquierda tienes los números de acceso, información de la cuenta y tarifas de   llamadas a todos los países del mundo.<br>
                            </strong></li>
                            <li><strong> Para registrar un número de teléfono solo es necesario ingresar el número y el nombre, luego hacer un click en   el botón REGISTER.<br>
                            </strong></li>
                            <li><strong> El sistema te lleva a la pantalla de ingreso de   dinero, ingresas la cantidad de dinero que el cliente quiere comprar y luego un   click en el botón ADD MONEY.<br>
                            </strong></li>
                            <li><strong> LISTO Inmediatamente ya se pueden hacer   llamadas desde el teléfono registrado marcando cualquiera de los numero de   acceso y SIN PIN! El sistema en todo momento te indica el balance de tu cuenta   y los minutos disponibles según el país de destino que tú llamas.</strong></li>
                          </ol></td>
                        </tr>
                      </tbody></table>
                      <p>&nbsp;</p>
                      <p><a target="_top" href="p_largadistancia-instrucciones.html">Conozca el detalle del proceso de Ingreso, carga y distribución de usuario &lt;AQUI&gt;</a></p>
                      <p><br>
                        Para   recargar un teléfono ya registrado solo es necesario poner el número de teléfono en la parte derecha de la página Home y luego click en el botón <strong>SEARCH</strong>.   Luego un click en el balance y el sistema te lleva a la pantalla de ingreso de   dinero, ingresas la cantidad de dinero que el cliente quiere comprar y luego un   click en el botón <strong>ADD MONEY</strong>.<br>
                        <strong><br>
                        SI, así de sencillo <br>
                        </strong><br>
                      Que estás   esperando, únete ya mismo y empieza a generar ingresos vendiendo servicio de   larga distancia Internacional SIN PIN, sin dolores de cabeza, sin gastos   ocultos, sin minutos que expiran</p>
                      <p><img width="564" height="41" src="/images/cabllamadas.png"></p>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <p>
                        <iframe width="600" scrolling="auto" height="300" frameborder="0" src=" http://www.saicapellanes.biz/p_llamadas-a.html" cartão="" name="Cadastrar"></iframe>
                      <br>
                        <br>
                      </p>
                      <table cellspacing="0" cellpadding="0" border="0" width="605">
                        <tbody><tr>
                          <td width="605">&nbsp;</td>
                        </tr>
                      </tbody></table>
                    <p>&nbsp;</p></td>
                  </tr>
  <tr>
    <td></td></tr></tbody>

                </table>
                <p>&nbsp;</p>
              </div>
              <div id="right_column2">
                <p>&nbsp;</p>
                <h2>CUPÓN DE INGRESO</h2>
                <p>&nbsp;</p>
                <fieldset>
                <p>Para solicitar el sistema para que su organización  pueda vender automaticamente larga distancia por favor llene esta información primaria y un asociado de Enter@te le estará visitando.</p>
                <p>&nbsp;</p>
                <p>Este sistema no tiene costo alguno para usted.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <form action="" method="post" name="form1" id="form1">
                  <p>
                    <label><strong>Número del Asociado:</strong>
                      <input type="text" size="10" id="textfield10" name="textfield10">
                      <strong><br>
                      <br>
                    ORGANIZACIÓN: </strong>
                      <input type="text" size="40" id="textfield" name="textfield">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>RESPONSABLE</strong>:</p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Nombres:
                      <input type="text" id="textfield2" name="textfield2">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Apellidos:
                      <input type="text" id="textfield3" name="textfield3">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Dirección:
                      <input type="text" id="textfield4" name="textfield4">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Ciudad:
                      <input type="text" size="15" id="textfield5" name="textfield5">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Estado:
                      <input type="text" size="15" id="textfield6" name="textfield6">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>Teléfono:
                      <input type="text" size="10" id="textfield7" name="textfield7">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>
                    <label>correo:
                      <input type="text" id="textfield8" name="textfield8">
                    </label>
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>VENTA APROXIMADA QUE USTED CREE PUEDA VENDER:
                      <label>
                      <input type="text" id="textfield9" name="textfield9">
                    </label>
                  </strong></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>
                    <label>
                      <input type="submit" value="Enviar" id="button" name="button">
                    </label></p>
                  <p>&nbsp;</p>
                  </form></fieldset>

                  <p>&nbsp;</p>


                <p><img border="0" width="171" height="22" usemap="#Map" src="/images/vinculocg.jpg">
                  <map id="Map" name="Map">
                    <area href="p_clavellamadas.html" coords="2,0,168,18" shape="rect">
                  </map>
                </p>
                <p></p>
              </div>
          </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>