<div id="main_container">

        <div id="columns">
          <div class="column_container">
            <div id="menu"> </div>


          <div id="left_column">
   	<h1>Más Información</h1>
                    <ul>
                      <li><a href="p_pf.html">Preguntas y Respuestas Frecuentes</a></li>
                      <li><a href="p_lealtad-tablacostos.html">Costos del Programa</a></li>
                      <li><a href="p_lealtad-cost.html">Costos de Impresión Tarjetas Plásticas</a></li>
                      <li><a href="p_lealtad-comerciante-solicitud.html">Contrato de Afiliación</a></li>
                      <li><a href="p_lealtad-procedimiento.html">Procedimiento de Compra e Instalación de los Programas</a></li>
                      <li><a target="_blank" href="programas-elitenterate.pps">Presentación del programa en PowerPoint</a></li>
                    </ul>
                    <p><img border="0" width="199" height="51" usemap="#Map2" src="/images/a-text3.gif">
                      <map id="Map2" name="Map2">
                        <area href="p_viajes-a.html" coords="1,1,198,50" shape="rect">
                      </map>
                    </p>
            <p><img width="49" height="26" src="/images/spacer.gif"></p>
<ul>
<li>
                        <h2>Cómo Generar Ingresos</h2>
                      </li>
                      <li><a href="p_claveorg.html">Para Organizaciones sin Fines de Lucro</a></li>
                      <li> <a href="p_claveasoc.html">Para Comercios Asociados</a></li>
                      <li></li>
                      <li><a href="p_canal.html">Regresar</a></li>
                      <li><img width="180" height="121" src="/images/requiere.gif"></li>
                      <li><img width="180" height="368" src="/images/satisfaccion5.jpg"><br>
                      </li>
                    </ul>
</div>
              <div id="right_column">
                <h1>Programa de Lealtad, Fidelidad y de Tarjetas de Regalo para Comercios                </h1>
                <table cellspacing="0" cellpadding="0" border="0" width="699">
                  <tbody><tr>
                    <td width="699"><span class="column_bottom">
                      <object width="768" height="271" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
                        <param value="fidelityanima3.swf" name="movie">
                        <param value="high" name="quality">
                        <embed width="768" height="271" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="fidelityanima3.swf">
                      </object>
                    </span></td>
                  </tr>
                </tbody></table>
                <table cellspacing="0" cellpadding="0" border="0" dwcopytype="CopyTableRow">
                  <tbody><tr>
                    <td valign="top"><img border="0" width="768" height="290" usemap="#Map2Map" src="/images/ima-lealtad1.jpg">
                      <map id="Map2Map" name="Map2Map">
                        <area href="p_lealtad2.html" coords="211,551,31" shape="circle">
                        <area href="p_lealtad1.html" coords="718,253,29" shape="circle">
                    </map></td>
                  </tr>
                  <tr>
                    <td valign="top"><img border="0" width="768" height="285" usemap="#Map2MapMap" src="/images/ima-lealtad2.jpg">
                      <map id="Map2MapMap" name="Map2MapMap">
                        <area href="p_lealtad2.html" coords="211,551,31" shape="circle">
                        <area href="p_lealtad2.html" coords="719,249,27" shape="circle">
                    </map></td>
                  </tr>
                </tbody></table>
                <table cellspacing="0" cellpadding="0" border="0" width="100">
                  <tbody><tr>
                    <td height="103"><img border="0" width="768" height="93" usemap="#Map" src="/images/llamar.jpg"></td>
                  </tr>
                </tbody></table>
<p>&nbsp;</p><p>&nbsp; </p>
                <p></p>
            </div>
          </div>
          <div class="column_bottom">
            <h2><a>saicapellanes.biz &copy;2011</a><a></a></h2></div>
        </div>




        </div>