<div id="main_container">
        <div id="menu"> </div>

        <div id="columns">
          <div class="column_container">
            <div id="left_column">
              <h1>&nbsp;</h1>
           	    <ul>

                  <li>
                      <h2>Conózcanos</h2>
                  </li>
                    <li><a href="p_quienes.html">Quienes Somos</a></li>
                    <li> <a href="p_setrata.html">De qué se trata</a></li>
                    <li><a href="p_estrategias.html">Estratégias para el Éxito</a></li>
                    <li><a href="p_lealtad_puntos.html">Programa de Lealtad Enter@te</a></li>
                    <li><a href="p_contactos.php">Contáctenos</a></li>
                    <li><a href="p_canal.html">Regresar</a></li>
                  </ul>
                    <p></p>
              <p></p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p><br>
              </p>
</div>
              <div id="right_column">
                <h1 class="column_bottom">Estratégias para el Éxito</h1>
                <h2>&nbsp;</h2>
                <h2><img width="217" height="189" src="/images/est_1.jpg">Estrategias personales <span>para tu éxito </span></h2>
                <p><span class="Estilo41">"Descubre  Como Obtener Grandes Resultados"</span><br>
                  En  este plan de negocios<strong> NO ES UN MULTINIVEL</strong>,&nbsp; pero encontrara en el proveedores de  productos y servicios con la opción de Multinivel. <br>
                  A<strong>demás Podrás Desarrollar Tu Propio  Negocio Con Tu(s) Propio(s) producto(s) y Servicio(s). </strong></p>
                <p><strong>Paso  x Paso llegarás de forma efectiva a sus objetivos.</strong><a href="#"></a></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="bg"></div>
                <img width="217" height="189" class="floated" alt="img" src="/images/est_2.jpg">
                <h2 align="left">Lo que debes saber para <a id="prospecta" name="prospecta"></a><span>prospectar inteligentemente en tu negocio</span></h2>
                <p><strong>• Descubre como prospectar de manera  inteligente y estratégica. </strong><br>
                  <br>
                  <strong>• Aprende como sentirte seguro al  hablar de tu propuesta de negocio. </strong><br>
                  <br>
                  <strong>• Aplica éstos en todo momento y tu  proceso de prospección se convertirá en instrumento exitoso para crear una fuerte  organización. </strong></p>
                <div class="bg"></div>
                <h2>&nbsp;</h2>
                <h2>&nbsp;</h2>
                <h2><img width="217" height="189" class="floated" alt="img" src="/images/est_3.jpg">Tips para administrar<span> tu tiempo de manera <a id="tips" name="tips"></a>eficaz </span></h2>
                <p>A veces en el transcurso del día estamos en  muchas tareas y al final nos damos cuenta que no hemos podido avanzar los temas  pendientes como quisiéramos. Es más, estamos inmersos en nuestra propia rutina  que no nos damos cuenta que tanto valoramos ese recurso tan escaso y preciado  como es el TIEMPO. <br>
  &nbsp; <br>
                  Ahora, ¿Qué tanto las personas sabemos  aprovecharlo? A diferencia de otras cosas, el tiempo jamás se recupera, podemos  recuperar dinero, objetos, etc. pero el tiempo no, pasa y no hay oportunidad de  retroceder <br>
  &nbsp; <br>
                  Por ello, debemos tener la capacidad de  organizar adecuadamente nuestro tiempo en los diversos espacios donde nos  desenvolvemos: <br>
  &nbsp; <br>
  <span class="subtitulo">ORGANIZATE:</span> Aprende a diferenciar como quieres  administrar tu tiempo, para ello, quien tiene la última palabra eres tú.  Administra tu tiempo de acuerdo a tus objetivos personales y de allí marca la  pauta, tratando de cumplir con tus compromisos personales. <br>
  &nbsp;<span class="subtitulo"> <br>
    ENUMERA:</span> Enumera todos los temas pendientes  que tienes que realizar, considera todas las ideas que se te vengan a la mente. <br>
  &nbsp; <br>
  <span class="subtitulo">CLASIFICA:</span> Una vez que has enumerado los temas  pendientes, debes clasificarlos según las áreas de tu vida (familia, trabajo,  estudios, etc.) porque cada área tiene que tener su atención y espacio, no  puedes dedicarte más a una que a otra. <br>
  &nbsp; <br>
  <span class="subtitulo">PRIORIZA:</span> Cuando queremos aprovechar mejor el  tiempo, es importante que sepas priorizar que es realmente IMPORTANTE hacer,  hay veces que desperdiciamos el tiempo de una manera poco provechosa,  realizando tareas que no son fundamentales y que incluso podrían se realizados  por otras personas. <br>
  &nbsp; <br>
  <span class="subtitulo">ELABORA UN PLAN DE TRABAJO:</span> Trata de tener los  pasos concretos de lo que quieres hacer en tu día a día, esto se traduce en un  plan de trabajo. Allí podrás ver que actividades requieren tu atención directa  y en cuales podrías solicitar el apoyo de otras personas. <br>
  &nbsp; <br>
  <span class="subtitulo">ESTABLECE METAS:</span> Define que quieres lograr y  aprende a establecer tiempo. Por ejemplo: </p>
                <ul class="Estilo6">
                  <li>
                    <p>&nbsp;<strong>Terminar el inventario  en el lapso de 3 días máximo el (día), (mes), (año) </strong></p>
                  </li>
                  <li class="Estilo8">
                    <p class="Estilo8"><strong>Organizar mi biblioteca en el lapso de 1 semana máximo el (día),  (mes), (año) </strong></p>
                  </li>
                  <li>
                    <p><strong>&nbsp;Terminar de hacer el informe  de alguna actividad en 2 días……..etc </strong></p>
                  </li>
                </ul>
                <p><span class="subtitulo">DELEGA:</span> Si bien nos gustaría tener  disponibilidad de hacer todas las cosas nosotros mismos, a veces no es posible,  aprende a delegar algunas tareas tanto en tu hogar, trabajo, estudios, etc.,  que te faciliten el manejo de tu tiempo, quizás con un pago simbólico algún  familiar o amistad te puede ayudar a realizar algunas tareas, de esta forma, no  sólo te beneficias tú, sino también ayudas a otras personas. <br>
  &nbsp; <br>
  <span class="subtitulo">SE PRACTICO/CA</span>: Aprende a ser práctico en tu trabajo,  por ejemplo, si tu labor es hacer informes técnicos, cartas, documentos, etc.  acostúmbrate a utilizar plantillas de diseño único, esto te permitirá ahorrarte  mucho tiempo porque no tendrás que diseñar a cada momento sino tendrás la  estructura armada lista para actualizarte. Dedica tus energías a lo que  realmente te pueda favorecer. <br>
  &nbsp; <br>
  <span class="subtitulo">EVITA DISTRACTORES:</span> Si quieres ser una persona  que administra su tiempo con eficiencia, aprende a evitar elementos  distractores, por ejemplo, en la oficina cuando se usa el Messenger, Chat,  redes sociales, entre otros. Trata de centrarte en tu objetivo y dedícate a  ello principalmente. <br>
  &nbsp; <br>
  <span class="subtitulo">EVALUA TUS AVANCES</span>: Trata de elaborar un  cronograma de trabajo, donde puedas evaluar los avances que has realizado. Si  lo consideras, puedes digitarlo en una plantilla de Excel y tenerlo disponible  en alguna parte de tu casa, oficina, cuarto de estudios, entre otros. <br>
  &nbsp;&nbsp; </p>
                <blockquote> <span class="Estilo10">Recuerda, el tiempo no es  sólo lo que marca el reloj o lo que señala el calendario, está relacionado a  nuestra misma esencia como seres humanos, mientras tengamos vida tendremos  capacidad de reconocerlo, valorarlo y sobre todo, aprovechar. </span></blockquote>
                <p class="Estilo9">&nbsp;</p>
                <div class="bg"></div>
                <img width="217" height="189" class="floated" alt="img" src="/images/est_4.jpg">
                <h2>Consejos para <span>administrar tus ingresos mensuales </span></h2>
                <p>Las finanzas personales muchas veces son un  gran dolor de cabeza, dado que los gastos vienen y van día a día y no podemos  llegar a fin de mes con lo que percibimos por nuestro trabajo. Para que puedas administrar  adecuadamente tus recursos, debes tener en cuenta lo siguiente: Lo que percibes  actualmente por tu trabajo, ¿te resulta suficiente?. <br>
  &nbsp; <br>
                  En este sentido, es importante que tengas  presente que la mayoría de personas, estén en la ocupación que estén, tienen la  sensación que sus ingresos <strong><u>no le alcanzan para cubrir sus necesidades principales.</u></strong> <br>
  &nbsp; <br>
                  De esta manera surge la necesidad que cada  persona aprenda a manejar correctamente sus ingresos , para ello, es importante  que aprendas a elaborar un presupuesto mensual a fin que no tengas sorpresas  desagradables culminando el&nbsp; mes sin  dinero con el cual desenvolverte, para ello, a continuación&nbsp; te indicamos a algunos puntos que debes tener  en cuenta para que tu presupuesto te sea suficiente en este tiempo, <br>
  &nbsp; <br>
  <span class="subtitulo">1.&nbsp;&nbsp; ELABORA UN  PRESUPUESTO:</span> Es importante que tengas definido cuáles son los gastos urgentes  que tienes que hacer cada mes. Por ejemplo, de tu ingreso mensual <br>
  &nbsp; <br>
  <strong>50% Familia y gastos personales <br>
    30% Pagos de deudas y compromisos <br>
    15% Ahorro <br>
    5%&nbsp; Diversión</strong> <br>
  &nbsp; <br>
                  A medida que vayas disminuyendo tus deudas, podrás incrementar  tus gastos en familia, ahorro y diversión, pero primero debes tener un buen  equilibrio financiero. <br>
  &nbsp; <br>
  <span class="subtitulo">2.&nbsp;&nbsp;&nbsp;APUNTA TODOS TUS  GASTOS:</span> Aprende a manejar una agenda pequeña donde apuntes tus gastos, ahí te  darás cuenta como es que se te va el dinero. A veces un simple helado o  merienda a media mañana puede parecer insignificante diariamente, pero  mensualmente son significativos, si de cuentas se trata, comprar un dulce  diario, que te cueste 3$ en un mes de 30 días son 90$ que gastas y en un año  1095$ que podrías tener en tu cuenta de ahorros. <br>
  &nbsp; <br>
                  No queremos decir aquí que te prives de las cosas buenas de la  vida, sino que cada vez que vayas a abrir tu billetera, analices si el gasto  que vas a realizar vale realmente la pena. <br>
  &nbsp; <span class="subtitulo"><br>
    3.&nbsp; EVITA LAS TARJETAS DE  CREDITO:</span> En la medida de lo posible, debes mantenerlas muy lejos de ti, contar  con dinero plástico te perjudica enormemente cuando no sabes administrarlo. <br>
  &nbsp; <br>
                  Trata de pagar a&nbsp; fin de  mes todos tus consumos y evita el pago mínimo porque esto hará que no puedas  terminar las deudas pronto, debido a los intereses que finalmente, tendrás que  pagar. Las tarjetas de crédito te dan una sensación de falsa seguridad, por lo  que es preferible usar las tarjetas de debito porque tendrás control real de  tus gastos. <br>
  &nbsp; <br>
                  Recuerda, dinero que te prestas, es dinero que devolverás con  intereses, Ten presente que los bancos tienen un negocio a través de este  sistema, no te dan una línea de crédito porque seas una buena persona sino  porque hacen ganancias a través de ti. <br>
  &nbsp; <br>
  <span class="subtitulo">4.&nbsp;&nbsp;&nbsp;&nbsp;AHORRA: </span>&nbsp; &nbsp;Aprende  a ahorrar entre el 10% y 20% de tus ingresos mensuales, a fin que puedas  generarte un pequeño fondo para ti y tu familia. Preferible es que deposites  tus ahorros en cuentas a plazo fijo, que te darán un interés progresivamente.  También tienes la opción de colocar parte de tus ahorros en fondos de inversión  pero antes infórmate bien a fin no tengas sorpresas desagradables, preferible  es usar sólo un porcentaje de tus ahorros para este tipo de acción. <br>
  &nbsp; <br>
  <span class="subtitulo">5.&nbsp;&nbsp;&nbsp; TEN UN SEGURO DE  SALUD</span>: Preferible es pagar un buen seguro que cubra cualquier eventualidad a  terminar endeudándote, compra un buen plan familiar y utiliza los servicios  disponibles, como son servicios dentales, oculista, chequeos generales, etc. <br>
  <strong>&nbsp;</strong> <br>
  <span class="subtitulo">6&nbsp;&nbsp;&nbsp; HAZ ALGUN DINERO  EXTRA:</span> Cuando te falte el dinero, trata de hacer algún ingreso adicional que te  pueda ser de&nbsp; utilidad. Quizás tengas una  habilidad determinada que te puede generar ingresos, como dictar cursos, vender  manualidades, vender artículos a tus amistades, etc <br>
  &nbsp; <span class="subtitulo"><br>
    7.&nbsp;&nbsp; EVITA LOS GASTOS  SUPERFICIALES:</span> Aprende a diferenciar lo que es verdaderamente importante para  ti. Muchas personas se endeudan en gastos innecesarios como son joyas, viajes,  placeres, ropas caras, etc&nbsp; sin que  tengan la capacidad adquisitiva de hacerlo. A medida que mejoren tus finanzas,  podrás progresivamente darte algunos caprichos, pero mientras tanto, no lo  hagas, gasta dependiendo de tu presupuesto. <br>
  &nbsp; <span class="subtitulo"><br>
    8.&nbsp;&nbsp;&nbsp;&nbsp;SI VAS A PEDIR UN  CREDITO, QUE SEA PARA ALGO PROVECHOSO:</span> Los créditos te pueden servir para  proyectarte y superarte, por ejemplo, un crédito para estudiar un curso que te  de mayores posibilidades laborales, para un negocio, para adquirir una casa y  dejes de alquilar, entre otros, son gastos con fundamento y que te permitirán  mejorar tu calidad de vida, por tanto, no los descartes, pero aprende a ser  respetuoso de tus compromisos. <br>
  &nbsp; <br>
  <span class="subtitulo">9.&nbsp;&nbsp;&nbsp;EVALUA TUS COMPRAS:</span> Cuando vayas a comprar aprovecha las ofertas de los centros comerciales,  invierte en cosas que te pueden durar mucho, por ejemplo, si va a comprar ropa,  invierte en alguna prenda de buena calidad que realmente te durará, no  necesariamente debe ser un producto caro, hay muy buenos productos pero no de  marcas conocidas, que te pueden servir mucho y sobre todo, te durarán. </p>
                <p>&nbsp;</p>
                <div class="bg"></div>
                <h2><img width="217" height="189" class="floated" alt="img" src="/images/est_5.jpg">¿Cómo te <span>organizas? </span><a id="como" name="como"></a></h2>
                <p>El actual escenario donde nos encontramos  inmersos, influye en que las personas estemos expuestas a situaciones de mucha  presión y exigencia en nuestra vida personal, laboral, académica, entre otras. <br>
                  &nbsp; <br>
                  En este marco, la competencia es común día a  día y tenemos que generar productos para ser rápidamente valorados y  considerados. <br>
                  &nbsp; <br>
                Hay muchas formas de poder afrontar este tipo  de situaciones,&nbsp; y eso implica ser  organizado y tener la capacidad de administrar adecuadamente el tiempo que  tenemos, nuestros recursos (personales como materiales), etc. A continuación te  damos algunas ideas de lo que debes hacer para organizarte:</p>
                <p><span class="subtitulo">DEFINE TU TIEMPO:</span> Si no sabes lo que quieres, ¿Cómo podrías avanzar? Es  importante que tengas claro cual es tu objetivo de vida, a donde quieres llegar  y hacia donde quieres posicionarte. <br>
                  &nbsp; <br>
                  <span class="Estilo12">GESTION DEL TIEMPO:</span> El tiempo es un recurso invaluable porque es  algo que jamás se recupera, la vida nos da horas, minutos y segundos que  debemos saber aprovechar para alcanzar el éxito en tu vida. Recuerda, organiza  tu tiempo para: Tu familia, tu trabajo, tu profesión y estudios, diversión  (amistades). Debe haber un equilibrio entre todas las áreas donde distribuyes  tu tiempo pero no quites a una por otra, pero recuerda, sin un grupo intimo  como es la familia y amigos, no podrás tener estabilidad, es fundamental la  calidad de tiempo a tus seres queridos. En gestión del tiempo incluye ser  puntual en tus compromisos. <br>
                  <strong>&nbsp;</strong> <br>
                  <strong class="subtitulo"><span class="Estilo12">FORMA HÁBITOS: </span></strong> El hábito se hace costumbre y lo mejor es tener costumbres  positivas, trata de ser constante en algo que quieras hacer y aprende a ser  persistente. <br>
                  &nbsp; <br>
                  <strong class="subtitulo"><span class="Estilo12">PERSISTENCIA: </span></strong> La única forma que una persona pueda desarrollarse en la vida es  siendo persistente, no hay otra forma, la necesidad de dar ese esfuerzo extra  implica que no nos desmoralicemos ni rindamos&nbsp;  a la primera. <br>
                  &nbsp; <br>
                  <strong class="subtitulo"><span class="Estilo12">AUTODISCIPLINA: </span></strong> Si tienes un objetivo  claro y un plan hecho, tienes que ser constante y empezar a definir pasos  concretos que puedas avanzar. Uno de los principales retos es ser auto  disciplinado, es decir, que tengas la capacidad de comprometerte a algo y tener  la voluntad de cumplirlo. <br>
                  &nbsp; <br>
                  <strong class="subtitulo"><span class="Estilo12">PLANIFICA:</span>:</strong> La planificación nos permite organizar adecuadamente nuestras  acciones,&nbsp; ¿Cómo crees que se construye  un edificio?,&nbsp; o cualquier obra o diseño.  Primero se hace un PLAN que permita dar cimientos sólidos. Todo parte de un  proceso de planificación personal, de organización metódica, no importa donde  estés ni de donde seas. &nbsp;<br>
                  &nbsp; <br>
                  <strong class="subtitulo"><span class="Estilo12">GENERA NUEVAS IDEAS:</span></strong> Trata de destacar proponiendo nuevas ideas y actividades, eso te  dará un valor agregado y serás valorado por las personas que te rodean. <br>
                  &nbsp; <span class="subtitulo"><br>
                    <strong>MANTEN  EL ENTUSIASMO:</strong></span> Sea cual sea lo que tengas previsto empezar, no pierdas el  entusiasmo, porque te dará la energía adicional para tener éxito en lo que  emprendas. <br>
                  &nbsp; <br>
                Estas son algunas ideas, esperemos que te hayan gustado.</p>
                <p>&nbsp;</p>
<p></p>
            </div>
              <div id="right_column2">
                <h2><img border="0" width="267" height="445" usemap="#Map" src="/images/fondo4.jpg">
                  <map id="Map" name="Map">
                    <area target="_blank" href="http://www.mastercard.us/cardholder-services/atm-locator.html" coords="44,138,219,176" shape="rect">
                    <area target="_blank" href="http://www.allpointnetwork.com/" coords="92,242,164,282" shape="rect">
                    <area target="_blank" href="http://www.accelexchange.com/atmLocator.aspx" coords="38,343,221,382" shape="rect">
                    <area target="_blank" href="http://www.star.com/locator/" coords="76,38,129,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="9,43,73,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="133,37,256,81" shape="rect">
                  </map>
                </h2>
<h2>&nbsp;</h2>
<p>&nbsp;</p>

                <br>
<p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a href="http://www.bryantsmith.com/template">solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>




        </div>