<div id="main_container">

        <div id="columns">
          <div id="menu"> </div>
          <div class="column_container">
          <div id="left_column">
           	    <h1>&nbsp;</h1>
           	    <ul>
                    <li>
                      <h2>Conózcanos</h2>
                    </li>
                    <li><a href="p_quienes.html">Quienes Somos</a></li>
                    <li> <a href="p_setrata.html">De qué se trata</a></li>
                    <li><a href="p_estrategias.html">Estratégias para el Éxito</a></li>
                    <li><a href="p_lealtad_puntos.html">Programa de Lealtad Enter@te</a></li>
                    <li><a href="p_contactos.php">Contáctenos</a></li>
                    <li><a href="p_canal.html">Regresar</a></li>
                  </ul>
                  <p></p>
              <p></p>
<p></p>
<p>
</p>
<p>&nbsp;</p>
                    <p><br>
              </p>
</div>
              <div id="right_column">
                <h1 class="column_bottom">¿De qué se trata?</h1>
                <h2>&nbsp;</h2>
                <p><strong>De una actividad  comercial independiente basada en TI, con un soporte de &nbsp;productos y servicios de primera necesidad</strong>,  tomando en cuenta la calidad de los mismos, &nbsp;Además podrás crear tu propia idea del negocio  soñado que no has logrado, se te dará el conocimiento idóneo para la <strong>CREACIÓN  DE TU PROPIO EQUIPO</strong>, basándote en el formidable plan de marketing de la compañía.</p>
                <p>&nbsp;</p>
                <a href="#"></a>
                <div class="bg"></div>
                <img width="217" height="189" class="floated" alt="img" src="/images/strata_banner2.jpg">
                <h2 align="left">Te ofrecemos <span>construir tu <a id="negocio" name="negocio"></a>propio negocio </span></h2>
                <p><strong>Tienes la oportunidad  de crear tu propio negocio desde tu casa u oficina</strong>. Puedes desarrollarlo al  nivel que tú desees. &nbsp;<br>
                  No se trata de trabajos manuales, cadenas de  dinero o engaños de esquemas piramidales ilegales.</p>
                <p>&nbsp;</p>
                <p> No es tele marketing, &nbsp;Tampoco es ninguno de los "trabajos"  que suelen pulular por Internet, que amparándose en el anonimato tratan de  timar y manipular a la gente con falsos negocios.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="bg"></div>
                <h2 align="left"><img width="218" height="210" class="floated" alt="img" src="/images/strata_banner3.jpg">Es un <span>negocio real </span><a id="real" name="real"></a></h2>
                <p>Se trata de un negocio  real mediante el cual puedes ganarte la vida y hacerlo de una manera honrada,  divertida, disfrutando del trabajo, lo más importante que harás un negocio  propio de ingresos permanentes el cual podrás heredar a tu familia.&nbsp; &nbsp;además, tu negocio contara con tecnología de  punta. &nbsp;</p>
                <p>&nbsp;</p>
                <p><strong>Lo excepcional de esta, es  que tratándose de un negocio real, es diferente a cualquier otro porque es un negocio...</strong></p>
                <div class="bg"></div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
<p><img width="218" height="210" class="floated" alt="img" src="/images/strata_banner4.jpg">
            </p>
                <h2>Esta es una <span>oferta de <a id="seria" name="seria"></a>negocios seria, para personas serias </span></h2>
                <p>Precisamente, por  tratarse de una oferta real de negocios y seria, es que te hemos invitado a  conocerla, estamos en continua expansión, toda persona interesada tiene que ser  seria para poder cualificar, además tiene que encajar en un perfil determinado  que hemos definido como el idóneo para esta actividad comercial.</p>
                <p>&nbsp;</p>
                <p>Nuestra compañía ofrece  realidades, por eso queremos asegurarnos de incorporar a personas que sean  válidas para nuestra oferta de negocios o con el potencial básico para  garantizar, con la formación adecuada, tanto su crecimiento como el nuestro.</p>
                <p>&nbsp;</p>
                <p>Nuestro sistema empieza  por filtrar a los curiosos y a las personas interesadas con el fin de que  únicamente los que satisfagan los requisitos que hemos fijado se sumen a  nuestra compañía primeramente como colaboradores y dependiendo de si, mismo,  tendrá el derecho rápidamente de tener su propio negocio permanentemente.&nbsp;</p>
                <p>&nbsp;</p>
                <p></p>
            </div>
              <div id="right_column2">
                <h2><img border="0" width="267" height="445" usemap="#Map" src="/images/fondo4.jpg">
                  <map id="Map" name="Map">
                    <area target="_blank" href="http://www.mastercard.us/cardholder-services/atm-locator.html" coords="44,138,219,176" shape="rect">
                    <area target="_blank" href="http://www.allpointnetwork.com/" coords="92,242,164,282" shape="rect">
                    <area target="_blank" href="http://www.accelexchange.com/atmLocator.aspx" coords="38,343,221,382" shape="rect">
                    <area target="_blank" href="http://www.star.com/locator/" coords="76,38,129,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="9,43,73,76" shape="rect">
                    <area target="_blank" href="http://visa.via.infonow.net/locator/lac/jsp/SearchPage.jsp?LOC=es" coords="133,37,256,81" shape="rect">
                  </map>
                </h2>
<h2>&nbsp;</h2>
<p>&nbsp;</p>

                <br>
<p>&nbsp;</p>
<p></p>
              </div>



            </div>
          <div class="column_bottom">
            <h2><a href="http://www.bryantsmith.com/template">solotarjetas.net &copy;2011</a><a></a></h2></div>
        </div>
</div>